@import "_mixin.scss";
$primary: #4396f7;
:root {
	--primary: #{$primary};
}

color .wrap {
	max-width: 1170px;
	margin: 0 auto;
}
@media (max-width: 767.98px) {
	.subheader__title--sm {
		font-size: 22px;
	}
}

.header-block {
	padding-top: 50px;
	&__text {
		font-size: 14px;
		line-height: 25px;
		color: #787878;
	}
	.link-back {
		padding: 8px;
		max-width: 170px;
		max-height: 34px;
		font-size: 13px;
		line-height: 16px;
		color: #787878;
		border-radius: 5px;
		margin-bottom: 30px;
		&:before {
			content: "";
			width: 18px;
			height: 13px;
			background: url(../img/arrow--left.svg) no-repeat;
			background-position: left center;
			margin-right: 15px;
			background-size: cover;
		}
	}
}

.questions {
	--size: 24px;
	display: flex;
	@include roww(var(--size), m);
	flex-wrap: wrap;
	counter-reset: num;
	position: relative;
	overflow: hidden;
	&__item {
		position: relative;
		margin-top: calc((var(--size) - 8px) / 2);
		margin-bottom: calc((var(--size) - 8px));
		&::after {
			@include mt;
			content: counter(num);
			counter-increment: num;
			border: 1px solid $primary;
			border-radius: 50%;
			position: absolute;
			width: var(--size);
			height: var(--size);
			inset: calc(50% - var(--size) / 2);
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #fff;
			opacity: 0;
			font-size: 10px;
			line-height: 144%;
		}
		&::before {
			content: "";
			position: absolute;
			width: var(--size);
			height: 1px;
			background-color: #fff;
			top: 4px;
			left: 100%;
		}
		@include mt;
		width: 9px;
		height: 9px;
		border-radius: 50%;
		background-color: rgba($color: #787878, $alpha: 0.2);
		&--done {
			background-color: $primary;
			&::before {
				background-color: $primary;
			}
		}
		&--current {
			background-color: $primary;
			&::after {
				opacity: 1;
			}
		}
	}
}

.model {
	@media (max-width: 991.8px) {
		padding-top: 30px;
		padding-bottom: 20px;
	}
	padding-top: 60px;
	padding-bottom: 40px;
	&__title {
		font-size: 22px;
		line-height: 26px;
		margin-bottom: 40px;
	}

	&__subtitle {
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
		color: $primary;
		margin-bottom: 15px;
	}
}

.row--main {
	@include roww(24px);
}
.row--sub {
	@include roww(8px);
}

.custom-radio-block {
	display: block;
	position: relative;
	z-index: 2;
	min-height: 75px;
	padding: 12px 10px;
	margin-bottom: 15px;
	cursor: pointer;
	@media (min-width: 768px) {
		max-width: 170px;
		min-height: 105px;
	}

	&__input {
		@include mt;
		appearance: none;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 1px solid rgba(67, 150, 247, 0.2);
		border-radius: 5px;
		cursor: pointer;
		&:checked {
			background: rgba(67, 150, 247, 0.2);
			border: 2px solid $primary;
		}
	}

	&__title {
		font-size: 14px;
		line-height: 17px;
		color: #000000;
		display: block;
	}
	&__text {
		font-size: 12px;
		line-height: 14px;
		color: #787878;
		display: block;
	}
}

.diagram {
	@media (max-width: 991.8px) {
		padding-top: 30px;
	}
	padding-top: 60px;
	&__result {
		position: relative;
		margin-bottom: 20px;
		svg {
			max-width: 100%;
		}
	}
	&__note {
		// position: absolute;
		font-weight: bold;
		font-size: 16px;
		line-height: 26px;
		color: #000;
		span {
			color: #4c9464;
		}
	}
	&__title {
		font-weight: bold;
		font-size: 18px;
		color: #000000;
		margin-bottom: 0;
	}
	&__sub {
		font-size: 12px;
		line-height: 14px;
		color: #787878;
		@media (max-width: 991.8px) {
			margin-bottom: 20px;
		}
		margin-bottom: 40px;
	}
	&__text {
		font-weight: normal;
		font-size: 14px;
		line-height: 22px;
		color: #787878;
		@media (max-width: 991.8px) {
			margin-bottom: 15px;
		}
		margin-bottom: 30px;
	}
	&__link {
		display: block;
		font-weight: bold;
		font-size: 14px;
		line-height: 22px;
		color: $primary;
		margin-bottom: 10px;
	}
	.btn-primary--light {
		@media (max-width: 991.8px) {
			margin-top: 20px;
		}
		margin-top: 65px;
	}
}
.btn-primary--light {
	background: linear-gradient(180deg, $primary 0%, rgba(188, 217, 252, 0.357641) 52.36%, rgba(255, 255, 255, 0) 100%),
		#0a8be4 !important;
	border: 1px solid #1d94e6;
	border-radius: 5px;
	font-weight: normal;
	font-size: 16px;
	padding: 9px 36px;
	white-space: normal;
}

.interview {
	padding-bottom: 10px;

	&__subtitle {
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
		color: $primary;
		margin-bottom: 20px;
	}
	.custom-radio-block {
		min-height: 55px;
		display: flex;
		justify-content: center;
		align-items: center;
		&__title {
			text-align: center;
		}
	}
	&__question {
		font-weight: bold;
		font-size: 24px;
		line-height: 144%;
		color: #000000;
		max-width: 700px;
		padding: 30px 0 35px 0;
	}
	.btn-primary--light {
		margin-top: 15px;
	}
}

.res-i {
	width: 100%;
	height: auto;
}

.science-year {
	margin-top: 80px;
	padding: 25px 20px;
	@media (max-width: 576px) {
		padding: 25px 15px;
	}
	background-image: url(../img/science-year.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	&__img-wrap {
		max-width: 322px;
		@media (max-width: 991.8px) {
			margin-bottom: 15px;
		}
	}
	&__img {
		max-width: 278px;
		min-width: 270px;
		img {
			width: 100%;
		}
	}
	p {
		font-size: 16px;
		line-height: 180%;
		color: #000000;
		margin-bottom: 30px;
		max-width: 820px;
		@media (max-width: 576px) {
			font-size: 14px;
			line-height: 160%;
			margin-bottom: 20px;
		}
	}
	.btn-primary--light {
		padding-left: 20px;
		padding-right: 20px;
		@media (max-width: 576px) {
			width: 100%;
			margin-bottom: 10px;
		}
	}
}

.science-edge {
	margin-top: 80px;
	padding: 60px 15px;
	@media (max-width: 576px) {
		padding: 25px 15px;
	}
	@media (max-width: 1199.8px) {
		padding: 25px 20px;
	}

	background-image: url(../img/science-edge.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	h3 {
		font-weight: bold;
		line-height: 100%;
		color: #ffffff;
		text-transform: uppercase;
		font-size: 34px;
		@media (max-width: 1199.8px) {
			font-size: 28px;
		}
		@media (max-width: 575.8px) {
			font-size: 26px;
		}

	}

	&__img-wrap {
		max-width: 367px;
		width: 100%;
		@media (max-width: 991.8px) {
			margin-bottom: 15px;
		}
	}
	&__img {
		max-width: 278px;
		min-width: 270px;
		img {
			width: 100%;
		}
	}
	p {
		font-size: 16px;
		line-height: 180%;
		color: #ffffff;
		margin-bottom: 30px;
		max-width: 820px;
		@media (max-width: 576px) {
			font-size: 14px;
			line-height: 160%;
			margin-bottom: 20px;
		}
	}
	.btn-primary--light {
		padding-left: 20px;
		padding-right: 20px;
		@media (max-width: 576px) {
			width: 100%;
			margin-bottom: 10px;
		}
	}
}

:root {
	--size-dot: 13px;
	--ell: 450px;
	@media (max-width: 767.98px) {
		--ell: 300px;
	}
	--ellX: translateX(calc(-1 * (var(--ell) - 40px) / 2));
	--degStart: 105deg;
	--degStep: 30deg;
	--step: 1;
}

.diagram-block {
	// margin-top: 20px;
	height: var(--ell);
	position: relative;
	@media (max-width: 767.98px) {
		margin-left: auto;
		margin-right: auto;
		width: var(--ell);
		height: var(--ell);
	}
}
// 	@include block;
// 	.chartjs-size-monitor{
// 		display: none;
// 	}
// 	canvas{
// 		@include a-cent;
// 		width: 100% !important;
// 		height: 100% !important;
// 	}
// }

#tooltip {
	background-color: #333;
	color: white;
	padding: 5px 10px;
	border-radius: 4px;
	font-size: 13px;
}

.diagram-block-item {
	position: absolute;
	border: 2px solid $primary;
	border-radius: 50%;
	border-radius: 50%;
	width: calc(var(--size-dot) * 2);
	height: calc(var(--size-dot) * 2);
	// top: var(--size-dot);
	// left: calc(50% - var(--size-dot));
	@include a-cent;
	// transform-origin: 100% 26px;
	background-color: #fff;
	cursor: pointer;
	&::before {
		content: "";
		@include a-cent;
		width: 80%;
		height: 80%;
		border-radius: 50%;
		opacity: 0;
		@include mt;
		background-color: $primary;
	}
	&:hover {
		&::before {
			opacity: 1;
		}
	}

	@for $i from 1 through 12 {
		&:nth-child(#{$i}) {
			transform: rotate(calc(var(--degStart) + var(--degStep) * #{$i})) var(--ellX);
			.diagram-block-item__title,
			.diagram-block-item-toltip {
				transform: rotate(calc(-1 * (var(--degStart) + var(--degStep) * #{$i})));
			}
		}
	}
	&:hover,
	&.active{
		.diagram-block-item__title{
			background-color: $primary;
			color: #fff;
		}

	}
	&:nth-child(1) {
		 .diagram-block-item__title{
			 top: -86px;
    	left: -200px;
		 }
	}
	&:nth-child(2) {
		 .diagram-block-item__title{
			 top: -49px;
    	left: -188px;
		 }
	}
	&:nth-child(3) {
		 .diagram-block-item__title{
			 top: 6px;
    		left: -197px;
		 }
	}
	&:nth-child(4) {
		 .diagram-block-item__title{
				top: 53px;
    left: -184px;
		 }
	}
	&:nth-child(5) {
		 .diagram-block-item__title{
			    top: 53px;
    right: 11px;
		 }
	}
	&:nth-child(6) {
		 .diagram-block-item__title{
			    top: -52px;
					right: 1px;
		 }
	}
	&:nth-child(7) {
		 .diagram-block-item__title{
			    top: -103px;
    right: 58px;
		 }
	}
	&:nth-child(8) {
		 .diagram-block-item__title{
			    top: -53px;
    right: 58px;
		 }
	}
	&:nth-child(9) {
		 .diagram-block-item__title{
			top: -31px;
    	right: 45px;
		 }
	}
	&:nth-child(10) {
		 .diagram-block-item__title{
			 top: 34px;
    right: 36px;
		 }
	}
	&:nth-child(11) {
		 .diagram-block-item__title{
			 top: 24px;
    right: 36px;
		 }
	}
	&:nth-child(12) {
		 .diagram-block-item__title{
			 top: -50px;
			right: 30px;
		 }
	}
}

.diagram-block-item__title{
	padding: 1rem 5px;
	background: #FFFFFF;
border-radius: 10px;
box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
text-align: center;
font-size: 12px;
width: 170px;
min-height: 57px;
line-height: (14 / 12);
cursor: pointer;
@include mt;


}

.diagram-block-item-toltip {
	position: absolute;
	background: #ffffff;
	box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
	border-radius: 30px 16px 16px 30px;
	top: 50%;
	padding: 10px;
	min-width: 320px;
	font-size: 14px;
	&::before {
		content: attr(data-title);
	}
	&::after {
		content: "";
		@include a-cent1(y);
		right: -5px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: #fff;
	}
}

// .diagram-block-item-toltip{
// 	 background-color: #333;
// 	 color: white;
// 	 padding: 5px 10px;
// 	 border-radius: 4px;
// 	 font-size: 13px;
// }

.tooltipster-base {
	background-color: #fff;
	box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	padding: 10px;
	padding-bottom: 0;
	height: auto !important;
	font-size: 12px;
	line-height: 1.2;
}



.science-edge {
	margin-top: 80px;
	padding: 60px 15px;
	background-image: url(../img/blue-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@media (max-width: 576px) {
	.science-edge {
		padding: 25px 15px;
	}
}

@media (max-width: 1199.8px) {
	.science-edge {
		padding: 25px 20px;
	}
}

.science-edge h3 {
	font-weight: bold;
	line-height: 100%;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 34px;
}

@media (max-width: 1199.8px) {
	.science-edge h3 {
		font-size: 28px;
	}
}

@media (max-width: 575.8px) {
	.science-edge h3 {
		font-size: 26px;
	}
}

.science-edge__img-wrap {
	max-width: 367px;
	width: 100%;
}

@media (max-width: 991.8px) {
	.science-edge__img-wrap {
		margin-bottom: 15px;
	}
}

.science-edge__img {
	max-width: 278px;
	min-width: 270px;
}

.science-edge__img img {
	width: 100%;
}

.science-edge p {
	font-size: 16px;
	line-height: 180%;
	color: #ffffff;
	margin-bottom: 30px;
	max-width: 820px;
}

@media (max-width: 576px) {
	.science-edge p {
		font-size: 14px;
		line-height: 160%;
		margin-bottom: 20px;
	}
}

.science-edge .btn-primary--light {
	padding-left: 20px;
	padding-right: 20px;
}

@media (max-width: 576px) {
	.science-edge .btn-primary--light {
		width: 100%;
		margin-bottom: 10px;
	}
}


.diagram-block-item{
	
}

.diagram-block-item__title{
	position: absolute;
}

.col-border{
	border-left: 1px solid #000000;
	padding-left: 30px;
}
.diagram__content-right{
	font-size: 14px;
	max-width: 400px;
	ul{
		padding-left: 20px;
	}
	li::marker{
		color: $primary;
	}
	p{
		font-size: 14px;
	}
}
.accordion{
	&__head{
		font-weight: bold;
		position: relative;
		cursor: pointer;

	}
	&__head-plus{
		width: 1rem;
		height: 1rem;
		position: absolute;
		right: 0;
		top: 5px;
		&::before,
		&::after{
			content: '';
			width: 1rem;
			height: 2px;
			@include a-cent;
			background-color: $primary;
			@include mt;

		}
		&::after{
			transform: rotate(90deg);
		}
		
	}
	&.active &__head-plus{
		
		&::after{
			transform: rotate(0);
		}
	}
	p{
		margin-bottom: 0;
	}
	margin-bottom: 1rem;
	&:not(.active) &__body{
		display: none;
	}
}

.toggle-content:not(.active) {
	display: none;
}