doctype html
html(lang='ru-RU')
	// Mirrored from scienceid.net/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Feb 2021 09:33:21 GMT
	// Added by HTTrack
	head
		meta(http-equiv='content-type' content='text/html;charset=UTF-8')
		// /Added by HTTrack
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=Edge')
		title
			| --SCIENCE_ID--
		// suppress HtmlUnknownTarget
		link(rel='apple-touch-icon' sizes='180x180' href='apple-touch-icon.png')
		// suppress HtmlUnknownTarget
		link(rel='icon' type='image/png' sizes='32x32' href='favicon-32x32.png')
		// suppress HtmlUnknownTarget
		link(rel='icon' type='image/png' sizes='16x16' href='favicon-16x16.png')
		// suppress HtmlUnknownTarget
		link(rel='manifest' href='site.webmanifest')
		// suppress HtmlUnknownTarget
		link(rel='mask-icon' href='safari-pinned-tab.svg' color='#0284d2')
		meta(name='apple-mobile-web-app-title' content='SCIENCE-ID')
		meta(name='application-name' content='SCIENCE-ID')
		meta(name='msapplication-TileColor' content='#0284d2')
		meta(name='theme-color' content='#ffffff')
		meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=0')
		meta(name='format-detection' content='telephone=no')
		meta(name='mailru-verification' content='aa14ef43210cb631')
		meta(name='csrf-param' content='_csrf')
		meta(name='csrf-token' content='Ajpn_ruX_-oZyO9ozOmBzMmeoANPn6HE3IXv296cM1pmfgzMis3O3FP-twyAv_OkqvjPQAvI4qi6sa2xqKtQHg==')
		link(href='css/1stylefc59.css?v=1605178297' rel='stylesheet')
		link(href='css/stylec0c7.css?v=1605178298' rel='stylesheet')
		link(href='css/3evgenib9b5.css?v=1604335222' rel='stylesheet')
		link(href='css/2fgorsky22f5.css?v=1571670897' rel='stylesheet')
		link(href='css/4maer22f5.css?v=1571670897' rel='stylesheet')
		link(href='css/5anton22f5.css?v=1571670897' rel='stylesheet')
		link(href='css/roman311a.css?v=1581333435' rel='stylesheet')
		link(href='css/tooltipster.bundle4fe5.css?v=1571670899' rel='stylesheet')
		link(href='css/custom.css' rel='stylesheet')

	body#body(data-public-url='index.html')
		.wrapper
			.header
				.container
					.row
						.col-12
							.header__wrapper
								a.logo(href='index.html') SCIENCE-ID
								.menu
									a.menu__btn(href='#')
									ul.menu__content
										li.menu__item
											a.menu__link(href='login.html')
												| Пользователи
										li.menu__item
											a.menu__link(href='login.html')
												| Мероприятия
										li.menu__item
											a.menu__link(href='login.html')
												| Вакансии
										li.menu__item
											a.menu__link(href='login.html')
												| Группы
										li.menu__item
											a.menu__link
											a.menu__link(href='news.html')
												| Новости
										li.menu__item
											a.menu__link(href='contacts.html')
												| Контакты
								.header__enter
									.guest.user__btn
										a.header__enter-button(href='#')
									.header__enter-content
										a.btn.btn-link.header__enter-link(href='login.html')
											| Войти
										a.btn.btn-primary.header__enter-link(href='registration.html')
											| Регистрация
			.main
				.main__top
					.container
						.row
							.col-12
								.main__cover
									.main__cover-action ПРИСОЕДИНЯЙТЕСЬ К СООБЩЕСТВУ УЧЕНЫХ
									.main__cover-content
										h1.main__title
											| Science-ID – объединяя 
											br
											| российских ученых
										.d-flex.flex-column.align-items-center
											a.main__cover-btn(href='registration.html') Присоединиться
											span.main__cover-comment Это просто!
						.row.mt-30.mt-sm-80
							.col-xl-10.offset-xl-1
								.main__members
									.main__members-content
										h3.mb-30.mb-md-20.pt-10(style='padding-bottom: 135px !important;')
											| Пользователей в системе: 15046
										p.main__members-header
											| Решайте задачи научно-технологического 
											br
											| развития
											|                                         России вместе с учеными, 
											br
											| исследователями, инженерами 
											br
											| и специалистами
										a.main__members-btn(href='registration.html') Присоединиться
									.participants__list
										.wall
											.d-flex.wall__row
												a.wall__item.wall__item--big(data-counter='0' href='login.html' style='background-image:url(https://scienceid.net/upload/user/109314/530/15681035105d775c56452248.81121010.png')
												a.wall__item.wall__item--big(data-counter='1' href='login.html' style='background-image:url(https://scienceid.net/upload/user/109473/590/15684494465d7ca3a61d29b3.49320098.png')
												a.wall__item.wall__item--big(data-counter='2' href='login.html' style='background-image:url(https://scienceid.net/upload/user/111656/1371/15878245315ea44793dd0575.04333722.jpg')
												.d-flex.flex-column
													a.wall__item.wall__item--small(data-counter='3' href='login.html' style='background-image:url(https://scienceid.net/upload/user/110866/996/15721047415db46a25b2f677.41202408_150.jpg')
													a.wall__item.wall__item--small(data-counter='4' href='login.html' style='background-image:url(https://scienceid.net/upload/user/115155/2006/1613495081602bfb29530341.77281407.png')
											.d-flex.wall__row
												a.wall__item.wall__item--big(data-counter='5' href='login.html' style='background-image:url(https://scienceid.net/upload/user/106427/295/15444754765c0ed354d59708.29992239.jpg')
												a.wall__item.wall__item--big(data-counter='6' href='login.html' style='background-image:url(https://scienceid.net/upload/user/112962/1521/15997379925f5a10886a05b7.89558726.jpg')
												.d-flex.flex-column
													a.wall__item.wall__item--small(data-counter='7' href='login.html' style='background-image:url(https://scienceid.net/upload/user/113223/1584/16005960685f6728648d7bd0.39547386.jpg')
													a.wall__item.wall__item--small(data-counter='8' href='login.html' style='background-image:url(https://scienceid.net/upload/user/111823/1378/15880966705ea86e9ee941a5.35724593.png')
												a.wall__item.wall__item--big(data-counter='9' href='login.html' style='background-image:url(https://scienceid.net/upload/user/114924/1905/16073346095fcdfad12856e4.99959983.jpg')
											.d-flex.wall__row
												a.wall__item.wall__item--big(data-counter='10' href='login.html' style='background-image:url(https://scienceid.net/upload/user/114535/1880/16069769545fc885ba3f9b94.21876819.png')
												.d-flex.flex-column
													a.wall__item.wall__item--small(data-counter='11' href='login.html' style='background-image:url(https://scienceid.net/upload/user/112835/1468/15960121395f21366b665025.03468822_150.jpeg')
													a.wall__item.wall__item--small(data-counter='12' href='login.html' style='background-image:url(https://scienceid.net/upload/user/111130/1090/15775360325e074a200695f1.48226645.png')
												a.wall__item.wall__item--big(data-counter='13' href='login.html' style='background-image:url(https://scienceid.net/upload/user/111438/1218/15817137745e47096e54be25.82999498.jpg')
												a.wall__item.wall__item--big(data-counter='14' href='login.html' style='background-image:url(https://scienceid.net/upload/user/109338/538/15681441995d77fb4706d5b3.90773203.png')
				//- <div class="container mt-40">
				//- <div class="row">
				//- <div class="col-12 col-sm-4">
				//- <div class="text-center mb-40">
				//- <img src="/img/leader-contest-2020.png" alt="Конкурс управленцев 2020" style="max-width: 100%;">
				//- </div>
				//- </div>
				//- <div class="col-12 col-sm-8">
				//- <p>
				//- Sceince ID -  технический партнер трека Наука конкурса Лидеры России.
				//- Мы приглашаем всех к участию в Конкурсе!
				//- </p>
				//- <p>
				//- Победители получат шанс пройти стажировки и занять управленческие должности в ведущих российских вузах и научных организациях, Министерстве науки и высшего образования РФ и профильных региональных министерствах, должности руководителей НОЦ, научных и образовательных проектов и войти в состав Координационного совета.
				//- </p>
				//- <p>
				//- Как подготовиться к тесту конкурса «Лидеры России» по специализации «Наука»<br>
				//- <a href="http://youngscience.gov.ru/Russia/proftest/" target="_blank">http://youngscience.gov.ru/Russia/proftest/</a>
				//- </p>
				//- </div>
				//- </div>
				//- </div>

				.container
					.science-year
						.row
							.col-lg-4.d-flex.justify-content-center.align-items-center
								.science-year__img-wrap
									<svg class="res-i" width="314" height="231" viewBox="0 0 314 231" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M237.637 137.193C282.947 133.551 313.242 126.888 313.242 119.247C313.242 117.145 310.992 115.131 306.816 113.324C296.777 117.855 275.514 121.764 247.38 124.43C244.419 128.694 241.102 132.988 237.637 137.282V137.193ZM156.761 140.244C175.596 140.244 193.66 139.859 210.363 139.059C214.311 134.874 218.023 130.668 221.498 126.443C201.775 1text-center27.628 179.86 128.25 156.761 128.22C128.687 128.22 102.33 127.154 79.5273 125.259C85.5643 116.224 92.1407 107.56 99.2207 99.3168C90.0699 99.7907 81.4522 100.383 73.101 101.094C67.8255 108.208 62.9704 115.624 58.5604 123.304C34.2176 120.521 15.8864 116.908 6.76522 112.732C2.58962 114.598 0.309326 116.641 0.309326 118.744C0.309326 124.992 20.5062 130.589 52.5784 134.558C38.5116 163.728 36.3498 189.462 49.6169 203.588C51.8935 205.989 54.5561 207.991 57.4943 209.511C49.7354 192.276 55.7471 165.505 72.4791 136.571C96.7923 138.704 125.785 139.977 156.791 140.036L156.761 140.244ZM108.845 61.0257C115.084 55.1029 121.412 49.6243 127.828 44.5898L135.528 57.9162L137.719 61.7068C132.507 65.9713 127.334 70.5023 122.201 75.2997C118.253 79.0509 114.393 82.8612 110.622 86.7308C101.027 87.1158 91.8171 87.6192 83.1106 88.2411C91.1227 78.6503 99.7172 69.5613 108.845 61.0257Z" fill="#0152AB"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M127.828 44.5908C179.446 3.51591 233.58 -11.6762 254.992 11.0971C257.274 13.5203 259.126 16.3144 260.47 19.3595C234.884 5.79621 184.954 23.002 137.779 61.7078L127.828 44.5908Z" fill="#0152AB"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M313.272 107.226C313.272 101.303 295.326 95.9724 266.363 92.0929C279.482 63.8706 281.17 39.1132 268.288 25.3722L254.991 11.0981C257.273 13.5213 259.126 16.3154 260.47 19.3605C268.022 36.1221 262.543 61.8865 246.907 89.8719C221.468 87.4139 190.432 85.9332 156.939 85.874C70.4357 85.7259 0.309326 95.084 0.309326 106.722V118.746C0.309326 116.643 2.58962 114.629 6.76522 112.823C25.9552 104.146 85.8647 98.0158 156.82 98.0158C187.382 98.0158 215.871 99.2892 239.947 101.362C227.327 120.576 212.41 138.178 195.526 153.779C144.323 201.754 85.8943 224.646 57.4647 209.572H57.3166H57.1686H57.0205H56.8724H56.7243H56.5763H56.4282L69.7842 223.817C86.9308 243.421 152.319 221.211 209.03 167.905C229.431 149.166 246.83 127.402 260.618 103.376C281.999 105.952 298.139 109.299 306.609 113.119H306.816C310.992 115.014 313.242 117.028 313.242 119.042L313.272 107.226Z" fill="#4F92FF"/>
									<path d="M69.6954 129.138H76.8028V110.837H87.227V104.914H69.6954V129.138ZM93.3868 129.553C94.6464 129.655 95.9134 129.494 97.1079 129.082C98.3025 128.67 99.3986 128.014 100.327 127.158C101.256 126.301 101.997 125.261 102.504 124.103C103.011 122.946 103.273 121.696 103.273 120.432C103.273 119.168 103.011 117.918 102.504 116.761C101.997 115.603 101.256 114.563 100.327 113.706C99.3986 112.849 98.3025 112.194 97.1079 111.782C95.9134 111.37 94.6464 111.209 93.3868 111.311C87.4639 111.311 83.5549 114.746 83.5549 120.432C83.5549 126.118 87.4047 129.553 93.3868 129.553ZM93.3868 124.282C92.6117 124.341 91.8368 124.165 91.1639 123.776C90.491 123.387 89.9517 122.803 89.6169 122.101C89.2821 121.4 89.1676 120.613 89.2883 119.845C89.409 119.078 89.7593 118.364 90.2931 117.799C90.827 117.234 91.5194 116.844 92.2792 116.68C93.039 116.516 93.8307 116.586 94.5501 116.88C95.2695 117.175 95.8828 117.68 96.3095 118.33C96.7361 118.98 96.9561 119.744 96.9405 120.521C96.9904 121.009 96.937 121.501 96.7838 121.967C96.6307 122.433 96.3812 122.862 96.0516 123.225C95.722 123.588 95.3197 123.878 94.8708 124.075C94.4218 124.272 93.9364 124.373 93.446 124.371L93.3868 124.282ZM101.62 134.262H106.684V129.227H119.625V134.262H124.689V124.074H121.728V111.636H106.713L105.973 117.767C105.588 120.935 105.084 123.423 103.693 123.956H101.62V134.262ZM109.882 124.074V123.749C110.826 122.924 111.419 121.769 111.54 120.521L112.044 116.967H115.568V124.074H109.882ZM69.2512 154.666H75.5294V148.477H80.5638V154.666H86.8717V137.342H80.5638V143.264H75.5294V137.342H69.2512V154.666ZM92.1726 155.08C93.1916 155.15 94.2116 154.961 95.1382 154.531C96.0648 154.102 96.868 153.445 97.4735 152.623H97.8289V154.666H104.137V143.264C104.137 139.355 100.761 136.868 95.6078 136.868C90.455 136.868 87.079 139.355 87.079 143.235H93.1795C93.1575 142.918 93.2038 142.6 93.3151 142.303C93.4264 142.005 93.6002 141.735 93.8247 141.511C94.0492 141.286 94.3193 141.113 94.6167 141.001C94.914 140.89 95.2318 140.844 95.5486 140.866C95.8454 140.835 96.1452 140.87 96.4275 140.966C96.7098 141.062 96.968 141.218 97.1845 141.424C97.401 141.629 97.5706 141.878 97.6818 142.155C97.7931 142.432 97.8432 142.73 97.8289 143.028V143.797L94.8675 144.153C89.1519 144.923 86.4274 146.729 86.4274 150.076C86.4274 153.422 88.7966 155.08 92.3503 155.08H92.1726ZM94.8083 151.26C93.4164 151.26 92.6168 150.55 92.6168 149.483C92.6168 148.417 93.3572 147.766 95.1932 147.529L98.0066 147.114V148.18C98.0079 148.59 97.9242 148.996 97.7608 149.371C97.5974 149.747 97.3578 150.085 97.0572 150.363C96.7566 150.641 96.4015 150.854 96.0144 150.988C95.6273 151.122 95.2166 151.175 94.8083 151.142V151.26ZM116.367 154.844L122.764 137.075H116.13L113.169 145.367L108.934 137.075H102.034L110.474 152.652L107.217 161.536H113.672L116.367 154.844ZM121.787 154.547H128.095V147.707H130.612L135.143 154.666H142.606L136.061 145.634L142.457 137.312H135.054L130.612 143.649H127.858V137.312H121.728L121.787 154.547ZM142.043 154.547H148.38L153.592 145.663H153.948V154.547H160.226V137.312H153.74L148.38 146.404H148.025V137.312H141.865L142.043 154.547ZM69.2512 180.193H75.7367L80.9488 171.309H81.3042V180.193H87.612V162.839H81.1265L75.8848 171.961H75.5294V162.839H69.2512V180.193ZM100.583 180.193H106.92V167.903H112.369V162.869H95.0748V167.903H100.553L100.583 180.193ZM120.632 180.638C122.481 180.849 124.349 180.451 125.952 179.506C127.556 178.56 128.807 177.117 129.516 175.396L124.067 174.419C123.805 174.981 123.386 175.457 122.861 175.788C122.336 176.119 121.726 176.291 121.106 176.284C120.247 176.311 119.408 176.025 118.744 175.481C118.08 174.936 117.635 174.17 117.493 173.323H130.227C130.227 172.997 130.227 172.109 130.227 171.605C130.263 170.364 130.039 169.13 129.569 167.981C129.099 166.832 128.393 165.795 127.497 164.936C126.602 164.076 125.536 163.414 124.369 162.992C123.202 162.57 121.959 162.397 120.721 162.484C119.461 162.382 118.194 162.543 117 162.955C115.805 163.367 114.709 164.023 113.78 164.88C112.851 165.736 112.11 166.776 111.603 167.934C111.096 169.092 110.834 170.342 110.834 171.605C110.834 172.869 111.096 174.119 111.603 175.276C112.11 176.434 112.851 177.474 113.78 178.331C114.709 179.188 115.805 179.843 117 180.255C118.194 180.668 119.461 180.828 120.721 180.726L120.632 180.638ZM117.433 169.947C117.433 169.091 117.774 168.27 118.379 167.664C118.984 167.059 119.805 166.719 120.661 166.719C121.518 166.719 122.339 167.059 122.944 167.664C123.549 168.27 123.889 169.091 123.889 169.947H117.433ZM127.058 180.282H134.402L137.364 174.892H137.69L140.651 180.282H147.995L142.072 171.398L147.729 163.047H140.74L137.778 167.933H137.453L134.491 163.047H127.206L132.862 171.398L127.058 180.282ZM147.373 180.282H153.681V174.004H158.686V180.193H165.023V162.869H158.597V168.97H153.592V162.869H147.285L147.373 180.282ZM174.47 180.726C175.73 180.828 176.997 180.668 178.192 180.255C179.386 179.843 180.482 179.188 181.411 178.331C182.34 177.474 183.081 176.434 183.588 175.276C184.095 174.119 184.357 172.869 184.357 171.605C184.357 170.342 184.095 169.092 183.588 167.934C183.081 166.776 182.34 165.736 181.411 164.88C180.482 164.023 179.386 163.367 178.192 162.955C176.997 162.543 175.73 162.382 174.47 162.484C168.548 162.484 164.638 165.919 164.638 171.605C164.638 177.291 168.488 180.726 174.47 180.726ZM174.47 175.455C173.694 175.526 172.915 175.362 172.234 174.984C171.552 174.606 171.001 174.032 170.65 173.336C170.3 172.64 170.168 171.854 170.27 171.082C170.372 170.309 170.705 169.586 171.225 169.005C171.744 168.424 172.427 168.014 173.183 167.826C173.939 167.639 174.734 167.684 175.465 167.955C176.196 168.226 176.828 168.71 177.279 169.346C177.73 169.981 177.979 170.737 177.994 171.516C178.04 172.003 177.983 172.494 177.828 172.958C177.673 173.422 177.424 173.849 177.095 174.211C176.766 174.573 176.366 174.863 175.919 175.061C175.472 175.26 174.989 175.364 174.5 175.366L174.47 175.455ZM182.674 180.193C185.635 180.193 190.669 180.46 191.321 175.1L192.12 167.903H195.467V180.223H201.686V162.839H186.879L185.99 171.339C185.635 174.537 185.102 175.485 182.703 175.485L182.674 180.193ZM211.31 180.638C217.233 180.638 221.113 177.202 221.113 171.516C221.153 170.248 220.922 168.987 220.434 167.816C219.947 166.645 219.214 165.592 218.285 164.727C217.356 163.863 216.253 163.208 215.05 162.806C213.847 162.403 212.572 162.263 211.31 162.395C205.388 162.395 201.508 165.83 201.508 171.516C201.467 172.784 201.699 174.046 202.186 175.217C202.674 176.388 203.407 177.441 204.336 178.305C205.264 179.169 206.367 179.825 207.57 180.227C208.773 180.629 210.049 180.769 211.31 180.638ZM211.31 175.366C210.531 175.438 209.748 175.272 209.064 174.89C208.38 174.509 207.828 173.929 207.48 173.228C207.132 172.526 207.004 171.736 207.114 170.961C207.223 170.185 207.565 169.461 208.094 168.884C208.622 168.306 209.313 167.902 210.076 167.725C210.839 167.547 211.637 167.605 212.366 167.889C213.096 168.174 213.722 168.673 214.162 169.321C214.603 169.968 214.837 170.733 214.835 171.516C214.88 172.006 214.822 172.499 214.666 172.965C214.509 173.431 214.257 173.859 213.925 174.222C213.593 174.584 213.189 174.873 212.739 175.07C212.288 175.268 211.802 175.368 211.31 175.366ZM220.757 180.193H227.036V167.903H234.913V162.869H220.639L220.757 180.193ZM234.35 180.193H240.836L246.048 171.309H246.403V180.193H252.711V162.839H246.107L240.865 171.961H240.51V162.839H234.261L234.35 180.193ZM261.98 160.233C262.68 160.279 263.381 160.178 264.04 159.938C264.698 159.698 265.3 159.325 265.806 158.84C266.313 158.356 266.714 157.772 266.983 157.124C267.252 156.477 267.384 155.781 267.37 155.08H263.431C263.431 156.443 262.869 157.242 261.862 157.242C260.855 157.242 260.322 156.443 260.322 155.08H256.502C256.488 155.779 256.619 156.472 256.887 157.117C257.154 157.762 257.552 158.345 258.055 158.829C258.559 159.313 259.157 159.687 259.812 159.929C260.467 160.171 261.165 160.274 261.862 160.233H261.98ZM252.978 180.193H259.433L264.646 171.309H265.001V180.193H271.309V162.839H264.823L259.582 171.961H259.226V162.839H252.948L252.978 180.193Z" fill="black"/>
									<path d="M271.309 109.474H169.673V128.901H271.309V109.474Z" fill="black"/>
									<path d="M230.115 128.902H254.369V40.9771H228.072L212.85 51.7566V73.7896L228.872 62.5954H230.885L230.115 128.902Z" fill="black"/>
									<path d="M145.567 128.932H213.531V110.245H177.136V109.031C192.357 98.044 211.932 88.8636 211.873 67.571C211.695 27.7103 146.1 30.0794 146.1 69.1702H168.577C168.577 55.7253 188.804 56.2584 188.804 69.9105C188.804 75.2115 185.102 79.4463 178.587 83.918L145.567 106.721V128.932Z" fill="black"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M132.714 41.5684C134.988 41.5625 137.212 42.2314 139.106 43.4904C140.999 44.7495 142.477 46.5419 143.351 48.641C144.225 50.74 144.457 53.0513 144.017 55.2821C143.577 57.513 142.485 59.5631 140.879 61.173C139.273 62.7829 137.226 63.8802 134.996 64.326C132.766 64.7718 130.455 64.546 128.353 63.6772C126.252 62.8084 124.456 61.3356 123.192 59.4454C121.928 57.5552 121.253 55.3325 121.253 53.0587C121.253 50.0164 122.46 47.0983 124.608 44.9443C126.757 42.7903 129.672 41.5762 132.714 41.5684Z" fill="black"/>
								</svg>
							.col-lg-8.d-flex.align-items-center
								.science-year__content
									p Президент России В.В. Путин объявил 2021 год Годом науки и&nbsp;технологий. В&nbsp;течение всего года будут проходить просветительские мероприятия с&nbsp;участием ведущих деятелей науки, запускаться образовательные платформы и&nbsp;конкурсы для всех желающих. Следите за&nbsp;новостями!
									.row
										.col.col-lg-auto.d-flex.justify-content-center.align-items-center
											a.btn.btn-primary.btn-primary--light(href='#') Подробнее
										.col.col-lg-auto.d-flex.justify-content-center.align-items-center
											.science-year__img
												img(src="img/council.png", alt="")

				.container.mt-40(<div='')
					h2.main__section-header.mb-30.mb-md-65.pt-40 Делитесь своими идеями и проектами
					.row
						.col-md-7.main__info-content
							p.main__info-text
								| Расскажите о своих предложениях по содействию научно-технологическому развитию России и
								| преодолению вызовов, стоящий перед нашей страной. И мы вместе попробуем реализовать Ваши
								| самые амбициозные идеи!
						.col-md-5.big-challenge-main.mt-20.mt-md-0(style='padding-left: 10%')
							a.main__members-btn.text-center(href='login.html') Президент, у меня идея!
			.main__bottom
				.container
					.row
						.col-12
							.main__events-header.mt-40
								h2.main__section-header Научные вакансии: 1432
								a.btn.btn--gray.ml-sm-40(href='login.html') Все вакансии
							.vacancies
								.vacancies__slider.js_researchScientist
									a.vacancy(href='login.html?id=2700941' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  28000 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное бюджетное научное учреждение "Научно-исследовательский
												|                                             институт сельского хозяйства Юго-Востока"
									a.vacancy(href='login.html?id=2700944' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  28000 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное бюджетное научное учреждение "Научно-исследовательский
												|                                             институт сельского хозяйства Юго-Востока"
									a.vacancy(href='login.html?id=2700943' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  28000 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное бюджетное научное учреждение "Научно-исследовательский
												|                                             институт сельского хозяйства Юго-Востока"
									a.vacancy(href='login.html?id=2700942' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  28000 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное бюджетное научное учреждение "Научно-исследовательский
												|                                             институт сельского хозяйства Юго-Востока"
									a.vacancy(href='login.html?id=2700938' target='_blank')
										h4.vacancy__title
											| Программист
											| Доцент Кафедры компьютерная безопасность
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  55000 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             «Тюменский государственный университет»
									a.vacancy(href='login.html?id=2700934' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| младший научный сотрудник лаб. высокоэнергетических и
											| специальных материалов ФТФ
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  25480 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700935' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| инженер-исследователь лаб. высокоэнергетических и специальных
											| материалов ФТФ
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  18946 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700933' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| инженер-исследователь лаб. высокоэнергетических и специальных
											| материалов ФТФ
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  18946 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700937' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| инженер-исследователь лаб. проблем опасных космических
											| объектов ФТФ
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  18946 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700936' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| младший научный сотрудник лаб. высокоэнергетических и
											| специальных материалов ФТФ
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  25480 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700928' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| инженер-исследователь лаб. физики высокопрочных кристаллов
											| СФТИ
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  18946 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700929' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| млдаший научный сотрудник лаб. физики высокопрочных кристаллов
											| СФТИ
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  18946 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700932' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| младший научный сотрудник лаб. проблем опасных космических
											| объектов ФТФ
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  25480 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700927' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| младший научный сотрудник лаб. физики высокопрочных кристаллов
											| СФТИ
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  18946 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700930' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| инженер-исследователь лаб. медицинских сплавов и имплантатов с
											| памятью формы СФТИ
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  18946 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700931' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| инженер-исследователь лаб. медицинских сплавов и имплантатов с
											| памятью формы СФТИ
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  18946 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700922' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| Инженер-исследователь в Научно-исследовательский институт
											| прикладной математики и механики Томского государственного
											| университета
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  18946 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700923' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| Инженер-исследователь в Научно-исследовательский институт
											| прикладной математики и механики Томского государственного
											| университета
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  18946 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700925' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| младший научный сотрудник в Научно-исследовательский институт
											| прикладной математики и механики Томского государственного
											| университета
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  25480 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700926' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| младший научный сотрудник в Научно-исследовательский институт
											| прикладной математики и механики Томского государственного
											| университета
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  25480 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700921' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| Инженер-исследователь в Научно-исследовательский институт
											| прикладной математики и механики Томского государственного
											| университета
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  18946 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700924' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| младший научный сотрудник
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  25480 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700916' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| инженер-исследователь лаб. высокопроизводительных
											| реконфигурируемых систем ФИТ
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  18946 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700917' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| инженер-исследователь лаб. перспективных материалов для
											| газовых и химических сенсоров Центра исследований и разработок
											| "Перспективные технологии в микроэлектронике"
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  18946 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700915' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| младший научный сотрудник лаб. геохронологии и геодинамики
											| ГГФ
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  25480 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700920' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| младший научный сотрудник лаб. социально-антропологических
											| исследований ФИПН
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  25480 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700918' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| младший научный сотрудник лаб оптических структур и прикладной
											| фотоники Центра исследовний и разработок "Перспективные технологии
											| в микроэлектронике"
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  25480 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700919' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| младший научный сотрудник лаб. Сибирь: исторические традиции и
											| современность ФИПН
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  25480 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700910' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| младший научный сотрудник лаб. перспективных материалов для
											| газовых и химических сенсоров Центра исследований и разработок
											| «Перспективные технологии в микроэлектронике»
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  25480 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
									a.vacancy(href='login.html?id=2700911' target='_blank')
										h4.vacancy__title
											| Младший научный
											| сотрудник/инженер-исследователь
											| младший научный сотрудник лаб. неравновесных процессов в
											| полупроводниковой электронике Центра исследований и разработок
											| "Перспективные технологии в микроэлектронике"
										span.vacancy__content
											p
												span.font-weight-bold Заработная плата:
												|  25480 руб.
											p
												span.font-weight-bold Организация:
												|  Федеральное
												|                                             государственное автономное образовательное учреждение высшего образования
												|                                             "Национальный исследовательский Томский государственный университет"
							.main__events.mt-0
								.main__events-header
									h2.main__section-header Мероприятия: 1690
									a.btn.btn--gray.ml-sm-40(href='login.html') Календарь мероприятий
								#w0.row
									.col-md-6.col-lg-4.d-flex(data-key='3386')
										.event-new.event-new--picture.event--security
											a.event-new__content(href='login.html')
												.event-new__media
													.event-new__media-content
													.event-new__picture(style='background-image: url(upload/event/97/3386/8110da02_3386.png);')
													.event-new__challenge.event__challenge #безопасность
												.event-new__content-text
													.event-new__title
														| Восьмая научно-техническая конференция
														| «Проблемы комплексного геофизического мониторинга сейсмоактивных
														| областей»
													.event-new__dscr
														| Восьмая научно-техническая конференция
														| «Проблемы комплексного геофизического мониторинга Дальнего Востока
														| России», г. Петропавловск-Камчатский, 26 сентября – 2 октября 2021
														| г.
											.event-new__info
												.event-new__share
													.event-new__share-btn
													.socials.event-new__socials
														a.socials__item.socials__item--fb(target='_blank' href='https://www.facebook.com/sharer.php?u=https://scienceid.net/event/3386')
														a.socials__item.socials__item--vk(target='_blank' href="\
														https://vk.com/share.php?url=https://scienceid.net/event/3386&title='Восьмая научно-техническая  конференция  «Проблемы   комплексного   геофизического   мониторинга сейсмоактивных   областей» '&comment='<blockquote><p><b>Восьмая научно-техническая конференция</b></p></blockquote><p><b>«Проблемы   комплексного   геофизического   мониторинга сейсмоактивных   областей»</b></p><p>26 сентября – 2 октября 2021 г.</p><p>г. Петропавловск-Камчатский http://www.emsd.ru/conf2019</p><p>E-mail Оргкомитета: conf2021@emsd.ru</p><p>Уважаемые коллеги!</p><p>Камчатский филиал Федерального исследовательского центра «Единая геофизическая служба Российской академии наук» приглашает Вас принять участие в Восьмой научно-технической конференции «Проблемы   комплексного   геофизического   мониторинга сейсмоактивных   областей»,  которая  состоится  29  сентября  – 2  октября  2021  г.   в  г. Петропавловске-Камчатском. Конференция посвящена 60-летию детальных сейсмологических наблюдений на Камчатке. </p><p><b>Тематика конференции</b></p><p>Основные секции конференции будут формироваться из приглашенных пленарных и секционных устных и стендовых докладов по темам:</p><p>- геофизический мониторинг современных геодинамических процессов;</p><p>- сейсмичность, сейсмическая опасность;</p><p>- технические и программные средства геофизического мониторинга;</p><p>- исследование предвестников землетрясений и извержений вулканов;</p><p>-...'&image=https://scienceid.net/img/event-challenge-4.jpg\
														")
														a.socials__item.socials__item--ok(target='_blank' href='https://connect.ok.ru/dk?st.cmd=WidgetSharePreview&st.shareUrl=https://scienceid.net/event/3386')
														a.socials__item.socials__item--tw(target='_blank' href="https://twitter.com/intent/tweet?url=https://scienceid.net/event/3386&text='%d0%92%d0%be%d1%81%d1%8c%d0%bc%d0%b0%d1%8f%20%d0%bd%d0%b0%d1%83%d1%87%d0%bd%d0%be-%d1%82%d0%b5%d1%85%d0%bd%d0%b8%d1%87%d0%b5%d1%81%d0%ba%d0%b0%d1%8f%20%20%d0%ba%d0%be%d0%bd%d1%84%d0%b5%d1%80%d0%b5%d0%bd%d1%86%d0%b8%d1%8f%20%20%c2%ab%d0%9f%d1%80%d0%be%d0%b1%d0%bb%d0%b5%d0%bc%d1%8b%20%20%20%d0%ba%d0%be%d0%bc%d0%bf%d0%bb%d0%b5%d0%ba%d1%81%d0%bd%d0%be%d0%b3%d0%be%20%20%20%d0%b3%d0%b5%d0%be%d1%84%d0%b8%d0%b7%d0%b8%d1%87%d0%b5%d1%81%d0%ba%d0%be%d0%b3%d0%be%20%20%20%d0%bc%d0%be%d0%bd%d0%b8%d1%82%d0%be%d1%80%d0%b8%d0%bd%d0%b3%d0%b0%20%d1%81%d0%b5%d0%b9%d1%81%d0%bc%d0%be%d0%b0%d0%ba%d1%82%d0%b8%d0%b2%d0%bd%d1%8b%d1%85%20%20%20%d0%be%d0%b1%d0%bb%d0%b0%d1%81%d1%82%d0%b5%d0%b9%c2%bb%20'")
												.event-new__info-content
													span.event-new__info-item 26.09.2021
													span.event-new__info-item Камчатский край
									.col-md-6.col-lg-4.d-flex(data-key='3398')
										.event-new.event-new--picture
											a.event-new__content(href='login.html')
												.event-new__media
													.event-new__media-content
												.event-new__content-text
													.event-new__title
														| Всероссийская конференция с Международным
														| участием «Самойловские чтения. Современные проблемы нейрофизиологии»
														| к 145-летию кафедры физиологии человека и животных
													.event-new__dscr
											.event-new__info
												.event-new__share
													.event-new__share-btn
													.socials.event-new__socials
														a.socials__item.socials__item--fb(target='_blank' href='https://www.facebook.com/sharer.php?u=https://scienceid.net/event/3398')
														a.socials__item.socials__item--vk(target='_blank' href="https://vk.com/share.php?url=https://scienceid.net/event/3398&title='%d0%92%d1%81%d0%b5%d1%80%d0%be%d1%81%d1%81%d0%b8%d0%b9%d1%81%d0%ba%d0%b0%d1%8f%20%d0%ba%d0%be%d0%bd%d1%84%d0%b5%d1%80%d0%b5%d0%bd%d1%86%d0%b8%d1%8f%20%d1%81%20%d0%9c%d0%b5%d0%b6%d0%b4%d1%83%d0%bd%d0%b0%d1%80%d0%be%d0%b4%d0%bd%d1%8b%d0%bc%20%d1%83%d1%87%d0%b0%d1%81%d1%82%d0%b8%d0%b5%d0%bc%20%c2%ab%d0%a1%d0%b0%d0%bc%d0%be%d0%b9%d0%bb%d0%be%d0%b2%d1%81%d0%ba%d0%b8%d0%b5%20%d1%87%d1%82%d0%b5%d0%bd%d0%b8%d1%8f.%20%d0%a1%d0%be%d0%b2%d1%80%d0%b5%d0%bc%d0%b5%d0%bd%d0%bd%d1%8b%d0%b5%20%d0%bf%d1%80%d0%be%d0%b1%d0%bb%d0%b5%d0%bc%d1%8b%20%d0%bd%d0%b5%d0%b9%d1%80%d0%be%d1%84%d0%b8%d0%b7%d0%b8%d0%be%d0%bb%d0%be%d0%b3%d0%b8%d0%b8%c2%bb%20%d0%ba%20145-%d0%bb%d0%b5%d1%82%d0%b8%d1%8e%20%d0%ba%d0%b0%d1%84%d0%b5%d0%b4%d1%80%d1%8b%20%d1%84%d0%b8%d0%b7%d0%b8%d0%be%d0%bb%d0%be%d0%b3%d0%b8%d0%b8%20%d1%87%d0%b5%d0%bb%d0%be%d0%b2%d0%b5%d0%ba%d0%b0%20%d0%b8%20%d0%b6%d0%b8%d0%b2%d0%be%d1%82%d0%bd%d1%8b%d1%85'&comment='<h3>%d0%9e%d1%80%d0%b3%d0%b0%d0%bd%d0%b8%d0%b7%d0%b0%d1%82%d0%be%d1%80%d1%8b%20%d0%b8%20%d1%81%d0%be%d0%be%d1%80%d0%b3%d0%b0%d0%bd%d0%b8%d0%b7%d0%b0%d1%82%d0%be%d1%80%d1%8b:</h3>%d0%9a%d0%b0%d0%b7%d0%b0%d0%bd%d1%81%d0%ba%d0%b8%d0%b9%20(%d0%9f%d1%80%d0%b8%d0%b2%d0%be%d0%bb%d0%b6%d1%81%d0%ba%d0%b8%d0%b9)%20%d1%84%d0%b5%d0%b4%d0%b5%d1%80%d0%b0%d0%bb%d1%8c%d0%bd%d1%8b%d0%b9%20%d1%83%d0%bd%d0%b8%d0%b2%d0%b5%d1%80%d1%81%d0%b8%d1%82%d0%b5%d1%82,%20%d0%98%d0%bd%d1%81%d1%82%d0%b8%d1%82%d1%83%d1%82%20%d1%84%d1%83%d0%bd%d0%b4%d0%b0%d0%bc%d0%b5%d0%bd%d1%82%d0%b0%d0%bb%d1%8c%d0%bd%d0%be%d0%b9%20%d0%bc%d0%b5%d0%b4%d0%b8%d1%86%d0%b8%d0%bd%d1%8b%20%d0%b8%20%d0%b1%d0%b8%d0%be%d0%bb%d0%be%d0%b3%d0%b8%d0%b8,%20%d0%9a%d0%b0%d1%84%d0%b5%d0%b4%d1%80%d0%b0%20%d1%84%d0%b8%d0%b7%d0%b8%d0%be%d0%bb%d0%be%d0%b3%d0%b8%d0%b8%20%d1%87%d0%b5%d0%bb%d0%be%d0%b2%d0%b5%d0%ba%d0%b0%20%d0%b8%20%d0%b6%d0%b8%d0%b2%d0%be%d1%82%d0%bd%d1%8b%d1%85,%20%d0%a2%d0%b0%d1%82%d0%b0%d1%80%d1%81%d1%82%d0%b0%d0%bd%d1%81%d0%ba%d0%be%d0%b5%20%d0%be%d1%82%d0%b4%d0%b5%d0%bb%d0%b5%d0%bd%d0%b8%d0%b5%20%d1%84%d0%b8%d0")
														a.socials__item.socials__item--ok(target='_blank' href='https://connect.ok.ru/dk?st.cmd=WidgetSharePreview&st.shareUrl=https://scienceid.net/event/3398')
														a.socials__item.socials__item--tw(target='_blank' href="https://twitter.com/intent/tweet?url=https://scienceid.net/event/3398&text='%d0%92%d1%81%d0%b5%d1%80%d0%be%d1%81%d1%81%d0%b8%d0%b9%d1%81%d0%ba%d0%b0%d1%8f%20%d0%ba%d0%be%d0%bd%d1%84%d0%b5%d1%80%d0%b5%d0%bd%d1%86%d0%b8%d1%8f%20%d1%81%20%d0%9c%d0%b5%d0%b6%d0%b4%d1%83%d0%bd%d0%b0%d1%80%d0%be%d0%b4%d0%bd%d1%8b%d0%bc%20%d1%83%d1%87%d0%b0%d1%81%d1%82%d0%b8%d0%b5%d0%bc%20%c2%ab%d0%a1%d0%b0%d0%bc%d0%be%d0%b9%d0%bb%d0%be%d0%b2%d1%81%d0%ba%d0%b8%d0%b5%20%d1%87%d1%82%d0%b5%d0%bd%d0%b8%d1%8f.%20%d0%a1%d0%be%d0%b2%d1%80%d0%b5%d0%bc%d0%b5%d0%bd%d0%bd%d1%8b%d0%b5%20%d0%bf%d1%80%d0%be%d0%b1%d0%bb%d0%b5%d0%bc%d1%8b%20%d0%bd%d0%b5%d0%b9%d1%80%d0%be%d1%84%d0%b8%d0%b7%d0%b8%d0%be%d0%bb%d0%be%d0%b3%d0%b8%d0%b8%c2%bb%20%d0%ba%20145-%d0%bb%d0%b5%d1%82%d0%b8%d1%8e%20%d0%ba%d0%b0%d1%84%d0%b5%d0%b4%d1%80%d1%8b%20%d1%84%d0%b8%d0%b7%d0%b8%d0%be%d0%bb%d0%be%d0%b3%d0%b8%d0%b8%20%d1%87%d0%b5%d0%bb%d0%be%d0%b2%d0%b5%d0%ba%d0%b0%20%d0%b8%20%d0%b6%d0%b8%d0%b2%d0%be%d1%82%d0%bd%d1%8b%d1%85'")
												.event-new__info-content
													span.event-new__info-item 27.02.2021
													span.event-new__info-item
														| Республика Северная Осетия –
														| Алания
									.col-md-6.col-lg-4.d-flex(data-key='3389')
										.event-new.event-new--picture
											a.event-new__content(href='login.html')
												.event-new__media
													.event-new__media-content
												.event-new__content-text
													.event-new__title
														| IV Субботние политологические чтения в
														| Президентской академии «Россия и мир в условиях политической
														| пандемии»
													.event-new__dscr
											.event-new__info
												.event-new__share
													.event-new__share-btn
													.socials.event-new__socials
														a.socials__item.socials__item--fb(target='_blank' href='https://www.facebook.com/sharer.php?u=https://scienceid.net/event/3389')
														a.socials__item.socials__item--vk(target='_blank' href="https://vk.com/share.php?url=https://scienceid.net/event/3389&title='IV%20%d0%a1%d1%83%d0%b1%d0%b1%d0%be%d1%82%d0%bd%d0%b8%d0%b5%20%d0%bf%d0%be%d0%bb%d0%b8%d1%82%d0%be%d0%bb%d0%be%d0%b3%d0%b8%d1%87%d0%b5%d1%81%d0%ba%d0%b8%d0%b5%20%d1%87%d1%82%d0%b5%d0%bd%d0%b8%d1%8f%20%d0%b2%20%d0%9f%d1%80%d0%b5%d0%b7%d0%b8%d0%b4%d0%b5%d0%bd%d1%82%d1%81%d0%ba%d0%be%d0%b9%20%d0%b0%d0%ba%d0%b0%d0%b4%d0%b5%d0%bc%d0%b8%d0%b8%20%c2%ab%d0%a0%d0%be%d1%81%d1%81%d0%b8%d1%8f%20%d0%b8%20%d0%bc%d0%b8%d1%80%20%d0%b2%20%d1%83%d1%81%d0%bb%d0%be%d0%b2%d0%b8%d1%8f%d1%85%20%d0%bf%d0%be%d0%bb%d0%b8%d1%82%d0%b8%d1%87%d0%b5%d1%81%d0%ba%d0%be%d0%b9%20%d0%bf%d0%b0%d0%bd%d0%b4%d0%b5%d0%bc%d0%b8%d0%b8%c2%bb'&comment='<h3>%d0%9e%d1%80%d0%b3%d0%b0%d0%bd%d0%b8%d0%b7%d0%b0%d1%82%d0%be%d1%80%d1%8b%20%d0%b8%20%d1%81%d0%be%d0%be%d1%80%d0%b3%d0%b0%d0%bd%d0%b8%d0%b7%d0%b0%d1%82%d0%be%d1%80%d1%8b:</h3>%d0%a8%d0%ba%d0%be%d0%bb%d0%b0%20%d0%bf%d0%be%d0%bb%d0%b8%d1%82%d0%b8%d1%87%d0%b5%d1%81%d0%ba%d0%b8%d1%85%20%d0%b8%d1%81%d1%81%d0%bb%d0%b5%d0%b4%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b9%20%d0%98%d0%bd%d1%81%d1%82%d0%b8%d1%82%d1%83%d1%82%d0%b0%20%d0%be%d0%b1%d1%89%d0%b5%d1%81%d1%82%d0%b2%d0%b5%d0%bd%d0%bd%d1%8b%d1%85%20%d0%bd%d0%b0%d1%83%d0%ba%20%20%d0%a0%d0%90%d0%9d%d0%a5%d0%b8%d0%93%d0%a1%20%d1%81%d0%be%d0%b2%d0%bc%d0%b5%d1%81%d1%82%d0%bd%d0%be%20%d1%81%20%d0%a0%d0%be%d1%81%d1%81%d0%b8%d0%b9%d1%81%d0%ba%d0%be%d0%b9%20%d0%b0%d1%81%d1%81%d0%be%d1%86%d0%b8%d0%b0%d1%86%d0%b8%d0%b5%d0%b9%20%d0%bf%d0%be%d0%bb%d0%b8%d1%82%d0%b8%d1%87%d0%b5%d1%81%d0%ba%d0%be%d0%b9%20%d0%bd%d0%b0%d1%83%d0%ba%d0%b8%20(%d0%a0%d0%90%d0%9f%d0%9d)%20%d0%b8%20%d0%90%d0%ba%d0%b0%d0%b4%d0%b5%d0%bc%d0%b8%d0%b5%d0%b9%20%d0%bf%d0%be%d0%bb%d0%b8%d1%82%d0%b8%d1%87%d0%b5%d1%81%d0%ba%d0%be%d0%b9%20%d0%bd%d0%b0%d1%83%d0%ba%d0%b8%20(%d0%90%d0%9f%d0%9d).<h3>%d0%9d%d0%b0%d0%b7%d0%b2%d0%b0%d0%bd%d0%b8%d1%8f%20%d0%b6%d1%83%d1%80%d0%bd%d0%b0%d0%bb%d0%be%d0%b2:</h3>/" Дискурс-Пи/"'&image='https://scienceid.net/img/event-challenge-4.jpg' "='')
														a.socials__item.socials__item--ok(target='_blank' href='https://connect.ok.ru/dk?st.cmd=WidgetSharePreview&st.shareUrl=https://scienceid.net/event/3389')
														a.socials__item.socials__item--tw(target='_blank' href="https://twitter.com/intent/tweet?url=https://scienceid.net/event/3389&text='IV%20%d0%a1%d1%83%d0%b1%d0%b1%d0%be%d1%82%d0%bd%d0%b8%d0%b5%20%d0%bf%d0%be%d0%bb%d0%b8%d1%82%d0%be%d0%bb%d0%be%d0%b3%d0%b8%d1%87%d0%b5%d1%81%d0%ba%d0%b8%d0%b5%20%d1%87%d1%82%d0%b5%d0%bd%d0%b8%d1%8f%20%d0%b2%20%d0%9f%d1%80%d0%b5%d0%b7%d0%b8%d0%b4%d0%b5%d0%bd%d1%82%d1%81%d0%ba%d0%be%d0%b9%20%d0%b0%d0%ba%d0%b0%d0%b4%d0%b5%d0%bc%d0%b8%d0%b8%20%c2%ab%d0%a0%d0%be%d1%81%d1%81%d0%b8%d1%8f%20%d0%b8%20%d0%bc%d0%b8%d1%80%20%d0%b2%20%d1%83%d1%81%d0%bb%d0%be%d0%b2%d0%b8%d1%8f%d1%85%20%d0%bf%d0%be%d0%bb%d0%b8%d1%82%d0%b8%d1%87%d0%b5%d1%81%d0%ba%d0%be%d0%b9%20%d0%bf%d0%b0%d0%bd%d0%b4%d0%b5%d0%bc%d0%b8%d0%b8%c2%bb'")
												.event-new__info-content
													span.event-new__info-item 27.02.2021
													span.event-new__info-item Ярославская область
									.col-md-6.col-lg-4.d-flex(data-key='3385')
										.event-new.event-new--picture.event--economics
											a.event-new__content(href='login.html')
												.event-new__media
													.event-new__media-content
													.event-new__picture(style='background-image: url(img/challenge/Economi.jpg);')
													.event-new__challenge.event__challenge #экономика
												.event-new__content-text
													.event-new__title
														| XVIII международная конференция молодых
														| ученых «Развитие территориальных социально-экономических систем:
														| вопросы теории и практики»
													.event-new__dscr
														| Цель конференции: широкое обсуждение и
														| экспертиза результатов исследований молодых ученых в сфере таких
														| аспектов развития территориальных социально-экономических систем,
														| как вопросы экономического роста и устойчивого развития,
														| моделирования социально-экономических процессов, трендов
														| цифровизации экономики и актуальных тенденций социального развития,
														| пространственного развития, а также предпринимательской деятельности
														| в условиях глобальных вызовов
														| Миссия конференции – создать площадку для научной коммуникации
														| молодых исследователей в виде обмена опытом, апробации результатов
														| исследований и поиска единомышленников
											.event-new__info
												.event-new__share
													.event-new__share-btn
													.socials.event-new__socials
														a.socials__item.socials__item--fb(target='_blank' href='https://www.facebook.com/sharer.php?u=https://scienceid.net/event/3385')
														a.socials__item.socials__item--vk(target='_blank' href='https://oauth.vk.com/authorize?client_id=-1&redirect_uri=https%3A%2F%2Fvk.com%2Fshare.php%3Fdata%3D71f058d59c2bca5748&display=widget')
														a.socials__item.socials__item--ok(target='_blank' href='https://connect.ok.ru/dk?st.cmd=WidgetSharePreview&st.shareUrl=https://scienceid.net/event/3385')
														a.socials__item.socials__item--tw(target='_blank' href="https://twitter.com/intent/tweet?url=https://scienceid.net/event/3385&text='XVIII%20%d0%bc%d0%b5%d0%b6%d0%b4%d1%83%d0%bd%d0%b0%d1%80%d0%be%d0%b4%d0%bd%d0%b0%d1%8f%20%d0%ba%d0%be%d0%bd%d1%84%d0%b5%d1%80%d0%b5%d0%bd%d1%86%d0%b8%d1%8f%20%d0%bc%d0%be%d0%bb%d0%be%d0%b4%d1%8b%d1%85%20%d1%83%d1%87%d0%b5%d0%bd%d1%8b%d1%85%20%20%c2%ab%d0%a0%d0%b0%d0%b7%d0%b2%d0%b8%d1%82%d0%b8%d0%b5%20%d1%82%d0%b5%d1%80%d1%80%d0%b8%d1%82%d0%be%d1%80%d0%b8%d0%b0%d0%bb%d1%8c%d0%bd%d1%8b%d1%85%20%d1%81%d0%be%d1%86%d0%b8%d0%b0%d0%bb%d1%8c%d0%bd%d0%be-%d1%8d%d0%ba%d0%be%d0%bd%d0%be%d0%bc%d0%b8%d1%87%d0%b5%d1%81%d0%ba%d0%b8%d1%85%20%d1%81%d0%b8%d1%81%d1%82%d0%b5%d0%bc:%20%d0%b2%d0%be%d0%bf%d1%80%d0%be%d1%81%d1%8b%20%d1%82%d0%b5%d0%be%d1%80%d0%b8%d0%b8%20%d0%b8%20%d0%bf%d1%80%d0%b0%d0%ba%d1%82%d0%b8%d0%ba%d0%b8%c2%bb'")
												.event-new__info-content
													span.event-new__info-item 09.03.2021
													span.event-new__info-item Свердловская область
									.col-md-6.col-lg-4.d-flex(data-key='3399')
										.event-new.event-new--picture
											a.event-new__content(href='login.html')
												.event-new__media
													.event-new__media-content
												.event-new__content-text
													.event-new__title
														| II Международный форум по математическому
														| образованию - IFME'2021
													.event-new__dscr
											.event-new__info
												.event-new__share
													.event-new__share-btn
													.socials.event-new__socials
														a.socials__item.socials__item--fb(target='_blank' href='https://www.facebook.com/sharer.php?u=https://scienceid.net/event/3399')
														a.socials__item.socials__item--vk(target='_blank' href="\
														https://vk.com/share.php?url=https://scienceid.net/event/3399&title='II Международный форум по математическому образованию - IFME\'2021'&comment='<h3>Организаторы и соорганизаторы:</h3>Казанский (Приволжский) федеральный университет  Институт математики и механики им. Н.И. Лобачевского  Научно-образовательный математический центр ПФО  Казанский (Приволжский) федеральный университет  Институт математики и механики им. Н.И. Лобачевского  Научно-образовательный математический центр ПФО  Казанский (Приволжский) федеральный университет  Институт математики и механики им. Н.И. Лобачевского  Научно-образовательный математический центр ПФО  Казанский (Приволжский) федеральный университет Институт математики и механики им. Н.И. Лобачевского Научно-образовательный математический центр ПФО<h3>Названия журналов:</h3>Электронные библиотеки (elbib.ru), индексируемого в РИНЦ и dblp, Сборник труов конференции'&image=https://scienceid.net/img/event-challenge-4.jpg\
														")
														a.socials__item.socials__item--ok(target='_blank' href='https://connect.ok.ru/dk?st.cmd=WidgetSharePreview&st.shareUrl=https://scienceid.net/event/3399')
														a.socials__item.socials__item--tw(target='_blank' href="https://twitter.com/intent/tweet?url=https://scienceid.net/event/3399&text='II%20%d0%9c%d0%b5%d0%b6%d0%b4%d1%83%d0%bd%d0%b0%d1%80%d0%be%d0%b4%d0%bd%d1%8b%d0%b9%20%d1%84%d0%be%d1%80%d1%83%d0%bc%20%d0%bf%d0%be%20%d0%bc%d0%b0%d1%82%d0%b5%d0%bc%d0%b0%d1%82%d0%b8%d1%87%d0%b5%d1%81%d0%ba%d0%be%d0%bc%d1%83%20%d0%be%d0%b1%d1%80%d0%b0%d0%b7%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d1%8e%20-%20IFME\'2021'")
												.event-new__info-content
													span.event-new__info-item 22.03.2021
													span.event-new__info-item
														| Республика Северная Осетия –
														| Алания
									.col-md-6.col-lg-4.d-flex(data-key='3400')
										.event-new.event-new--picture
											a.event-new__content(href='login.html')
												.event-new__media
													.event-new__media-content
												.event-new__content-text
													.event-new__title
														| V Международная научная конференция
														| «Потемкинские чтения»
													.event-new__dscr
											.event-new__info
												.event-new__share
													.event-new__share-btn
													.socials.event-new__socials
														a.socials__item.socials__item--fb(target='_blank' href='https://www.facebook.com/sharer.php?u=https://scienceid.net/event/3400')
														a.socials__item.socials__item--vk(target='_blank' href='https://oauth.vk.com/authorize?client_id=-1&redirect_uri=https%3A%2F%2Fvk.com%2Fshare.php%3Fdata%3D5379292ac85ace0698&display=widget')
														a.socials__item.socials__item--ok(target='_blank' href='https://connect.ok.ru/dk?st.cmd=WidgetSharePreview&st.shareUrl=https://scienceid.net/event/3400')
														a.socials__item.socials__item--tw(target='_blank' href="https://twitter.com/intent/tweet?url=https://scienceid.net/event/3400&text='V%20%d0%9c%d0%b5%d0%b6%d0%b4%d1%83%d0%bd%d0%b0%d1%80%d0%be%d0%b4%d0%bd%d0%b0%d1%8f%20%d0%bd%d0%b0%d1%83%d1%87%d0%bd%d0%b0%d1%8f%20%d0%ba%d0%be%d0%bd%d1%84%d0%b5%d1%80%d0%b5%d0%bd%d1%86%d0%b8%d1%8f%20%c2%ab%d0%9f%d0%be%d1%82%d0%b5%d0%bc%d0%ba%d0%b8%d0%bd%d1%81%d0%ba%d0%b8%d0%b5%20%d1%87%d1%82%d0%b5%d0%bd%d0%b8%d1%8f%c2%bb'")
												.event-new__info-content
													span.event-new__info-item 24.03.2021
													span.event-new__info-item Ненецкий автономный округ
							.main__challenges
								h2.main__section-header
									| Объединяйтесь с учеными, найдите ответ на 
									span(href='#') #Вызовы
								.main__challenges-content
									span.main__challenge.tooltip(style='background-image: url(img/main-challenge-7.jpg);' data-tooltip-content='#tooltip_content_1' href='#')
										.main__challenge-picture(style='background: url(img/main-challenge-icon-7.png) no-repeat center;')
										.main__challenge-title #экономика
									.tooltip_templates
										#tooltip_content_1
											.container.mt-15.mb-25
												.tooltip_content_main
													h4 #Экономика
													p
														| Исчерпание возможностей экономического роста России, основанного на
														| экстенсивной эксплуатации сырьевых ресурсов, на фоне формирования
														| цифровой экономики и появления ограниченной группы стран-лидеров,
														| обладающих новыми производственными технологиями и ориентированных
														| на использование возобновляемых ресурсов
									span.main__challenge.tooltip(style='background-image: url(img/main-challenge-3.jpg);' data-tooltip-content='#tooltip_content_2' href='#')
										.main__challenge-picture(style='background: url(img/main-challenge-icon-3.png) no-repeat center;')
										.main__challenge-title #демография
									.tooltip_templates
										#tooltip_content_2
											.container.mt-15.mb-25
												.tooltip_content_main
													h4 #Демография
													p
														| Демографический переход, обусловленный увеличением продолжительности
														| жизни людей, изменением их образа жизни, и связанное с этим старение
														| населения, что в совокупности приводит к новым социальным и
														| медицинским проблемам, в том числе к росту угроз глобальных
														| пандемий, увеличению риска появления новых и возврата исчезнувших
														| инфекций
									span.main__challenge.tooltip(style='background-image: url(img/main-challenge-1.jpg);' data-tooltip-content='#tooltip_content_3' href='#')
										.main__challenge-picture(style='background: url(img/main-challenge-icon-1.png) no-repeat center;')
										.main__challenge-title #природа
									.tooltip_templates
										#tooltip_content_3
											.container.mt-15.mb-25
												.tooltip_content_main
													h4 #Природа
													p
														| Возрастание антропогенных нагрузок на окружающую среду до масштабов,
														| угрожающих воспроизводству природных ресурсов, и связанный с их
														| неэффективным использованием рост рисков для жизни и здоровья
														| граждан
									span.main__challenge.tooltip(style='background-image: url(img/main-challenge-6.jpg);' data-tooltip-content='#tooltip_content_6' href='#')
										.main__challenge-picture(style='background: url(img/main-challenge-icon-6.png) no-repeat center;')
										.main__challenge-title #продовольствие
									.tooltip_templates
										#tooltip_content_6
											.container.mt-15.mb-25
												.tooltip_content_main
													h4 #Продовольствие
													p
														| Потребность в обеспечении продовольственной безопасности и
														| продовольственной независимости России, конкурентоспособности
														| отечественной продукции на мировых рынках продовольствия, снижение
														| технологических рисков в агропромышленном комплексе;
									span.main__challenge.tooltip(style='background-image: url(img/main-challenge-2.jpg);' data-tooltip-content='#tooltip_content_5' href='#')
										.main__challenge-picture(style='background: url(img/main-challenge-icon-2.png) no-repeat center;')
										.main__challenge-title #энергетика
									.tooltip_templates
										#tooltip_content_5
											.container.mt-15.mb-25
												.tooltip_content_main
													h4 #Энергетика
													p
														| Качественное изменение характера глобальных и локальных
														| энергетических систем, рост значимости энерговооруженности экономики
														| и наращивание объема выработки и сохранения энергии, ее передачи и
														| использования
									span.main__challenge.tooltip(style='background-image: url(img/main-challenge-4.jpg);' data-tooltip-content='#tooltip_content_4' href='#')
										.main__challenge-picture(style='background: url(img/main-challenge-icon-4.png) no-repeat center;')
										.main__challenge-title #безопасность
									.tooltip_templates
										#tooltip_content_4
											.container.mt-15.mb-25
												.tooltip_content_main
													h4 #Безопасность
													p
														| Новые внешние угрозы национальной безопасности (в том числе военные
														| угрозы, угрозы утраты национальной и культурной идентичности
														| российских граждан), обусловленные ростом международной конкуренции
														| и конфликтности, глобальной и региональной нестабильностью, и
														| усиление их взаимосвязи с внутренними угрозами национальной
														| безопасности
									span.main__challenge.tooltip(style='background-image: url(img/main-challenge-5.jpg);' data-tooltip-content='#tooltip_content_7' href='#')
										.main__challenge-picture(style='background: url(img/main-challenge-icon-5.png) no-repeat center;')
										.main__challenge-title #пространство
									.tooltip_templates
										#tooltip_content_7
											.container.mt-15.mb-25
												.tooltip_content_main
													h4 #Пространство
													p
														| Необходимость эффективного освоения и использования пространства, в
														| том числе путем преодоления диспропорций в социально-экономическом
														| развитии территории страны, а также укрепление позиций России в
														| области экономического, научного и военного освоения космического и
														| воздушного пространства, Мирового океана, Арктики и Антарктики.
								span.main__challenges-target(href='#') #Большойвызов
							.main__info
								h2.main__section-header.mb-30.mb-md-65.pt-40
									| Больше информации о
									span(href='#') #Вызовах
								.row
									.col-md-7.main__info-content
										p.main__info-text
											| Научно-технологическое развитие Российской Федерации является одним из
											| приоритетов государственной политики и определяется комплексом внешних и
											| внутренних (по отношению к области науки и технологий) факторов, формирующих
											| систему больших вызовов.
											| Наука и технологии являются одним из инструментов для ответа на эти вызовы,
											| играя важную роль не только в обеспечении устойчивого развития цивилизации, но и
											| в оценке рисков и возможных опасностей для человечества.
										a.btn.btn--gray(href='big-challenges.html') Подробнее об онлайн-курсе »
										// <a class="main__pdf" href="#">Название постановления с датой и расшифровкой (pdf, 3mb)</a>
									.col-md-5.big-challenge-main.mt-20.mt-md-0
										// <a class="main__video" href="#">#Большойвызов</a>
										a(href='big-challenges.html')
											img.big-challenge-main(src='img/big--challenges.png')
							// <div class="main__events">
							// <div class="main__events-header">
							// <h2 class="main__section-header">Экскурсии <span style="color: #2252ac;" href="#">#ЯВНАУКЕ</span></h2>
							// </div>
							// 
							// </div>
							.main__info.my-60
								a(href='president/index.html')
									.row
										.col-md-7.main__info-content
											h3.mb-30.mb-md-65.pt-40 Инструменты поддержки молодых ученых
											p.main__info-text
												| Координационный совет по делам молодежи в научной и
												| образовательной сферах
												| Совета по науке и образованию при Президенте Российской Федерации
												| подготовил материал по систематизации инструментов поддержки молодых ученых
											// <a class="main__pdf" href="#">Название постановления с датой и расшифровкой (pdf, 3mb)</a>
										.col-md-5.big-challenge-main.mt-20.mt-md-0
											// <a class="main__video" href="#">#Большойвызов</a>
											img.big-challenge-main(src='img/broshura.png')
		.footer
			.container
				.row
					.col-12
						.d-flex.flex-column.align-items-center
							.socials
								a.socials__item.socials__item--fb(target='_blank' href='https://www.facebook.com/Science-ID-562632444117613')
								a.socials__item.socials__item--vk(target='_blank' href='https://vk.com/public165202495')
								a.socials__item.socials__item--ok(target='_blank' href='https://ok.ru/group/55660769509393')
								// <a class="socials__item socials__item--go" href="#"></a>
								a.socials__item.socials__item--ig(target='_blank' href='https://www.instagram.com/scienceid_net')
								a.socials__item.socials__item--tw(target='_blank' href='https://twitter.com/science_id_net')
								a.socials__item.socials__item--yt(target='_blank' href='https://www.youtube.com/channel/UCOUx1rGKd0gB7FIFKz7oF9A')
							.footer__sitemap
								a.footer__sitemap-link(href='login.html')
									| Пользователи
								a.footer__sitemap-link(href='login.html')
									| Мероприятия
								a.footer__sitemap-link(href='login.html')
									| Вакансии
								a.footer__sitemap-link(href='login.html')
									| Группы
								a.footer__sitemap-link(href='news.html')
									| Новости
								a.footer__sitemap-link(href='big-challenges.html')
									| Курс СНТР
								a.footer__sitemap-link(href='quiz.html')
									| Опросы
								a.footer__sitemap-link(href='about.html')
									| О проекте
								a.footer__sitemap-link(href='contacts.html')
									| Контакты
								a.footer__sitemap-link(href='faq.html')
									| Помощь
							.footer__sitemap
								form(action='https://scienceid.net/search' method='post')
									input(type='hidden' name='_csrf' value='Ajpn_ruX_-oZyO9ozOmBzMmeoANPn6HE3IXv296cM1pmfgzMis3O3FP-twyAv_OkqvjPQAvI4qi6sa2xqKtQHg==')
									.search__form-content
										button.search__btn(type='submit')
										input.sitemap__input(placeholder='Поиск по сайту' name='search_field')
							.footer__copyright © 2021 Science - ID
				.row.footer__afterwords
					.col-md-6
						| Проект находится в разработке
					.col-md-6
						| При поддержке Министерства науки и высшего образования РФ
		script(src='js/scripts05db.js?v=1585816358')
		script(src='assets/71105df0/yii19b7.js?v=1553535848')
		script(src='assets/b24ee16d/js/Event19b7.js?v=1553535848')
		script(src='js/tooltipster.bundle9f30.js?v=1571670977')
		script(src='js/evgeni5f20.js?v=1582178478')
		script(src='js/Globalsd4bf.js?v=1571670974')
		script(src='../stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js')
		script(src='js/Vacanciesd4bf.js?v=1571670974')
		// Global site tag (gtag.js) - Google Analytics
		script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-120801196-1')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());
			gtag('config', 'UA-120801196-1');
		// Google Tag Manager
		script.
			(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
			'gtm.start':
			new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
			j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
			'../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', 'GTM-K2ZR9FK');
		// End Google Tag Manager
		// Google Tag Manager (noscript)
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-K2ZR9FK' height='0' width='0' style='display:none;visibility:hidden')
		// Mirrored from scienceid.net/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Feb 2021 09:33:46 GMT
