.accordion-item {
  .accordion-item {
  
    margin-bottom: rem(23);
    .accordion-item__head:before{
      top: calc(var(--sp-y) + 8px);
    }
  }
  @media (min-width: 1200px) {
    // --sp-x: #{rem(70)};
  }
  --sp-y: #{rem(30)};
  --sp-x: #{rem(40)};
  background: #eef1f3;
  margin-bottom: rem(56);

  p {
    font-size: 14px;
  }

  &__head {
    cursor: pointer;
    @media (min-width: 576px) {
      padding: calc(var(--sp-y)) var(--sp-x);
    }
    padding: var(--sp-y) 15px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: calc(var(--sp-x) - 22px);
      top: calc(var(--sp-y) + 15px);
      background-image: url(../img/chevron-down.svg);
      width: rem(22);
      height: rem(11);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      transform: rotate(-90deg);
      @include mt;
    }
  }
  &.active {
    --display: block;
    .accordion-item__head {
      &::before {
        transform: rotate(0);
      }
    }
  }
   &__body {

     padding: 0 var(--sp-x) var(--sp-y);
  }
  &:not(.active) > &__body {
    display: none;
  }

  .diagram {
    padding-top: rem(100);
  }
  font-size: 14px;
  &__list-item {
    @media (min-width: 768px) {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      max-width: rem(766 + 53 + 23);
    }
    margin-bottom: 40px;
  }
  &__count {
    font-size: rem(40);
    font-weight: bold;
    width: rem(53 + 23);
    flex: 0 0 auto;
    &--sm {
      font-size: rem(20);
      width: rem(63 + 67);
    }
  }
  &__table-wrap {
    position: relative;
    overflow-x: auto;
    margin-bottom: 50px;
  }
  table {
    min-width: 700px;
  }
  tbody {
    th {
    }
    tr:last-child {
      th,
      td {
        // display: none;
        border: none;
      }
    }
  }
  td,
  th {
    border-bottom: 1px solid $primary;
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: top;
    &:first-child {
      width: 200px;
    }
    &:nth-child(1),
    &:nth-child(2) {
      @media (min-width: 1200px) {
        padding-right: rem(40);
      }
      padding-right: rem(15);
    }
  }

  thead {
    th {
      border-width: 3px;
      // font-size: 12px;
      color: #787878;
      font-weight: normal;
      vertical-align: bottom;
      font-size: 18px;
    }
  }
  &__th-title {
    max-width: 210px;
  }
  [scope="row"] {
    font-size: rem(18);
    font-weight: normal;
    color: $primary;
  }

  .h6 {
    font-weight: normal;
    font-size: 18px;
  }
  ul {
    padding-left: rem(20);
  }
  li {
    margin-bottom: 1rem;
    &::marker {
      color: $primary;
    }
  }

  .diagram-block--sm {
  }

  &__footer {
    padding-top: rem(100);
  }
  &__btns {
    display: flex;
    @include roww(30px, m);
  }
  &__btn {
    width: calc(50% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(64);
    font-size: rem(16);
    color: #fff !important;
    white-space: normal;
    border-radius: 10px;
    font-weight: normal;
    margin-bottom: 35px;
    line-height: 144%;
    &.btn-darken {
      background: #2252ac;
      border-color: #2252ac;
      &:hover {
        background: #12326f;
        border-color: #12326f;
      }
    }
  }
  &--growth {
    margin-bottom: 0;
   
    position: relative;
    &:last-child {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: calc(-1 * ((100vw - 1120px) / 2));
        width: 100vw;
        height: 1px;
        background-color: #c4c4c4;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: calc(-1 * ((100vw - 1120px) / 2));
      width: 100vw;
      height: 1px;
      background-color: #c4c4c4;
    }
    & > .accordion-item__head {
      @media (min-width: 576px) {
        padding-left: 0;
      }
      padding-left: 0;
      &::before {
      }
      &.h2 {
        font-size: 30px;
        margin-bottom: 0;
      }
    }
    & > .accordion-item__body {
      padding: 0;
       padding-bottom: rem(20);
    }

    .accordion-item__subtitle {
      position: relative;
      top: -20px;
      padding-bottom: 20px;
    }

    .accordion-item__list-item {
      max-width: 1000px;
      margin-left: 0;
      margin-right: 0;
      .h6 {
        margin-bottom: 20px;
      }
    }
  }
  table.instruments {
    width: 100%;
    td{
      &:nth-child(even){
        background-color: rgba($color: $primary, $alpha: .06);
      }
      // border-left: 1px solid $primary;
    }
    tbody {
      // background-color: rgba($color: $primary, $alpha: .06);
      th {
        
      }
      tr:last-child {
        th,
        td {
          // display: none;
          border-bottom: 1px solid $primary;
        }
      }
      td {
        text-align: center;
        color: $primary;
        font-size: 18px;
        line-height: 180%;
      }
    }
    td,
    th {
      border-bottom: 1px solid $primary;
      vertical-align: middle;
      &:first-child {
        width: auto;
      }
      &:nth-child(1),
      &:nth-child(2) {
        padding: 0;
      }
    }

    thead {
      th:nth-child(odd) {
        background-color: rgba($color: $primary, $alpha: .06);
      }
      .heading th {
        background: none !important;
      }
      tr.heading {
        th {
          &:first-child {
            width: 366px;
            text-align: left;
          }
          &:nth-child(2) {
            padding-left: 25px;
            .instruments__th-title {
              position: relative;
              top: 10px;
            }
          }
        }
      }
      th {
        border-width: 3px;
        // font-size: 12px;
        color: #787878;
        font-weight: normal;
        vertical-align: middle;
        text-align: center;
      }
    }
    &__th-title {
      max-width: 366px;
    }
    [scope="row"] {
      font-weight: normal;
      font-size: 14px;
      line-height: (25 / 14);
      color: #2b2b2b;
      padding: 24px 24px 24px 0 !important;
    }
    [scope="colgroup"] {
      border-color: transparent;
    }

   
  }
ol li{
  &::marker{
    font-weight: bold;
    color: #000;
    font-size: 1.2em;
    // margin-right: rem(20);
  }
}
 ol{
      padding-left: rem(20);
      // margin-left: rem(20);
    }
}


.strong{
  font-weight: bold !important; 
}

.py-2.px-3.text-primary.bg-white.strong.mb-3 + .h6{
  padding-top: rem(10);
}


.video-item{
  display: block;
  margin-bottom: 50px;
  font-size: 18px;
  color: #000;
  &__img-wrap{
    @include block(732, 410);
    margin-bottom: 30px;
    position: relative;
    img{
      @include a-cent;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__btn{
    @include a-cent1;
    width: 78.66px;
    height: 78.66px; 
    background: #FFFFFF;
    border-radius: 50%;
    &::before{
      content: '';
      @include a-cent1;
      @include triangle(20px 14px, #4396F7, right);
    }
  }
}