doctype html
html(lang='ru-RU')
	// Mirrored from scienceid.net/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Feb 2021 09:33:21 GMT
	// Added by HTTrack
	head
		meta(http-equiv='content-type' content='text/html;charset=UTF-8')
		// /Added by HTTrack
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=Edge')
		title
			| --SCIENCE_ID--
		// suppress HtmlUnknownTarget
		link(rel='apple-touch-icon' sizes='180x180' href='apple-touch-icon.png')
		// suppress HtmlUnknownTarget
		link(rel='icon' type='image/png' sizes='32x32' href='favicon-32x32.png')
		// suppress HtmlUnknownTarget
		link(rel='icon' type='image/png' sizes='16x16' href='favicon-16x16.png')
		// suppress HtmlUnknownTarget
		link(rel='manifest' href='site.webmanifest')
		// suppress HtmlUnknownTarget
		link(rel='mask-icon' href='safari-pinned-tab.svg' color='#0284d2')
		meta(name='apple-mobile-web-app-title' content='SCIENCE-ID')
		meta(name='application-name' content='SCIENCE-ID')
		meta(name='msapplication-TileColor' content='#0284d2')
		meta(name='theme-color' content='#ffffff')
		meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=0')
		meta(name='format-detection' content='telephone=no')
		meta(name='mailru-verification' content='aa14ef43210cb631')
		meta(name='csrf-param' content='_csrf')
		meta(name='csrf-token' content='Ajpn_ruX_-oZyO9ozOmBzMmeoANPn6HE3IXv296cM1pmfgzMis3O3FP-twyAv_OkqvjPQAvI4qi6sa2xqKtQHg==')
		link(href='css/1stylefc59.css?v=1605178297' rel='stylesheet')
		link(href='css/stylec0c7.css?v=1605178298' rel='stylesheet')
		link(href='css/3evgenib9b5.css?v=1604335222' rel='stylesheet')
		link(href='css/2fgorsky22f5.css?v=1571670897' rel='stylesheet')
		link(href='css/4maer22f5.css?v=1571670897' rel='stylesheet')
		link(href='css/5anton22f5.css?v=1571670897' rel='stylesheet')
		link(href='css/roman311a.css?v=1581333435' rel='stylesheet')
		//- link(href='css/tooltipster.bundle4fe5.css?v=1571670899' rel='stylesheet')

		link(href='https://cdnjs.cloudflare.com/ajax/libs/tooltipster/4.2.8/css/tooltipster.bundle.css' rel='stylesheet')
		link(href='css/custom.css' rel='stylesheet')
	body#body(data-public-url='index.html')
		.wrapper
			.header
				.container
					.row
						.col-12
							.header__wrapper
								a.logo(href='index.html') SCIENCE-ID
								.menu
									a.menu__btn(href='#')
									ul.menu__content
										li.menu__item
											a.menu__link(href='login.html')
												| Пользователи
										li.menu__item
											a.menu__link(href='login.html')
												| Мероприятия
										li.menu__item
											a.menu__link(href='login.html')
												| Вакансии
										li.menu__item
											a.menu__link(href='login.html')
												| Группы
										li.menu__item
											a.menu__link
											a.menu__link(href='news.html')
												| Новости
										li.menu__item
											a.menu__link(href='contacts.html')
												| Контакты
								.header__enter
									.guest.user__btn
										a.header__enter-button(href='#')
									.header__enter-content
										a.btn.btn-link.header__enter-link(href='login.html')
											| Войти
										a.btn.btn-primary.header__enter-link(href='registration.html')
											| Регистрация
			.subheader
				.container
					.row
						.col-12
							h1.subheader__title.subheader__title--sm КОМПЕТЕНЦИИ В&nbsp;НАУКЕ
			.header-block
				.container
					.wrap
						.row
							.col-md-3
								a.link-back.btn.btn--gray(href="#") Назад к&nbsp;новостям
							.col-md-9
								p.header-block__text Турбина ПТ-60/130 свои первые мегаватты выдала в&nbsp;марте 1982&nbsp;года, а&nbsp;с&nbsp;даты сдачи ее&nbsp;в&nbsp;эксплуатацию&nbsp;&mdash; 18&nbsp;апреля&nbsp;&mdash; началась история Абаканской ТЭЦ. Капитальный ремонт турбины в&nbsp;программе подготовки станции к&nbsp;отопительному сезону&nbsp;&mdash; пункт важнейший и&nbsp;самый продолжительный. По&nbsp;графику ремонтной программы на&nbsp;него отведено 120&nbsp;дней. Как сообщил главный инженер Абаканского филиала компании &laquo;Сибирьэнергоремонт&raquo; Владимир Ручьев, специалисты&mdash;ремонтники делают сегодня все, чтобы сдать турбину в&nbsp;эксплуатацию к&nbsp;началу сентября в&nbsp;соответствии с&nbsp;утвержденным графиком:
								p.header-block__text &laquo;Первая турбина&nbsp;&mdash; один из&nbsp;самых сложных объектов в&nbsp;программе подготовки Абаканской ТЭЦ к&nbsp;отопительному сезону. Роторы высокого и&nbsp;низкого давления были отремонтированы в&nbsp;заводских условиях в&nbsp;Екатеринбурге&nbsp;&mdash; там восстанавливали изношенные в&nbsp;период эксплуатации лопатки. Работы проводились под наблюдением абаканских энергетиков, к&nbsp;качеству их&nbsp;выполнения претензий пока что нет. Начавшийся этап сборочных работ&nbsp;&mdash; серьезный экзамен для ремонтников. На&nbsp;этом участке задействованы наши самые опытные специалисты, в&nbsp;квалификации и&nbsp;мастерстве которых я&nbsp;не&nbsp;сомневаюсь&raquo;.
			.model
				.container
					.wrap
						h2.model__title МОДЕЛЬ КОМПЕТЕНЦИЙ
						.row.row--main
							mixin radio(t1,t2,n='n')
								.col-md-auto.col-sm-6.col-xl
									label.custom-radio-block
										input.custom-radio-block__input(type="radio" name= n)&attributes(attributes)
										span.custom-radio-block__title!= t1
										span.custom-radio-block__text!= t2
							.col-xl-5
								h4.model__subtitle Исследования, научные работники:
								.row.row--sub
									+radio(`Начинающий исследователь`,`Аспирант, стажер, мнс`)
									+radio(`Самостоятельный исследователь`,`НС, СНС с&nbsp;ученой степенью`)
									+radio(`Исследователь высокой квалификации`,`ВНС`)
							.col-xl-7
								h4.model__subtitle Управление в&nbsp;научной сфере:
								.row.row--sub
									+radio(`Исследователь высшей квалификации`,`ГНС, научный рук-ль организации`,`n2`)
									+radio(`Руководитель малого исследовательского коллектива`,`Группа`,`n2`)
									+radio(`Руководитель структурного подразделения`,`Лаборатории, центра`,`n2`)
									+radio(`Руководитель научной или исследовательской организации`,``,`n2`)
						.diagram
							.row
								.col-lg-6
									.diagram__result
										.diagram__note
											span • 
											| Ваш результат
										
										.diagram-block 
											<canvas id="canvas"></canvas>
											div
												- for (var x = 0; x < 12; x++)
													.diagram-block-item(class="ketchup tooltip" title="This is my link's tooltip message!")
														//- .diagram-block-item-toltip
								.col-lg-6
									.diagram__content
										h4.diagram__title Самостоятельный исследователь
										.diagram__sub НС, СНС с&nbsp;ученой степенью
										p.diagram__text Турбина ПТ-60/130 свои первые мегаватты выдала в&nbsp;марте 1982&nbsp;года, а&nbsp;с&nbsp;даты сдачи ее&nbsp;в&nbsp;эксплуатацию&nbsp;&mdash; 18&nbsp;апреля&nbsp;&mdash; началась история Абаканской ТЭЦ. Капитальный ремонт турбины в&nbsp;программе подготовки станции к&nbsp;отопительному сезону&nbsp;&mdash; пункт важнейший и&nbsp;самый продолжительный. По&nbsp;графику ремонтной программы на&nbsp;него отведено 120&nbsp;дней. Как сообщил главный инженер Абаканского филиала компании &laquo;Сибирьэнергоремонт&raquo; Владимир Ручьев, специалисты&mdash;ремонтники делают сегодня все, чтобы сдать турбину в&nbsp;эксплуатацию к&nbsp;началу сентября в&nbsp;соответствии с&nbsp;утвержденным графиком:
										a.diagram__link(href='#') Активная ссылка
										a.diagram__link(href='#') Длинная активная ссылка для наглядности
										a.diagram__link(href='#') Еще ссылка
										a.btn.btn-primary.btn-primary--light(href='#') Пройдите тест и&nbsp;узнайте на&nbsp;какой вы&nbsp;ступени



			//- .container
			//- 	.questions
			//- 		.questions__item.questions__item--done
			//- 		.questions__item.questions__item--done
			//- 		.questions__item.questions__item--done
			//- 		.questions__item.questions__item--current
			//- 		- for (var x = 0; x < 24; x++)
			//- 			.questions__item

		.footer
			.container
				.row
					.col-12
						.d-flex.flex-column.align-items-center
							.socials
								a.socials__item.socials__item--fb(target='_blank' href='https://www.facebook.com/Science-ID-562632444117613')
								a.socials__item.socials__item--vk(target='_blank' href='https://vk.com/public165202495')
								a.socials__item.socials__item--ok(target='_blank' href='https://ok.ru/group/55660769509393')
								// <a class="socials__item socials__item--go" href="#"></a>
								a.socials__item.socials__item--ig(target='_blank' href='https://www.instagram.com/scienceid_net')
								a.socials__item.socials__item--tw(target='_blank' href='https://twitter.com/science_id_net')
								a.socials__item.socials__item--yt(target='_blank' href='https://www.youtube.com/channel/UCOUx1rGKd0gB7FIFKz7oF9A')
							.footer__sitemap
								a.footer__sitemap-link(href='login.html')
									| Пользователи
								a.footer__sitemap-link(href='login.html')
									| Мероприятия
								a.footer__sitemap-link(href='login.html')
									| Вакансии
								a.footer__sitemap-link(href='login.html')
									| Группы
								a.footer__sitemap-link(href='news.html')
									| Новости
								a.footer__sitemap-link(href='big-challenges.html')
									| Курс СНТР
								a.footer__sitemap-link(href='quiz.html')
									| Опросы
								a.footer__sitemap-link(href='about.html')
									| О проекте
								a.footer__sitemap-link(href='contacts.html')
									| Контакты
								a.footer__sitemap-link(href='faq.html')
									| Помощь
							.footer__sitemap
								form(action='https://scienceid.net/search' method='post')
									input(type='hidden' name='_csrf' value='Ajpn_ruX_-oZyO9ozOmBzMmeoANPn6HE3IXv296cM1pmfgzMis3O3FP-twyAv_OkqvjPQAvI4qi6sa2xqKtQHg==')
									.search__form-content
										button.search__btn(type='submit')
										input.sitemap__input(placeholder='Поиск по сайту' name='search_field')
							.footer__copyright © 2021 Science - ID
				.row.footer__afterwords
					.col-md-6
						| Проект находится в разработке
					.col-md-6
						| При поддержке Министерства науки и высшего образования РФ
		script(src='js/utils.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js') 
		script(src='https://cdnjs.cloudflare.com/ajax/libs/tooltipster/4.2.8/js/tooltipster.bundle.min.js') 
		script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js') 
		script(src='js/custom.js')

		script.
											
			var randomScalingFactor = function () {
				return Math.round(Math.random() * 5);
			};

			let bgSet = {
				label: false,
				backgroundColor: 'rgba(93,164,248, .16)',
				borderColor: 'rgba(93,164,248, 0)',
				pointBackgroundColor: 'transparent',
				lineTension: .4,
				tooltips: false,
			}

			var color = Chart.helpers.color;
			var config = {
				type: 'radar',
				data: {
					labels: ['', '', '', '', '', '', '', '', '', '', '', ''],
					datasets: [
						{
							...bgSet,
							data: [
								5,
								5,
								5,
								5,
								5,
								5,
								5,
								5,
								5,
								5,
								5,
								5,
							]
						},
						{
							...bgSet,
							data: [
								4,
								4,
								4,
								4,
								4,
								4,
								4,
								4,
								4,
								4,
								4,
								4,
							]
						},
						{
							...bgSet,
							data: [
								3,
								3,
								3,
								3,
								3,
								3,
								3,
								3,
								3,
								3,
								3,
								3,
							]
						},
						{
							...bgSet,
							data: [
								2,
								2,
								2,
								2,
								2,
								2,
								2,
								2,
								2,
								2,
								2,
								2,
							]
						},
						{
							...bgSet,
							data: [
								1,
								1,
								1,
								1,
								1,
								1,
								1,
								1,
								1,
								1,
								1,
								1,
							]
						},
						// {
						// 	label: false,
						// 	backgroundColor: 'rgba(93,164,248, .8)',
						// 	borderColor: 'rgba(93,164,248, 0)',
						// 	pointBackgroundColor: 'transparent',
						// 	lineTension: .4,
						// 	tooltips: false,
						// 	data: [
						// 		2,
						// 		2,
						// 		1,
						// 		2,
						// 		2,
						// 		2,
						// 		1,
						// 		0,
						// 		2,
						// 		2,
						// 		1,
						// 		2,

						// 	]
						// },
						// {
						// 	tooltips: false,
						// 	lineTension: .1,
						// 	label: false,
						// 	backgroundColor: 'transparent',
						// 	borderColor: '#4C9464',
						// 	pointBackgroundColor: 'transparent',
						// 	data: [
						// 		1,
						// 		randomScalingFactor(),
						// 		randomScalingFactor(),
						// 		randomScalingFactor(),
						// 		randomScalingFactor(),
						// 		randomScalingFactor(),
						// 		randomScalingFactor()
						// 	]
						// },
					]
				},
				options: {
					maintainAspectRatio: false,
					elements: {
						point: {
							display: false,
							radius: 0
						}
					},
					legend: {
						display: false,
						// position: 'top',
					},
					title: {
						display: false,
					},
					scale: {
						spanGaps: true,
						angleLines: {
							// display: false
							color: '#4396f7'
						},
						ticks: {
							color: '#4396f7',
							max: 5,
							min: 0,
							stepSize: 1
							// display: false
							// beginAtZero: true
						}
					}
				}
			};