include components/head.pug
include components/footer.pug
include components/accordion.pug
include components/accordion2.pug
include components/logos.pug
+head()
		.subheader
			.container
				.row
					.col-12
						h1.subheader__title.subheader__title--sm Рекомендации по поиску инструментов формирования компетенций
		//- .header-block--sm
		//- 	.container.container--sm
		//- 		.wrap
		//- 			p Настоящий подраздел содержит рекомендации начинающим исследователям по&nbsp;реализации траекторий профессионального развития в&nbsp;научной сфере и&nbsp;сопряженных сферах деятельности, а&nbsp;также примерный перечень инструментов формирования требуемых компетенций.
		//- 			p В&nbsp;основе рекомендаций лежат разработанные экспертами базовые &laquo;диаграммы компетенций&raquo; исследователей с&nbsp;различным уровнем квалификации

		+accordion3

		//- .section.container.text-center
		//- 	.row.align-items-center
		//- 		.col-4 
		//- 			img(src="img/logo-foot-1.png" loading="lazy", alt="")
		//- 		.col-4 
		//- 			img(src="img/logo-foot-2.png" loading="lazy", alt="")
		//- 		.col-4 
		//- 			img(src="img/logo-foot-3.png" loading="lazy", alt="")
		
			//- mixin aacordion
		

+footer().mt-0

	//- script.
										
	//- 	var randomScalingFactor = function () {
	//- 		return Math.round(Math.random() * 5);
	//- 	};

	//- 	let bgSet = {
	//- 		label: false,
	//- 		backgroundColor: 'rgba(93,164,248, .16)',
	//- 		borderColor: 'rgba(93,164,248, 0)',
	//- 		pointBackgroundColor: 'transparent',
	//- 		lineTension: .4,
	//- 		tooltips: false,
	//- 	}

	//- 	var color = Chart.helpers.color;
	//- 	var config = {
	//- 		type: 'radar',
	//- 		data: {
	//- 			labels: ['', '', '', '', '', '', '', '', '', '', '', ''],
	//- 			datasets: [
	//- 				{
	//- 					...bgSet,
	//- 					data: [
	//- 						5,
	//- 						5,
	//- 						5,
	//- 						5,
	//- 						5,
	//- 						5,
	//- 						5,
	//- 						5,
	//- 						5,
	//- 						5,
	//- 						5,
	//- 						5,
	//- 					]
	//- 				},
	//- 				{
	//- 					...bgSet,
	//- 					data: [
	//- 						4,
	//- 						4,
	//- 						4,
	//- 						4,
	//- 						4,
	//- 						4,
	//- 						4,
	//- 						4,
	//- 						4,
	//- 						4,
	//- 						4,
	//- 						4,
	//- 					]
	//- 				},
	//- 				{
	//- 					...bgSet,
	//- 					data: [
	//- 						3,
	//- 						3,
	//- 						3,
	//- 						3,
	//- 						3,
	//- 						3,
	//- 						3,
	//- 						3,
	//- 						3,
	//- 						3,
	//- 						3,
	//- 						3,
	//- 					]
	//- 				},
	//- 				{
	//- 					...bgSet,
	//- 					data: [
	//- 						2,
	//- 						2,
	//- 						2,
	//- 						2,
	//- 						2,
	//- 						2,
	//- 						2,
	//- 						2,
	//- 						2,
	//- 						2,
	//- 						2,
	//- 						2,
	//- 					]
	//- 				},
	//- 				{
	//- 					...bgSet,
	//- 					data: [
	//- 						1,
	//- 						1,
	//- 						1,
	//- 						1,
	//- 						1,
	//- 						1,
	//- 						1,
	//- 						1,
	//- 						1,
	//- 						1,
	//- 						1,
	//- 						1,
	//- 					]
	//- 				},
	//- 				// {
	//- 				// 	label: false,
	//- 				// 	backgroundColor: 'rgba(93,164,248, .8)',
	//- 				// 	borderColor: 'rgba(93,164,248, 0)',
	//- 				// 	pointBackgroundColor: 'transparent',
	//- 				// 	lineTension: .4,
	//- 				// 	tooltips: false,
	//- 				// 	data: [
	//- 				// 		2,
	//- 				// 		2,
	//- 				// 		1,
	//- 				// 		2,
	//- 				// 		2,
	//- 				// 		2,
	//- 				// 		1,
	//- 				// 		0,
	//- 				// 		2,
	//- 				// 		2,
	//- 				// 		1,
	//- 				// 		2,

	//- 				// 	]
	//- 				// },
	//- 				// {
	//- 				// 	tooltips: false,
	//- 				// 	lineTension: .1,
	//- 				// 	label: false,
	//- 				// 	backgroundColor: 'transparent',
	//- 				// 	borderColor: '#4C9464',
	//- 				// 	pointBackgroundColor: 'transparent',
	//- 				// 	data: [
	//- 				// 		1,
	//- 				// 		randomScalingFactor(),
	//- 				// 		randomScalingFactor(),
	//- 				// 		randomScalingFactor(),
	//- 				// 		randomScalingFactor(),
	//- 				// 		randomScalingFactor(),
	//- 				// 		randomScalingFactor()
	//- 				// 	]
	//- 				// },
	//- 			]
	//- 		},
	//- 		options: {
	//- 			maintainAspectRatio: false,
	//- 			elements: {
	//- 				point: {
	//- 					display: false,
	//- 					radius: 0
	//- 				}
	//- 			},
	//- 			legend: {
	//- 				display: false,
	//- 				// position: 'top',
	//- 			},
	//- 			title: {
	//- 				display: false,
	//- 			},
	//- 			scale: {
	//- 				spanGaps: true,
	//- 				angleLines: {
	//- 					// display: false
	//- 					color: '#4396f7'
	//- 				},
	//- 				ticks: {
	//- 					color: '#4396f7',
	//- 					max: 5,
	//- 					min: 0,
	//- 					stepSize: 1
	//- 					// display: false
	//- 					// beginAtZero: true
	//- 				}
	//- 			}
	//- 		}
	//- 	};
	//- 	window.myRadar = new Chart(document.getElementById('canvas'), config);