mixin accordion-item2(t)
	+b.accordion-item--growth.bg-white&attributes(attributes)
		+e.head.h2= t
		+e.body
			block
mixin accordion-item3(t)
	+b.accordion-item&attributes(attributes)
		+e.head.h5= t
		+e.body
			block
mixin accordion2()
	.section.pt-0.pb-0.container.container--sm
		+accordion-item2('Рекомендации по реализации траекторий профессионального развития').active
			+b.base-diagrams
				+e.title Базовые &laquo;диаграммы компетенций&raquo; исследователей
				p ООпределение компетенций и уровней их развития можно найти в  #[a(href='#') карте компетенций] <br> Ниже базовых «диаграмм компетенций» исследователя приведена шкала профессиональных позиций (должностей)  трека «Научные сотрудники», которая  примерно согласована с диаграммами компетенций  по уровню квалификации
				+e.list
					.row
						.col-md-6
							mixin item(c, t)
								+e.list-item
									+e.SPAN.list-count!= c
									+e.SPAN.list-text!= t
							+item(`1.`, `Исследовательский опыт и&nbsp;профессиональные знания`)
							+item(`2.`, `Реализация жизненного цикла научного продукта (ЖЦНП)`)
							+item(`3.`, `Лидерство`)
							+item(`4.`, `Научное творчество`)
							+item(`5.`, `Саморазвитие и&nbsp;профессиональный рост`)
							+item(`6.`, `Научно-технологическое предпринимательство`)
						.col-md-6
							+item(`7.`, `Социальная ответственность и&nbsp;взаимодействие с&nbsp;обществом`)
							+item(`8.`, `Взаимодействие с&nbsp;деловым сообществом и&nbsp;институтами публичной власти`)
							+item(`9.`, `Научное наставничество&nbsp;/ подготовка научных и&nbsp;научно- педагогических кадров`)
							+item(`10.`, `Научная экспертиза`)
							+item(`11.`, `Научно-технологическое предпринимательство`)
							+item(`12.`, `Управление в&nbsp;научной сфере`)
			+b.base-diagrams-banner
				+e.top
					.tabs.tabs--js
						.tabs__caption.row

							mixin btn(t, i) 
								.col-3.tabs__btn&attributes(attributes)
									+e.item
										+e.title.text-sm-center!= t
										+e.img-wrap
											img(src=`img/diagram-base-${i}.svg`, alt="")
						
							+btn(`Начинающий исследователь`, 1).active
							+btn(`Самостоятельный исследователь`, 2)
							+btn(`Исследователь высокой квалификации`, 3)
							+btn(`Исследователь высшей квалификации`, 4)
						mixin item(t, i)
							.col-3
								+e.item&attributes(attributes)
									+e.title.text-sm-center!=t
									+e.img-wrap
										img(src=`img/diagram-base-${i}.svg`, alt="")
						mixin tab-footer()
							.row.row-35.pt-50
								.col-auto
									+e.tooltip--blue Исходный уровень компетенций
								.col-auto
									+e.tooltip--red Необходимое развитие компетенций
								.col-12
									+e.tooltip--mixed.mb-0 Компетенция&nbsp;9 &laquo;Преподавание и&nbsp;научное наставничество&raquo; реализуется для трека &laquo;научные сотрудники&raquo; преимущественно в&nbsp;виде научного наставничества, а&nbsp;для трека &laquo;преподавание высшей школы&nbsp;&mdash; в&nbsp;форме преподавательской деятельности&raquo;
						.tabs__wrap
							.tabs__content.active
								.row.row-20
									+item(`Ассистент Преподаватель`, 5).mb-0
									+item(`НС СНС`, 6).mb-0
								+tab-footer()
							.tabs__content
								.row.row-20 
									+item(`СТАРШИЙ ПРЕПОДАВАТЕЛЬ, ДОЦЕНТ`, '2-1').mb-0
									+item(`РУКОВОДИТЕЛЬ МАЛОГО ИССЛЕДОВАТЕЛЬСКОГО КОЛЛЕКТИВА (ГРУППЫ)`, '2-2').mb-0
									+item(`ВНС;`, '2-3').mb-0
								+tab-footer()
							.tabs__content
								.row.row-20 
									+item(`ДОЦЕНТ, ПРОФЕССОР`, '3-1').mb-0
									+item(`РУКОВОДИТЕЛЬ СТРУКТУРНОГО ПОДРАЗДЕЛЕНИЯ`, '3-2').mb-0
									+item(`ГНС, НАУЧНЫЙ РУКОВОДИТЕЛЬ ОРГАНИЗАЦИИ`, '3-3').mb-0
								+tab-footer()
							.tabs__content
								.row.row-20 
									+item(`Ассистент Преподаватель`, 5).mb-0
									+item(`НС СНС`, 6).mb-0
								+tab-footer()
				
			+b.track
				+e.title Трек &laquo;Научные сотрудники&raquo;
				+e.list
					+e.list-item Стажер/Аспирант
					+e.list-item МНС
					+e.list-item НС
					+e.list-item СНС
					+e.list-item ВНС
					+e.list-item ГНС
					+e.list-item НРО
				p Для эффективного профессионального роста по треку «Научные сотрудники» рекомендуется гармонично развивать те компетенции, которые приведены на базовых «диаграммах компетенций» для различных уровней квалификации исследователей, примерно согласованных со шкалой профессиональных позиций (должностей).
				p Для опредения набора компетенций, которые необходимо развивать для перехода с трека «Научные сотрудники» на сопряженные треки «Руководители в научной сфере» или «Преподаватели высшей школы» выберите интересующую базовую «диаграмму компетенций», которая расположена ближе всего к занимаемой в настоящее время профессиональной позиции (должности), и изучите диаграммы компетенций, предложенные экспертами.


		+accordion-item2('Инструменты формирования компетенций')
			p В данном подразделе  начинающий исследователь  найдет примерные  перечни инструментов формирования  компетенций в научной сфере и сопряженных сферах деятельности, а также рекомендации по осуществлению поиска доступных инструментов 
			p.strong.text-center Примерный перечень основных инструментов для получения компетенций в научной сфере деятельности

			+e.table-wrap
				+b.TABLE.instruments
					thead
						tr.heading
							th(scope="col" rowspan="2"): +e.th-title Основные инструменты формирования <br> исследовательских компетенций
							th(scope="colgroup" colspan="12"): +e.th-title.text-left Компетенции
						tr 
							th(scope="col") 1
							th(scope="col") 2
							th(scope="col") 3
							th(scope="col") 4
							th(scope="col") 1
							th(scope="col") 2
							th(scope="col") 3
							th(scope="col") 4
							th(scope="col") 1
							th(scope="col") 2
							th(scope="col") 3
							th(scope="col") 4
					tbody 
						tr 
							th(scope="row") РОсвоение программ высшего образования (программы бакалавриата, программы магистратуры (специалитета)), направленных на подготовку к научно-исследовательскому виду деятельности
							td +
							td
							td
							td
							td +
							td +
							td +
							td
							td
							td
							td
							td
						tr 
							th(scope="row").strong Освоение программы подготовки научно-педагогических кадров в&nbsp;аспирантуре
							td +
							td 
							td 
							td +
							td +
							td +
							td +
							td 
							td +
							td 
							td 
							td 
						tr 
							th(scope="row") Проведение научных исследований (под руководством&nbsp;/ самостоятельно)
							td +
							td +
							td 
							td +
							td +
							td +
							td 
							td 
							td 
							td 
							td 
							td 
						tr 
							th(scope="row") Систематическое использование национальных и&nbsp;международных реферативных баз публикаций, патентов, др.
							td +
							td +
							td 
							td 
							td +
							td +
							td +
							td 
							td +
							td +
							td +
							td 
						tr 
							th(scope="row") Участие в подготовке и выполнении исследовательских проектов в рамках национальных и международных программ поддержки научных исследований
							td +
							td 
							td +
							td 
							td +
							td +
							td 
							td 
							td +
							td 
							td 
							td 
						tr 
							th(scope="row") Выступление перед научной аудиторией с представлением научных результатов в различных форматах, включая подготовку презентационных материалов по теме проводимых исследований
							td +
							td 
							td +
							td +
							td +
							td +
							td +
							td 
							td 
							td 
							td 
							td 
						tr 
							th(scope="row") Подготовка и публикация научных результатов в профильных научных изданиях разного уровня
							td +
							td 
							td 
							td 
							td 
							td +
							td 
							td 
							td 
							td 
							td 
							td 
						tr 
							th(scope="row") Защита диссертации на соискание ученой степени
							td +
							td 
							td +
							td +
							td 
							td 
							td 
							td 
							td 
							td +
							td 
							td 
						tr 
							th(scope="row") Участие в научных мероприятиях национального и международного уровня
							td +
							td 
							td +
							td +
							td +
							td +
							td 
							td 
							td 
							td +
							td 
							td 
						tr 
							th(scope="row") Участие в работе научно-популярных масс-медиа, организации и проведении мероприятий, направленных на популяризацию науки и научных достижений

							td 
							td 
							td +
							td +
							td +
							td 
							td +
							td +
							td 
							td +
							td 
							td 
						tr 
							th(scope="row") Использование профессиональных социальных сетей и наличие профилей в научных онлайн-базах данных и на порталах программ поддержки научных исследований
							td +
							td +
							td 
							td 
							td 
							td +
							td 
							td +
							td 
							td 
							td 
							td 
						tr 
							th(scope="row") Использование приложений и платформ профессиональной  онлайн-коммуникации
							td +
							td +
							td 
							td +
							td 
							td +
							td +
							td +
							td 
							td 
							td 
							td 
			+b.indicative-list
				+e.title Примерный перечень дополнительных инструментов для развития компетенций  в научной сфере и сопряженных сферах деятельности
				ol
					li #[span 1] Освоение программ дополнительного образования, направленных на развитие компетенций в научной сфере и сопряженных сферах деятельности (в том числе в Центрах развития компетенций при Научно-образовательных центрах мирового уровня (далее – ЦРК НОЦ), Центрах компетенций Национальной технологической инициативы (далее – ЦК НТИ))
					li #[span 2] Неформальное образование, в том числе с применением открытых образовательных ресурсов
					li #[span 3] Прохождение стажировок в российских и зарубежных научных центрах (в том числе на установках мега-класса, в Центрах коллективного пользования, на базе ЦРК НОЦ, ЦК НТИ и т.п.)
					li #[span 4] Прохождение специализированных программ и тренингов, участие в конкурсах (в том числе в конкурсе управленцев «Лидеры России»), развивающих персональные навыки и лидерские качества
					li #[span 5] Систематический поиск разнообразных программ поддержки научных исследований, в том числе международных, национальных, региональных, институциональных, от заинтересованного бизнес-сообщества, и подготовка заявок для получения поддержек, предоставляемых на конкурсной основе (в соответствии с квалификацией)
					li #[span 6] Рецензирование публикаций в научных изданиях, научное редактирование
					li #[span 7] Проведение научной экспертизы результатов научной деятельности / научных заявок / научных программ
					li #[span 8] Проведение научной экспертизы социально-общественных проектов, программ, публикаций, участие в работе экспертных организаций за пределами сферы научных исследований
					li #[span 9] Участие в организации научных мероприятий различного уровня
					li #[span 10] Управление отдельными этапами или всем жизненным циклом научного продукта
					li #[span 11] Научное руководство коллективными исследовательскими проектами
					li #[span 12] Руководство исследовательскими лабораториями / центрами / организациями
					li #[span 13] Руководство начинающими исследователями (научное наставничество)
					li #[span 14] Преподавание по программам высшего и дополнительного профессионального  образования
					li #[span 15] Участие в мероприятиях бизнес-сообщества, заинтересованного в результатах проводимых исследований
					li #[span 16] Получение зарегистрированных результатов интеллектуальной деятельности.
					li #[span 17] Формирование технического задания, документальное оформление научно-прикладной разработки
					li #[span 18] Коммерциализация научного продукта / результатов интеллектуальной деятельности
					li #[span 19] Участие в работе структур, осуществляющих популяризацию науки и научных достижений/
					li #[span 20] Участие в работе профильных советов (комиссий, объединений и др.) разного уровня, созданных при государственных структурах, деятельность которых направлена на выработку решений в области государственной научной политики и содействию их реализации
					li #[span 21] Участие в формировании стратегий/программ/ дорожных карт для развития отрасли наук на национальном/ региональном уровне

				.text-center 
					a.foot-btn(class="btn btn-primary" href="#") Рекомендации по поиску инструментов формирования компетенций
		+accordion-item2('Реализация ЖЦНП')
			+e.subtitle Реализация жизненного цикла научного продукта многие инструменты работают на&nbsp;развитие нескольких компетенций
			+e.list-item
				+e.count--sm 1 этап
				div 
					.h6.text-primary Генерирование идеи, гипотезы, предложения
					ul 
						li Генерирование идеи, гипотезы, предложения	Генерирование идеи, оформление концепции исследования
						li Работа с&nbsp;информацией (поиск, критический анализ, систематизация, и&nbsp;т.п.)
						li Изучение национальных и&nbsp;глобальных стратегий и&nbsp;приоритетов
						li Проведение патентных исследований (при необходимости) и&nbsp;т.п.
			+e.list-item
				+e.count--sm 2 этап
				div 
					.h6.text-primary Определение методологии, методов и инструментов исследования. Оценка требуемых ресурсов
					ul 
						li Определение методологии, методов и&nbsp;инструментов исследования. Оценка требуемых ресурсов	Определение методологии, методов и&nbsp;инструментов исследования
						li Анализ имеющих отношения к&nbsp;исследованию и&nbsp;РИДам стандартов (нормативов) , в&nbsp;т.ч. стандартов качества
						li Оценка требуемых ресурсов, в&nbsp;том числе определение необходимого кадрового потенциала для проведения исследования. 
			+e.list-item
				+e.count--sm 3 этап
				div 
					.h6.text-primary Анализ собственных ресурсов. Поиск и&nbsp;получение подходящих поддержек. Установление отношений с&nbsp;партнерами
					ul 
						li Анализ собственных ресурсов. Поиск и&nbsp;получение подходящих поддержек. Установление отношений с&nbsp;партнерами	Работа с&nbsp;потенциальным заказчиком (потребителем) научного продукта
						li Оформление заявок и&nbsp;других документов
						li Поиск подходящих форм государственной или иной поддержки 
			+e.list-item
				+e.count--sm 4 этап
				div 
					.h6.text-primary Составление плана проведения исследований с&nbsp;учетом имеющихся ресурсов
					ul 
						li Составление плана проведения исследований с&nbsp;учетом имеющихся ресурсов	 Составление плана проведения исследований в&nbsp;соответствии с&nbsp;имеющимися ресурсами 
						li Подбор специалистов с&nbsp;требуемыми компетенциями
			+e.list-item
				+e.count--sm 5 этап
				div 
					.h6.text-primary Организация и проведение исследования в соответствии с планом
					ul 
						li Организация и&nbsp;проведение исследования в&nbsp;соответствии с&nbsp;планом	Работа с&nbsp;имеющейся научной информацией (в&nbsp;том числе с&nbsp;глобальными базами данных, специализированными открытыми ресурсами)
						li Организация необходимых взаимодействий (внутри коллектива, с&nbsp;российскими и&nbsp;зарубежными коллегами, с&nbsp;партнерами, с&nbsp;будущим потребителем)
						li Оптимальное использование ресурсов (кадровых, материально-технических, финансовых)
						li Формулирование краткосрочных и&nbsp;перспективных задач для каждого члена научного коллектива, контроль и&nbsp;проведение необходимых корректировок
			+e.list-item
				+e.count--sm 6 этап
				div 
					.h6.text-primary Апробация полученных результатов (при необходимости их&nbsp;испытание
					ul 
						li Апробация полученных результатов (при необходимости их&nbsp;испытание)	Организация добросовестной апробации полученных результатов
						li Обсуждение в&nbsp;академической и&nbsp;профессиональной среде (научные семинары и&nbsp;конференции), открытые публикации (при отсутствии ограничений)
						li Выбор формы правовой защиты полученного РИД, совершение необходимых действий по&nbsp;осуществлению правовой защиты и&nbsp;т.п. 
			+e.list-item
				+e.count--sm 7 этап
				div 
					.h6.text-primary Надлежащее оформление научных результатов, регистрация и&nbsp;защита результатов интеллектуальной деятельности (РИД)
					ul 
						li Надлежащее оформление научных результатов, регистрация и&nbsp;защита результатов интеллектуальной деятельности (РИД)	Оформление результатов в&nbsp;соответствии с&nbsp;поставленными задачами (отчеты, статьи, доклады)
						li Выбор формы правовой защиты полученного РИД, совершение необходимых действий по&nbsp;осуществлению правовой защиты и&nbsp;т.п. 
			+e.list-item
				+e.count--sm 8 этап
				div 
					.h6.text-primary Внедрение&nbsp;и (или) коммерциализации научного продукта
					ul 
						li Внедрение&nbsp;и (или) коммерциализации научного продукта	Осуществление необходимых коммуникаций и&nbsp;взаимодействий для поиска потребителей научного продукта 
						li Реализация плана продвижения научного продукта
						li Составление плана продвижения (или бизнес-проекта) по&nbsp;внедрению (коммерциализации) научного продукта
						li Выбор способа внедрения (коммерциализации) научного продукта
			+e.list-item
				+e.count--sm 9 этап
				div 
					.h6.text-primary Проведение мониторинга внедрения&nbsp;и (или) коммерциализации научного продукта, введение улучшений и&nbsp;изменений
					ul 
						li Проведение мониторинга внедрения&nbsp;и (или) коммерциализации научного продукта, введение улучшений и&nbsp;изменений	Мониторинг внедрения научного продукта
						li Осуществление корректировки плана продвижения (при необходимости)
						li Корректировки, улучшения, изменения 
						li Оценка возможных перспектив дальнейших исследований и&nbsp;получения новых РИД
			.logos.pt-60
				.row.align-items-center.text-center
					.col-4 
						img(src="img/logo-1.png", alt="")
					.col-4 
						img(src="img/logo-2.png", alt="")
					.col-4 
						img(src="img/logo-3.png", alt="")

		
mixin accordion3()
	.section.pt-0.pb-0.container.container--sm
		+accordion-item2('Образовательные программы')
			p #[strong Программы подготовки научных и научно-педагогических кадров в аспирантуре] являются основными образовательными программами, формирующими компетенции, необходимые для начала карьеры в научной сфере и сопряженных сферах деятельности. 
			p Успешное освоение программы аспирантуры – защита научно-квалификационной работы по результатам самостоятельного научного исследования, выполненного под руководством опытного наставника и получение ученой степени – позволяет  исследователю  автоматически переместиться с первого уровня квалификации (начинающий исследователь) на второй уровень квалификации (самостоятельный исследователь и/или руководитель малого исследовательского коллектива), претендовать на получение целого ряда финансовых и иных поддержек от государственных или коммерческих фондов, выстраивать траекторию своего профессионального развития как в научной сфере, так  и в других сферах деятельности, таких как научно-технологическое предпринимательство, экспертная деятельность, преподавательская деятельность. 
			p Одновременно с обучением в магистратуре/ аспирантуре или после завершения обучения начинающий исследователь может осваивать программы дополнительного профессионального образования (ДПО), направленные на развитие тех компетенций, которым в программах магистратуры/аспирантуры  не уделено достаточно внимания (например, компетенций Научная кооперация и коммуникация, Управление в научной сфере, Научно-технологическое предпринимательство и других).
			p Выбирая образовательную/ научную организацию  для обучения по программе магистратуры, программе аспирантуры, программе ДПО  важно ориентироваться на организации, имеющие высокий научный/ научно-технический потенциал в интересующей вас области науки/ технологий и  реализующие полный жизненный цикл научного продукта.  
			p Рекомендуем внимательно изучить основные и дополнительные программы  профессионального образования, предлагаемые Центрами компетенций, созданными в различных отраслях науки  и технологий в последние годы. 
			+accordion-item3('Центры развития компетенций при Научно-образовательных центрах мирового уровня:')
				ul.text-primary 
					li НОЦ мирового уровня «Инновационные решения в АПК», Белгородская область #[a(href="https://nocapk.ru/" target="_blank") https://nocapk.ru/]
					li НОЦ мирового уровня «Кузбасс», Кемеровская область  #[a(href="https://xn--42-bmce4b.xn--p1ai/" target="_blank") https://xn--42-bmce4b.xn--p1ai/]
					li НОЦ мирового уровня «Техноплатформа 2035», Нижегородская область  #[a(href="http://xn--2035-43da7a0ckhlckrwg8al.xn--p1ai/" target="_blank") http://xn--2035-43da7a0ckhlckrwg8al.xn--p1ai/]
					li Пермский НОЦ мирового уровня «Рациональное недропользование», Пермский край  #[a(href="https://permscience.ru/" target="_blank") https://permscience.ru/]
					li Западно-Сибирский межрегиональный НОЦ мирового уровня, Тюменская область, Ханты-Мансийский автономный округ – Югра и Ямало-Ненецкий автономный округ  #[a(href="https://noc.utmn.ru/" target="_blank") https://noc.utmn.ru/]
					li НОЦ мирового уровня «Инженерия будущего», Самарская область, Пензенская область, Тамбовская область, Ульяновская область, Республика Мордовия  #[a(href="https://nocsamara.ru/" target="_blank") https://nocsamara.ru/]
					li Уральский межрегиональный НОЦ мирового уровня «Передовые производственные технологии и материалы», Свердловская область, Челябинская область, Курганская область  #[a(href="hhttps://xn--m1acy.xn--p1ai/centers/uralskii-mejregionalnii-nauchno-obrazovatelnii-centr-mirovogo-urovnya-peredovie-proizvodstvennie-tehnologii-i-materiali" target="_blank") https://xn--m1acy.xn--p1ai/centers/uralskii-mejregionalnii-nauchno-obrazovatelnii-centr-mirovogo-urovnya-peredovie-proizvodstvennie-tehnologii-i-materiali]
					li НОЦ мирового уровня "Российская Арктика: новые материалы, технологии и методы исследования", Архангельская область, Мурманская область, Ненецкий автономный округ  #[a(href="https://xn--m1acy.xn--p1ai/centers/nauchno-obrazovatelnii-centr-mirovogo-urovnya-rossiiskaya-arktika-novie-materiali-tehnologii-i-metodi-issledovaniya" target="_blank") https://xn--m1acy.xn--p1ai/centers/nauchno-obrazovatelnii-centr-mirovogo-urovnya-rossiiskaya-arktika-novie-materiali-tehnologii-i-metodi-issledovaniya]
					li НОЦ мирового уровня "ТулаТЕХ", Тульская область  #[a(href="https://xn--m1acy.xn--p1ai/centers/nauchno-obrazovatelnii-centr-mirovogo-urovnya-tulateh" target="_blank") https://xn--m1acy.xn--p1ai/centers/nauchno-obrazovatelnii-centr-mirovogo-urovnya-tulateh]
					li НОЦ "Евразийский научно-образовательный центр мирового уровня", Республика Башкортостан  #[a(href="https://nocrb.ru/" target="_blank") https://nocrb.ru/]


			
			+accordion-item3('Центры компетенций, созданные в рамках Национальной технологической инициативы (НТИ)')
				ul.text-primary 
					li Центр Национальной технологической инициативы по направлению «Искусственный интеллект» на базе ФГАОУ ВО «Московский физико-технический институт (государственный университет)»;
					li Центр квантовых технологий на базе ФГБОУ ВО «Московский государственный университет им. М.В. Ломоносова»;
					li Центр компетенций по технологиям новых и мобильных источников энергии ФГБУН «Институт проблем химической физики Российской академии наук»;
					li Центр Национальной технологической инициативы «Новые производственные технологии» на базе Института передовых производственных технологий ФГАОУ ВО «Санкт-Петербургский политехнический университет Петра Великого»;
					li Центр технологий управления свойствами биологических объектов ФГБУН «Институт биоорганической химии им. академиков М.М. Шемякина и Ю.А. Овчинникова Российской академии наук»;
					li Центр технологий хранения и анализа больших данных на базе ФГБОУ ВО «Московский государственный университет им. М.В. Ломоносова»;
					li Центр технологий компонентов робототехники и мехатроники на базе АНО ВО «Университет Иннополис»;
					li Центр НТИ МИЭТ «Сенсорика» на базе ФГАОУ ВО «Национальный исследовательский институт «Московский институт электронной техники»;
					li Центр технологий распределенных реестров на базе ФГБОУ ВО «Санкт-Петербургский государственный университет»;
					li Центр квантовых коммуникаций НТИ на базе ФГБОУ ВО «Национальный исследовательский технологический университет «МИСиС»;
					li Центр технологии транспортировки электроэнергии и распределенных интеллектуальных энергосистем на базе ФГБОУ ВО «Национальный исследовательский университет «МЭИ»;
					li Центр компетенций «Технологии беспроводной связи и «интернета вещей» на базе АНОО ВО «Сколковский институт науки и технологий»;
					li Национальный центр когнитивных разработок на базе ФГАОУ ВО «Санкт-Петербургский национальный исследовательский университет информационных технологий, механики и оптики»;
					li Центр НТИ на базе ДВФУ по направлению «Нейротехнологии, технологии виртуальной и дополненной реальности».
					li Центр компетенций Национальной технологической инициативы по направлению «Фотоника».
					li Центр НТИ: «Цифровое материаловедение: новые материалы и вещества».
			+accordion-item3('Открытые образовательные онлайн-платформы')
				ol 
					li #[strong Универсариум] (#[a(href="https://universarium.org/catalog" target="_blank") https://universarium.org/catalog]) – российская система электронного онлайн-образования, построенная по технологии массовых открытых онлайн-курсов. Старт проекта состоялся 23 декабря 2013 года. В системе представлены бесплатные образовательные курсы преподавателей ряда университетов страны (МГУ, МФТИ, РЭУ им. Плеханова и других), а также российских научных центров. «Универсариум» предлагает курсы электронного образования, выполненные по новым международным образовательным стандартам, которые включают: видеолекции, самостоятельные задания, домашние задания, тесты, групповую работу и итоговую аттестацию и могут использоваться как в учебном процессе университета, так и в процессе самостоятельного изучения. В основе «Универсариума» лежит технологическая платформа, разработанная на открытом программном обеспечении с учетом анализа образовательных стандартов зарубежных проектов Coursera, Udacity, eDx и т.д. На платформе используются интерактивные возможности электронного образования. Курсы «Универсариума» позиционируются как элементы образовательных дисциплин в областях знаний. Они направлены на формирование знаний в области научной специальности (фундаментальных, специализированных, междисциплинарных), необходимых для решения исследовательских задач. Основные направления, по которым создаются и будут разрабатываться курсы — химия, физика, математика, экономика, программирование, астрономия, биология. Особое внимание уделено межфакультетским курсам, и курсам, находящимся «на стыке» дисциплин. Отдельное внимание уделено личностному и профессиональному развитию, управлению проектами и открытым лекциям. 
					li #[strong Национальная платформа открытого образования] (далее – Открытое образование) (#[a(href="https://openedu.ru/course/" target="_blank") https://openedu.ru/course/]) функционирует с 2015 года при участии 9 ведущих ВУЗов РФ (МГУ, СПбГУ, НИУ-ВШЭ, МФТИ, МИСиС, , СПбПГУ, ИТМО, УрФУ, ТГУ). В настоящее время она включает 325 онлайн курсов, охватывающих широкий спектр специальностей. 
					li #[strong  Лекториум] (#[a(href="https://www.lektorium.tv/dissertation" target="_blank") https://www.lektorium.tv/dissertation]) – платформа открытых знаний, где собрана крупнейшая медиатека лекций российских вузов и авторские онлайн-курсы нового поколения. Курсы размещены по отраслям знаний. Научная коммуникация, наставничество – приоритетные направления для исследований, которые можно осваивать в онлайн формате.
					li #[strong  Образовательный медиаресурс Zillion ](#[a(href="https://zillion.net/ru/" target="_blank") https://zillion.net/ru/]) содержит большое количество вебинаров, обучающих статей на тему личного развития и развития персонала. Пошаговое обучение с личной поддержкой от сертифицированных менторов дает возможность быстро реагировать на изменения рынка труда и тренды глобальной экономики. Курсы способствуют развитию компетенций, направленных на взаимодействие с бизнес-сообществом, на повышение наукоемкости и конкурентоспособности национальной экономики
					li #[strong  Университет без границ] (#[a(href="https://distant.msu.ru/" target="_blank") https://distant.msu.ru/]) перспективный проект Московского государственного университета имени М.В.Ломоносова, реализуемый с целью организации сетевой образовательной площадки для различных направлений непрерывного дистанционного образования, в т.ч. исследователей. 
					li #[strong  «Добро. Университет» ](#[a(href="http://университет.добро.рф" target="_blank") http://университет.добро.рф]) – это масштабная образовательная платформа, спроектированная с использованием современных технологий онлайн-обучения. При ее разработке проанализирован и учтен опыт более 40 проектов в сфере онлайн-обучения. Обучение доступно на сайте. Курсы по социальному проектированию, комьюнити-менеджменту направлены на формирование социальной ответственности, развитие лидерских качеств, компетенций для осуществления педагогической и наставнической деятельности.
					li #[strong  Stepik] (#[a(href=" https://welcome.stepik.org/ru" target="_blank") https://welcome.stepik.org/ru]) – национальная образовательная платформа и конструктор бесплатных открытых онлайн-курсов и уроков, позволяет любому зарегистрированному пользователю создавать интерактивные обучающие уроки и онлайн-курсы, используя видео, тексты и разнообразные задачи с автоматической проверкой и моментальной обратной связью. В процессе обучения студенты могут вести обсуждения между собой и задавать вопросы преподавателю на форуме. Основные охватываемые курсами дисциплины — программирование, математика, биоинформатика и биология, экономика. Основной язык курсов – русский, есть курсы на английском языке. Платформа может функционировать как площадка для проведения конкурсов и олимпиад. 
					li #[strong  Coursera] – крупнейшая международная платформа в сфере массового онлайн-образования в мире с более чем 37 миллионами пользователей. В сотрудничестве с университетами и компаниями Coursera предлагает широкий спектр онлайн-курсов, которые варьируются от компьютерных наук до личностного развития. Более 150 учреждений-партнеров, в том числе такие элитные университеты, как Йель, Стэнфорд и Принстон, предоставляют высококлассные курсы. Как известно, онлайн обучение хорошо работает для мотивированных обучающихся и является одной из лучших возможностей в качестве дополнительного образования. Ученые продвинутого уровня являются весьма мотивированными пользователями для получения дополнительных навыков по использованию имеющихся исследовательских инструментов, в том числе, по написанию статей, публикации результатов, подготовке заявок на гранты. Выбор материала, уровень сложности, темп и время освоения определяются пользователем.
					li #[strong  EdХ ]– крупнейшая международная онлайн-платформа, проводит множество онлайн-университетских курсов в самых разных академических областях – от естественных и гуманитарных наук до бизнеса и технологий. Многие ведущие партнеры предлагают профессиональные сертификаты и “микро” степени.
					li #[strong  Elsevier Publishing Campus] – международная интерактивная онлайн-платформа, помогает современным исследователям помимо основных научно-исследовательских мероприятий писать рецензии, подавать заявки на гранты, следить за новейшими достижениями в интересующей их области; продвигать результаты своих поисков и готовить новые статьи.
					li #[strong  The Online Scientist] – европейская интерактивная онлайн-платформа, призвана повысить уровень исследований с помощью профессионального контента, веб-сайтов, электронного обучения и инфографики. Платформа помогает распространению результатов исследований среди коллег и широкой общественности. При этом есть отдельные направления для аспирантов, постдоков, и ведущих учёных. 
			+accordion-item3('Электронные базы научной информации')
				ol
					li #[strong eLIBRARY.RU] (#[a(href="https://www.elibrary.ru/defaultx.asp" target="_blank") https://www.elibrary.ru/defaultx.asp]) – крупнейшая в России электронная библиотека научных публикаций, обладающая богатыми возможностями поиска и анализа научной информации. Библиотека интегрирована с Российским индексом научного цитирования (РИНЦ) – созданным по заказу Минобрнауки РФ бесплатным общедоступным инструментом измерения публикационной активности ученых и организаций. На сайте eLIBRARY.RU студенты и аспиранты могут создать свой профиль, удаленно работать с научной периодикой, знакомясь с работами других российских ученых по исследуемой проблеме. У молодых исследователей есть возможность для публикации научных результатов в профильных научных изданиях. Платформа способствует продвижению научных идей и обмену результатами исследований в научном сообществе на национальном и международном уровнях. Платформа является одним из важных инструментов оценки сформированности компетенций у российских исследователей через публикацию результатов исследования. Ресурс также позволяет на основе объективных данных оценивать результативность исследовательской работы и детально исследовать статистику публикационной активности.
					li #[strong КиберЛенинка] (#[a(href="https://cyberleninka.ru/" target="_blank") https://cyberleninka.ru/]) – это научная электронная библиотека, построенная на парадигме открытой науки (доступ в режиме реального времени к научным и учебным материалам, реализуемый для любого пользователя в глобальной информационной сети без каких-либо ограничений), основными задачами которой является популяризация науки и научной деятельности, общественный контроль качества научных публикаций, развитие междисциплинарных исследований, современного института научной рецензии, повышение цитируемости российской науки и построение инфраструктуры знаний. КиберЛенинка поддерживает распространение знаний по модели открытого доступа (Open Access), обеспечивая бесплатный оперативный доступ к научным публикациям в электронном виде, которые в зависимости от договорённостей с правообладателем размещаются по лицензии Creative Commons Attribution (CC-BY). Данная инициатива является основной для построения инфраструктуры открытой науки в России. Библиотека комплектуется научными статьями, публикуемыми в журналах России и ближнего зарубежья, в том числе, научных журналах, включённых в перечень ВАК РФ ведущих научных издательств для публикации результатов диссертационных исследований. Научные тексты, представленные в библиотеке, размещаются в интернете бесплатно, в открытом доступе и могут быть найдены как с помощью популярных поисковых систем, так и посредством системы полнотекстового научного поиска с поддержкой русской морфологии на сайте библиотеки. Пользователям библиотеки предоставляется возможность читать научные работы с экрана планшета, мобильного телефона и других современных мобильных устройств. Издателям предоставляется сервис присвоения DOI. В библиотеке присутствует каталог тем научных статей по медицинским, естественным и точным, сельскохозяйственным, техническим, гуманитарным, социальным наукам. 
					li #[strong  Scopus] (#[a(href="http://www.scopus.com/home.url" target="_blank") http://www.scopus.com/home.url]) – крупнейшая в мире международная реферативная база научной информации в области естественных и гуманитарных наук.
					li  #[strong Web of Science] (#[a(href="http://webofknowledge.com/?DestApp=WOS" target="_blank") http://webofknowledge.com/?DestApp=WOS]) – международная  аналитическая и цитатная база данных журнальных статей в области естественных и гуманитарных наук.
					li #[strong Google Scholar] – международная бесплатная поисковая система по полным текстам научных публикаций всех форматов и дисциплин, в которой есть данные из большинства рецензируемых онлайн-журналов крупнейших научных издательств Европы и Америки. Система предоставляет простой способ поиска научной литературы по многим дисциплинам и источникам: статьям, диссертациям, книгам, рефератам из академических издательств, профессиональных обществ, онлайн-хранилищ, университетов и других веб-ресурсов. Система  ранжирует документы так же, как это принято в научном мире, т.е. взвешивая импакт-фактор электронного журнала, наукометрические показатели авторов, индексы цитирования.
					li #[strong PubMed] (#[a(href="https://pubmed.ncbi.nlm.nih.gov/" target="_blank") https://pubmed.ncbi.nlm.nih.gov/ ]) – международная  публикационная база данных в области медицинских и биологических наук.
					li #[strong ERIC – Education Resources Information Center ] (#[a(href="https://eric.ed.gov/?" target="_blank") https://eric.ed.gov/?] ) – международная публикационная база данных в области образования и педагогики.
					li #[strong IEEE Xplore] (#[a(href="https://ieeexplore.ieee.org/Xplore/home.jsp" target="_blank") https://ieeexplore.ieee.org/Xplore/home.jsp] ) – международная цифровая библиотека, ресурс для поиска научно-технического контента.
			+accordion-item3('Сервисные электронные платформы для научной коммуникации и кооперации')
				ol 
					li  #[strong Научная сеть Ломоносов](#[a(href="https://lomonosov.msu.ru" target="_blank")  https://lomonosov.msu.ru]) – научная социальная сеть и платформа для создания и управления мероприятиями.
					li  #[strong Россотрудничество] (  #[a(href="https://rs.gov.ru/" target="_blank")  https://rs.gov.ru/]) – призвано содействовать развитию международного научного сотрудничества и ознакомлению иностранной общественности с достижениями российских ученых. С этой целью представительства Агентства за рубежом реализуют мероприятия научно-просветительского характера при участии партнеров из числа российских и иностранных научных организаций и фондов. На портале Россотрудничества представлены российские интернет-ресурсы научно-популярного характера, экспертные площадки, научные журналы, в которых можно найти самую актуальную информацию о последних достижениях российских ученых и новости из мира российской науки.
					li  #[strong ResearcherID] (#[a(href=" https://researcherid.com/#rid-for-researchers" target="_blank")  https://researcherid.com/#rid-for-researchers]) – общедоступное интерактивное пространство, предназначено для создания индивидуального номера и персонального профиля. Профиль может содержать данные об институтских объединениях, исследовательских областях, список публикаций. В настоящее время является собственностью американской компании Clarivate Analytics. Данный цифровой идентификатор был создан для решения проблемы идентификации уникального автора. Это особенно важно для исследователей в областях, которые преимущественно используют рецензируемые статьи конференций или посвящены публикации книг и глав в книгах (гуманитарные науки и дисциплины в социальных науках). ResearcherID может быть использован для связи исследователей с зарегистрированными испытаниями или выявления коллег и сотрудников в той же области исследований.
					li #[strong  ResearchGate] – универсальная платформа, средство кооперации учёных всех научных направлений. Платформа предоставляет такие сетевые приложения, как семантический поиск, обмен базой публикаций, форумы, методологические дискуссии и так далее. Участники могут создавать свой персональный блог внутри сети. Одной из отличительных особенностей ResearchGate является разработанный ею механизм семантического поиска, который индексирует как внутренние ресурсы, так и главные публичные базы статей, включая PubMed, CiteSeer, arXiv, Библиотеку NASA. Этот поисковый механизм разрабатывался специально для анализа аннотаций статей (а не только ключевых слов), что, по идее, должно повысить точность результатов библиографического поиска. Аналогичный механизм поиска семантического соответствия используется для предложения новых социальных связей участникам сети. Также есть инструменты для планирования встреч и организации опросов. Несколько научных организаций и конференций используют ResearchGate как основной способ общения с участниками. Сайт также предлагает возможность создания приватных подгрупп для больших организаций, открытых только для участников из соответствующего института. Сайт также имеет доску объявлений со списком международных вакансий для учёных. Список может быть отсортирован по ключевым словам, должности, областям и странам.
					li  #[strong Academia.edu] — международная социальная сеть для сотрудничества учёных. К настоящему времени число зарегистрированных пользователей превышает 63 миллиона. Сеть может использоваться для того, чтобы делиться своими публикациями, отслеживать их цитируемость и следить за новостями исследований и разработок по именам и ключевым словам. От ряда своих конкурентов в среде научных сетей — таких, как ResearchGate — данная сеть отличается тем, что на ней можно регистрироваться не только действующим студентам и сотрудникам вузов, но и независимым исследователям. Сеть Academia.edu предоставляет учёным быстрый и лёгкий доступ к работам своих коллег, позволяет отслеживать в реальном времени количество читающих и цитирующих их статьи.
			+accordion-item3('Сервисные электронные платформы для саморазвития и профессионального роста')
				ol
					li #[strong Science ID] (#[a(href=" https://www.scienceid.net/" target="_blank")  https://www.scienceid.net/]) – национальная идентификационно-коммуникационная сервисная платформа для молодых ученых, инженеров и технологических-предпринимателей, позволяет молодым российским ученым отразить свою активность как перспективных научных лидеров. Реализованы следующие функции: доступ к единой базе молодых ученых, заинтересованных в своем профессиональном развитии; отражение профессионального и карьерного роста ученых; сервис по организации научных мероприятий и регистрации участников; единый календарь научных мероприятий с возможностью быстрой регистрации. Процедура подачи заявок в научные фонды упрощена за счет интеграции информационных систем. Организован доступ на льготных условиях к сервисам коммерческих партнеров. Среди дополнительных возможностей системы – доступ к информационной инфраструктуре научных и образовательных организаций и участие в международных программах академической лояльности.
					li В рамках развития молодежного самоуправления Федеральное агентство по делам молодежи #[strong «Росмолодежь»] реализует федеральный проект «Молодежная команда страны», направленный на создание системы поиска, отбора и подготовки молодых лидеров посредством их вовлечения в процесс управления обществом и развития  у них управленческих компетенций в общественно-политической сфере с целью качественного обновления органов власти всех уровней. На платформе Росмолодежи (#[a(href=" http://grant.myrosmol.ru/webinars/" target="_blank")  http://grant.myrosmol.ru/webinars/]) имеются информационно-аналитические материалы, а также вебинары и видеофайлы по вопросам наставничества, личного и профессионального роста, проектной деятельности, социальной ответственности.
					li #[strong Британская кооперативная платформа Vitae] (#[a(href=" https://www.vitae.ac.u" target="_blank") https://www.vitae.ac.u]) стала одним из мировых лидеров в поддержке профессионального и карьерного развития исследователе. Она содействует повышению уровня научных исследований, реализации инновационных проектов и расширению взаимодействия с бизнесом и обществом.  Партнерами платформы являются правительства, финансирующие исследования, научные объединения, профессиональные организации, трасты и фонды, университеты и научно-исследовательские центры. Vitae тесно связана с центром повышения квалификации и профессионального развития исследователей всех уровней развития во всех областях науки Careers Research & Advisory Centre (CRAC). Платформа предлагает образовательные ресурсы, а также служит площадкой для обмена передовым опытом ученых Великобритании, Европы, Америки, Австралии и Японии.
			+accordion-item3('Электронные платформы для популяризации науки и научных достижений')
				ol
					li #[strong НаукаPRO] (#[a(href=" https://nauka-pro.ru/" target="_blank") https://nauka-pro.ru/]) Российский некоммерческий научно-просветительский проект, созданный с целью популяризации научного мировоззрения, рационального и критического мышления. В проекте принимают участие учёные, научные журналисты и известные популяризаторы науки, рассказывая о своей деятельности и исследованиях. Цели и задачи «НаукаPRO»: просветительская деятельность; популяризация научного мировоззрения, рационального и критического мышления; знакомство с научными идеями и последними открытиями в области науки; освещение культурных, научных и экспериментальных проектов; создание площадки, на которой учёные и специалисты в различных областях смогут обсудить интересные и актуальные темы; живое интеллектуальное общение. На платформе размещены преимущественно лекции, тематика которых от археологии, антропологии и геологии до кибернетики, физики и космонавтики. Проект дает возможность получить знания в таких профессиональных сферах, как антропология, археология, астрофизика, биология, лингвистика, медицина, космонавтика, палеонтология, физика, электроника.
					li #[strong «Постнаука»] (#[a(href=" https://postnauka.ru/" target="_blank") https://postnauka.ru/]) Портал  начал свою работу в январе 2012 года. Опубликовано более 3500 материалов, из них почти 2000 — видео о достижениях фундаментальной науки и важных современных технологиях. В проекте приняло участие более 800 ученых из разных исследовательских областей, в том числе нобелевские лауреаты и представители зарубежной науки.
					li #[strong «Научная Россия»] (#[a(href=" https://scientificrussia.ru/lectures/page/4" target="_blank") https://scientificrussia.ru/lectures/page/4]). Портал содержит материалы, которые можно использовать для различных форм работы для развития научного/научно-технического творчества детей и молодежи, организации и проведения мероприятий, ориентированных на популяризацию науки и научных достижений.
					li #[strong Arzamas] (#[a(href=" https://arzamas.academy/" target="_blank") https://arzamas.academy/]) - просветительский портал, посвящённый истории культуры. Основа сайта — курсы по истории, литературе, искусству, антропологии, философии, о культуре и человеке. Курсы — это 15-минутные аудио- или видеолекции, прочитанные учёными, и материалы, подготовленные редакцией: справочные заметки и длинные статьи, фотогалереи и кинохроники, интервью со специалистами и списки литературы, дополнительно раскрывающие тему. Также на сайте есть «Журнал» — раздел, в котором еженедельно публикуются материалы, не связанные напрямую с темами курсов: шпаргалки, редкие архивные документы, рекомендации, обзоры, монологи специалистов и многое другое.
			+accordion-item3('Электронные платформы для взаимодействия науки и делового сообщества')
				ol
					li Платформа #[strong 4science] (#[a(href=" https://4science.ru/" target="_blank") https://4science.ru/]) – независимая площадка для ученых и предпринимателей. Миссия проекта — дать экспертному сообществу необходимые инструменты для работы в научном секторе. Команда разработки создает полезные сервисы, которые облегчают труд ученых, а профессиональные журналисты рассказывают о ключевых событиях мира науки.
					li Инструментом национальной и региональной инновационной инфраструктуры, позволяющий эффективно распространять технологическую информацию и осуществлять поиск партнеров для реализации инновационных проектов стала #[strong Российская сеть трансфера технологий] (Russian Technology Transfer Network, RTTN) (#[a(href=" https://rttn.ru/" target="_blank") https://rttn.ru/]), созданная в 2002 г. по инициативе двух инновационных центров из Обнинска и Кольцово. Сейчас она объединяет более 50 инновационных центров из 40 регионов России и стран СНГ, специализирующихся в сфере трансфера технологий. Эффективность работы сети RTTN в целом и качество услуг, предоставляемых членами сети, обеспечивается благодаря развитому профессиональному методическому обеспечению.

		+accordion-item2('Поддержки начинающих и молодых исследователей')
			p Возможные формы поддержки начинающих и молодых ученых распределены по стипендиям, персональнам грантам, конкурсам исследовательских проектов и другим видам, и сгруппированы по критерию наличия ученой степени для получения поддержки.

			+accordion-item3('Начинающий исследователь без степени')

				.h6.strong.mb-3 Стипендия
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Стипендии Президента Российской Федерации молодым ученым и аспирантам, осуществляющим перспективные научные исследования и разработки по приоритетным направлениям модернизации российской экономики на 2021-2023 гг. #[a(href="https://grants.extech.ru/" target="_blank") grants.extech.ru]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Фонд поддержки образования и науки (Алферовский фонд) Гранты и стипендии #[a(href="https://alferov-fond.com/" target="_blank") alferov-fond.com]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Некоммерческий Международный благотворительный фонд "Научное партнерство" Стипендии одаренным студентам и аспирантам #[a(href="https://spfond.ru/" target="_blank") www.spfond.ru]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Благотворительный фонд В. Потанина Стипендиальная программа для студентов и преподавателей #[a(href="https://fondpotanin.ru/competitions/" target="_blank") www.fondpotanin.ru/competitions]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Благотворительный фонд культурных инициатив (Фонд Михаила Прохорова) #[a(href="https://fondpotanin.ru/competitions/" target="_blank") www.fondpotanin.ru/competitions] 

				.h6.strong.mb-3 Гранты
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Фонд Президентских грантов #[a(href="https://президентскиегранты.рф/public/contest/index/" target="_blank") президентскиегранты.рф/public/contest/index]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Неправительственный экологический фонд имени В.И.Вернадского Гранты #[a(href="https://vernadsky.ru/" target="_blank") www.vernadsky.ru]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Благотворительный фонд "Вольное Дело" #[a(href="https://volnoe-delo.ru/" target="_blank") www.volnoe-delo.ru]

				.h6.strong.mb-3 Поддержки исследовательских проектов
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Российский научный фонд (РНФ) Конкурс на поддержку исследований с привлечением ведущих ученых #[a(href="https://rscf.ru/contests/" target="_blank") rscf.ru/contests]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Российский научный фонд (РНФ) Конкурс на поддержку междисциплинарных проектов #[a(href="https://rscf.ru/contests/" target="_blank") rscf.ru/contests]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Российский научный фонд (РНФ) Конкурс «Проведение исследований научными лабораториями мирового уровня в рамках реализации приоритетов научно-технологического развития Российской Федерации» #[a(href="https://rscf.ru/contests/" target="_blank") rscf.ru/contests]

				.h6.strong.mb-3 Другие
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Фонд содействия развитию малых форм предприятий в научно-технической сфере Программа "Умник" #[a(href="https://fasie.ru/programs/programma-umnik/" target="_blank") fasie.ru/programs/programma-umnik] Программа «Старт» #[a(href="https://fasie.ru/programs/programma-start/" target="_blank") fasie.ru/programs/programma-start]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Российская академия наук (РАН), Премии и медали для студентов высших учебных заведений России. #[a(href="https://ras.ru/about/awards/awardregulations2.aspx/" target="_blank") www.ras.ru/about/awards/awardregulations2.aspx]

			+accordion-item3('Молодой ученый - кандидат наук')

				.h6.strong.mb-3 Стипендия
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Фонд поддержки образования и науки (Алферовский фонд) Гранты и стипендии #[a(href="https://alferov-fond.com/" target="_blank") alferov-fond.com]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Благотворительный фонд В. Потанина Стипендиальная программа для студентов и преподавателей #[a(href="https://fondpotanin.ru/competitions/" target="_blank") www.fondpotanin.ru/competitions]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Благотворительный фонд культурных инициатив (Фонд Михаила Прохорова) #[a(href="https://prokhorovfund.ru/" target="_blank") www.prokhorovfund.ru]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Конкурс национальных стипендий L’OREAL-UNESCO «Для женщин в науке» #[a(href="https://lorealfellowships-russia.org/" target="_blank") lorealfellowships-russia.org]

				.h6.strong.mb-3 Гранты
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Гранты Президентской программы исследовательских проектов для научных групп под руководством молодых ученых. #[a(href="https://grants.extech.ru/" target="_blank") grants.extech.ru]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Фонд Президентских грантов #[a(href="https://президентскиегранты.рф/public/contest/index/" target="_blank") президентскиегранты.рф/public/contest/index]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Неправительственный экологический фонд имени В.И.Вернадского #[a(href="https://vernadsky.ru/" target="_blank") www.vernadsky.ru]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Благотворительный фонд "Вольное Дело" #[a(href="https://volnoe-delo.ru/" target="_blank") volnoe-delo.ru]

				.h6.strong.mb-3 Поддержки исследовательских проектов
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Российский научный фонд (РНФ) «Проведение фундаментальных научных исследований и поисковых научных исследований отдельными научными группами» #[a(href="https://rscf.ru/contests/" target="_blank") rscf.ru/contests]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Российский научный фонд (РНФ) Конкурс на поддержку исследований с привлечением ведущих ученых #[a(href="https://rscf.ru/contests/" target="_blank") rscf.ru/contests]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Российский научный фонд (РНФ) Конкурс на поддержку междисциплинарных проектов #[a(href="https://rscf.ru/contests/" target="_blank") rscf.ru/contests]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Российский научный фонд (РНФ) Конкурс «Проведение исследований научными лабораториями мирового уровня в рамках реализации приоритетов научно-технологического развития Российской Федерации» #[a(href="https://rscf.ru/contests" target="_blank") rscf.ru/contests]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Фонд инфраструктурных и образовательных программ «Роснано» #[a(href="https://rusnano.com/infrastructure/" target="_blank") www.rusnano.com/infrastructure]

				.h6.strong.mb-3 Другие
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Российская академия наук (РАН) Конкурс на соискание премии РАН за лучшие работы по популяризации науки #[a(href="https://ras.ru/about/awards/awardregulations3.aspx/" target="_blank") www.ras.ru/about/awards/awardregulations3.aspx]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Российская академия наук (РАН) Премии и медали для молодых ученых РАН #[a(href="https://ras.ru/about/awards/awardregulations2.aspx/" target="_blank") www.ras.ru/about/awards/awardregulations2.aspx]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Фонд содействия развитию малых форм предприятий в научно-технической сфере Программа "Умник" #[a(href="https://fasie.ru/programs/programma-umnik/" target="_blank") fasie.ru/programs/programma-umnik] Программа «Старт» #[a(href="https://fasie.ru/programs/programma-start/" target="_blank") fasie.ru/programs/programma-start]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Фонд перспективных исследований #[a(href="https://fpi.gov.ru/" target="_blank") fpi.gov.ru]

			+accordion-item3('Молодой ученый - доктор наук')
				.h6.strong.mb-3 Стипендия
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Фонд поддержки образования и науки (Алферовский фонд) Гранты и стипендии #[a(href="https://alferov-fond.com/" target="_blank") alferov-fond.com]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Конкурс национальных стипендий L’OREAL-UNESCO «Для женщин в науке» #[a(href="https://lorealfellowships-russia.org/" target="_blank") lorealfellowships-russia.org]
				

				.h6.strong.mb-3 Гранты
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Гранты Президента Российской Федерации для государственной поддержки молодых российских ученых - кандидатов наук и докторов наук на 2021-2022 гг. #[a(href="https://grants.extech.ru/" target="_blank") grants.extech.ru]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Гранты Президента Российской Федерации для государственной поддержки ведущих научных школ РФ #[a(href="https://grants.extech.ru/" target="_blank") grants.extech.ru]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Грант Президентской программы исследовательских проектов для научных групп под руководством молодых ученых. #[a(href="https://grants.extech.ru/" target="_blank") grants.extech.ru]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Фонд Президентских грантов #[a(href="https://президентскиегранты.рф/public/contest/index/" target="_blank") президентскиегранты.рф/public/contest/index]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Министерство науки и высшего образования РФ Конкурс на получение "Мегагрантов" #[a(href="https://minobrnauki.gov.ru/grants/" target="_blank") minobrnauki.gov.ru/grants]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Благотворительный фонд "Вольное Дело" #[a(href="https://volnoe-delo.ru/" target="_blank") volnoe-delo.ru]


				.h6.strong.mb-3 Поддержки исследовательских проектов
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Российский научный фонд (РНФ) По мероприятию «Проведение фундаментальных научных исследований и поисковых научных исследований международными научными коллективами» #[a(href="https://rscf.ru/contests/" target="_blank") rscf.ru/contests]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Российский научный фонд (РНФ) Конкурс «Проведение исследований научными лабораториями мирового уровня в рамках реализации приоритетов научно-технологического развития Российской Федерации» #[a(href="https://rscf.ru/contests/" target="_blank") rscf.ru/contests]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Российский научный фонд (РНФ) Конкурс на поддержку исследований с привлечением ведущих ученых #[a(href="https://rscf.ru/contests/" target="_blank") rscf.ru/contests]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Российский научный фонд (РНФ) Конкурс на поддержку междисциплинарных проектов #[a(href="https://rscf.ru/contests/" target="_blank") rscf.ru/contests]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Российский научный фонд (РНФ) «Проведение фундаментальных научных исследований и поисковых научных исследований отдельными научными группами» #[a(href="https://rscf.ru/contests/" target="_blank") rscf.ru/contests]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Фонд инфраструктурных и образовательных программ «Роснано» #[a(href="https://rusnano.com/infrastructure/" target="_blank") www.rusnano.com/infrastructure]

				.h6.strong.mb-3 Другие
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Премия Президента Российской Федерации в области науки и инноваций для молодых ученых #[a(href="https://youngscience.gov.ru/grants_and_awards/president_award/" target="_blank") youngscience.gov.ru/grants_and_awards/president_award]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Российская академия наук (РАН). Конкурс на соискание премии РАН за лучшие работы по популяризации науки #[a(href="https://ras.ru/about/awards/awardregulations3.aspx/" target="_blank") www.ras.ru/about/awards/awardregulations3.aspx]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Российская академия наук (РАН). Премии и медали для молодых ученых РАН #[a(href="https://ras.ru/about/awards/awardregulations2.aspx/" target="_blank") www.ras.ru/about/awards/awardregulations2.aspx]
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Фонд перспективных исследований #[a(href="https://fpi.gov.ru/" target="_blank") fpi.gov.ru]

		+accordion-item2('Видео-рекомендации начинающим исследователям «Наука молодая: траектория открытий»')
			mixin video(v, i, t)
				.col-6 
					+b.video-item(href=`${v}` data-fancybox data-type="iframe")
						+e.DIV.img-wrap
							img(src=`img/preview-${i}.jpg`, alt="")
							+e.btn
						+e.DIV.title= t
			.row
				+video(`https://my.mail.ru/video/embed/16374189153845260`, `1`, "Как построить траекторию развития в области научных исследований")
				+video(`https://my.mail.ru/video/embed/16374189153845258`, `2`, "Как идею превратить в научный результат")
				+video(`https://my.mail.ru/video/embed/16374189153845259`, `3`, "Как найти свое научное призвание")
				+video(`https://my.mail.ru/video/embed/16374189153845257`, `4`, "Научные траектории молодых ученых в области естественных и технических наук")
				+video(`https://my.mail.ru/video/embed/16374189153845256`, `5`, "Научный путь молодых ученых в гуманитарной сфере")
				+video(`https://my.mail.ru/video/embed/16374189153845255`, `6`, "Точка кипения – как вступить на путь исследований")