mixin accordion-item(t)
	+b.accordion-item
		+e.head.h2= t 
		+e.body
			block
mixin accordion()
	.section.container.container--sm 
		+accordion-item('Методологические подходы')

			
			+e.list-item
				+e.count 1
				p Под &laquo;компетенцией&raquo; понимается способность (готовность) индивида использовать полученные знания, умения и&nbsp;практический опыт для решения профессиональных задач в&nbsp;условиях непрерывного развития отрасли науки/ экономики, постоянного обновления знаний/ технологий/ методик и&nbsp;т.п. Компетенция является не&nbsp;&laquo;застывшей суммой&raquo; знаний, умений и&nbsp;трудовых действий (как, например, трудовая функция в&nbsp;профессиональном стандарте), а&nbsp;&laquo;живой&raquo; (развивающейся) системой, интегрирующей уже полученные и&nbsp;получаемые в&nbsp;процессе непрерывного образования и&nbsp;практического опыта знания и&nbsp;умения с&nbsp;опорой на&nbsp;мотивацию, когнитивные способности, личные качества.
			+e.list-item
				+e.count 2
				p #[strong Модель компетенций разрабатывалась с&nbsp;ориентацией на&nbsp;весь комплекс задач профессиональной деятельности, которые необходимо решать для обеспечения полного жизненного цикла научного продукта] (#[a(href="#") ЖЦНП]). Поэтому Модель включает в&nbsp;себя не&nbsp;только чисто &laquo;исследовательские&raquo; компетенции, но&nbsp;и&nbsp;компетенции других сфер деятельности&nbsp;&mdash; научно-технологического предпринимательства, управления в&nbsp;научной сфере, преподавания в&nbsp;высшей школе и&nbsp;т.п. Одновременно разработчики приняли во&nbsp;внимание основные требования к&nbsp;компетенциям исследователей, предъявляемые современной &laquo;открытой&raquo; глобальной наукой #[a(href="#") www.openscience.org]

					br
					br
					| Таким образом, система компетенций, составляющая Модель, относится не&nbsp;к&nbsp;одному работнику, а&nbsp;одновременно ко&nbsp;многим работникам, чьи компетенции в&nbsp;совокупности должны обеспечить выполнение всех видов и&nbsp;задач деятельности, направленных на&nbsp;получение научного продукта. Ошибочно предполагать, что один исследователь сможет развить в&nbsp;себе весь комплекс компетенций, включенных в&nbsp;Модель. Однако, Модель (в&nbsp;сочетании с&nbsp;описанием конкретных профессиональных треков через диаграммы необходимых компетенций) позволит начинающему исследователю определить набор компетенций, которые он&nbsp;должен иметь для продвижения по&nbsp;той или иной карьерной траектории в&nbsp;научной сфере, или в&nbsp;сфере управления наукой, или в&nbsp;сфере научно-технологического предпринимательства, или в&nbsp;сфере преподавательской деятельности.
			+e.list-item
				+e.count 3
				p Принципиальным решением является&nbsp;то, что #[strong Модель содержит определенный набор &laquo;ключевых (базовых)&raquo; компетенций,] которые на&nbsp;том или ином уровне развития должен иметь каждый работник, вступивший в&nbsp;научную или сопряженные сферы деятельности.
			+e.list-item
				+e.count 4
				p Для каждой компетенции, включенной в&nbsp;Модель, экспертами определены возможные  #[strong  уровни развития и&nbsp;разработан примерный набор индикаторов ] достижения каждого уровня (наборы индикаторов будут использованы при запуске подраздела &laquo;Оцени свои компетенции&raquo;). 

					br
					br
					| При определении уровней развития компетенций была применена единая шкала. 
			+e.table-wrap
				table 
					thead
						tr 
							th(scope="col"): +e.th-title Уровень развития компетенции
							th(scope="col"): +e.th-title Характер деятельности соответствующий уровню 
							th(scope="col"): +e.th-title Ориентировочные признаки соответствующего уровня квалификации индивида
					tbody 
						mixin tr(tr)
							tr 
								th(scope="row")= tr.t1
								td!= tr.t2
								td!= tr.t3
						+tr({
							t1:'1 Начальный',
							t2:`Работает под руководством (наблюдением) специалиста более высокой квалификации, углубляет и&nbsp;расширяет собственные знания, осваивает методы`,
							t3:`Наличие высшего образования (специалитет, магистратура)`
						})
						
						+tr({
							t1:'2 Продвинутый',
							t2:`Работает самостоятельно и/или организует работу малого коллектива, несет ответственность за&nbsp;полученный научный/ научно-технический результат`,
							t3:`Подтвержденная научная квалификация (ученая степень кандидат наук или ее&nbsp;эквивалент)`
						})
						+tr({
							t1:'3 Высокий',
							t2:`Формулирует задачи, направленные на&nbsp;расширение границ научного знания/ получение новых технологий (методов), и&nbsp;организует их&nbsp;реализацию (в&nbsp;т.ч. выявляет и&nbsp;решает проблемы); несет ответственность за&nbsp;соответствие результатов поставленным задачам`,
							t3:`Ученая степень кандидат наук и&nbsp;акцептованный опыт работы в&nbsp;научной сфере (сопряженных сферах) или ученая степень доктор наук`
						})
						+tr({
							t1:'4 Высший',
							t2:`Определяет приоритеты, формулирует цели и&nbsp;стратегические задачи коллективу, создает условия для их&nbsp;реализации (ресурсы, в&nbsp;т.ч. кадровые, взаимодействия, организация и&nbsp;контроль)`,
							t3:`Ученая степень и&nbsp;значительный опыт работы (включая организационно- управленческий) в&nbsp;научной сфере (сопряженных сферах)`
						})

			+e.list-item
				+e.count 5
				p Модель не является жестко установленной и застывшей конструкцией. Модель является «ориентиром» (рекомендацией) как для организаций, осуществляющих подготовку исследователей в системе основного и дополнительного профессионального образования, так и для самих исследователей. При этом Модель должна быть «живой» и постоянно обновляемой экспертами.
		+accordion-item('Жизненный цикл научного продукта (ЖЦНП)')
			+e.list-item
				+e.count--sm 1 этап
				div 
					.h6.text-primary Генерирование идеи, гипотезы, предложения
					ul 
						li Генерирование идеи, гипотезы, предложения	Генерирование идеи, оформление концепции исследования
						li Работа с&nbsp;информацией (поиск, критический анализ, систематизация, и&nbsp;т.п.)
						li Изучение национальных и&nbsp;глобальных стратегий и&nbsp;приоритетов
						li Проведение патентных исследований (при необходимости) и&nbsp;т.п.
			+e.list-item
				+e.count--sm 2 этап
				div 
					.h6.text-primary Определение методологии, методов и инструментов исследования. Оценка требуемых ресурсов
					ul 
						li Определение методологии, методов и&nbsp;инструментов исследования. Оценка требуемых ресурсов	Определение методологии, методов и&nbsp;инструментов исследования
						li Анализ имеющих отношения к&nbsp;исследованию и&nbsp;РИДам стандартов (нормативов) , в&nbsp;т.ч. стандартов качества
						li Оценка требуемых ресурсов, в&nbsp;том числе определение необходимого кадрового потенциала для проведения исследования. 
			+e.list-item
				+e.count--sm 3 этап
				div 
					.h6.text-primary Анализ собственных ресурсов. Поиск и&nbsp;получение подходящих поддержек. Установление отношений с&nbsp;партнерами
					ul 
						li Анализ собственных ресурсов. Поиск и&nbsp;получение подходящих поддержек. Установление отношений с&nbsp;партнерами	Работа с&nbsp;потенциальным заказчиком (потребителем) научного продукта
						li Оформление заявок и&nbsp;других документов
						li Поиск подходящих форм государственной или иной поддержки 
			+e.list-item
				+e.count--sm 4 этап
				div 
					.h6.text-primary Составление плана проведения исследований с&nbsp;учетом имеющихся ресурсов
					ul 
						li Составление плана проведения исследований с&nbsp;учетом имеющихся ресурсов	 Составление плана проведения исследований в&nbsp;соответствии с&nbsp;имеющимися ресурсами 
						li Подбор специалистов с&nbsp;требуемыми компетенциями
			+e.list-item
				+e.count--sm 5 этап
				div 
					.h6.text-primary Организация и проведение исследования в соответствии с планом
					ul 
						li Организация и&nbsp;проведение исследования в&nbsp;соответствии с&nbsp;планом	Работа с&nbsp;имеющейся научной информацией (в&nbsp;том числе с&nbsp;глобальными базами данных, специализированными открытыми ресурсами)
						li Организация необходимых взаимодействий (внутри коллектива, с&nbsp;российскими и&nbsp;зарубежными коллегами, с&nbsp;партнерами, с&nbsp;будущим потребителем)
						li Оптимальное использование ресурсов (кадровых, материально-технических, финансовых)
						li Формулирование краткосрочных и&nbsp;перспективных задач для каждого члена научного коллектива, контроль и&nbsp;проведение необходимых корректировок
			+e.list-item
				+e.count--sm 6 этап
				div 
					.h6.text-primary Апробация полученных результатов (при необходимости их&nbsp;испытание
					ul 
						li Апробация полученных результатов (при необходимости их&nbsp;испытание)	Организация добросовестной апробации полученных результатов
						li Обсуждение в&nbsp;академической и&nbsp;профессиональной среде (научные семинары и&nbsp;конференции), открытые публикации (при отсутствии ограничений)
						li Выбор формы правовой защиты полученного РИД, совершение необходимых действий по&nbsp;осуществлению правовой защиты и&nbsp;т.п. 
			+e.list-item
				+e.count--sm 7 этап
				div 
					.h6.text-primary Надлежащее оформление научных результатов, регистрация и&nbsp;защита результатов интеллектуальной деятельности (РИД)
					ul 
						li Надлежащее оформление научных результатов, регистрация и&nbsp;защита результатов интеллектуальной деятельности (РИД)	Оформление результатов в&nbsp;соответствии с&nbsp;поставленными задачами (отчеты, статьи, доклады)
						li Выбор формы правовой защиты полученного РИД, совершение необходимых действий по&nbsp;осуществлению правовой защиты и&nbsp;т.п. 
			+e.list-item
				+e.count--sm 8 этап
				div 
					.h6.text-primary Внедрение&nbsp;и (или) коммерциализации научного продукта
					ul 
						li Внедрение&nbsp;и (или) коммерциализации научного продукта	Осуществление необходимых коммуникаций и&nbsp;взаимодействий для поиска потребителей научного продукта 
						li Реализация плана продвижения научного продукта
						li Составление плана продвижения (или бизнес-проекта) по&nbsp;внедрению (коммерциализации) научного продукта
						li Выбор способа внедрения (коммерциализации) научного продукта
			+e.list-item
				+e.count--sm 9 этап
				div 
					.h6.text-primary Проведение мониторинга внедрения&nbsp;и (или) коммерциализации научного продукта, введение улучшений и&nbsp;изменений
					ul 
						li Проведение мониторинга внедрения&nbsp;и (или) коммерциализации научного продукта, введение улучшений и&nbsp;изменений	Мониторинг внедрения научного продукта
						li Осуществление корректировки плана продвижения (при необходимости)
						li Корректировки, улучшения, изменения 
						li Оценка возможных перспектив дальнейших исследований и&nbsp;получения новых РИД

		+accordion-item('Карта развития компетенций')

			.sModel
				.diagram
					.row
						.col-xl-9.col-7
							.diagram__result
								
								+b.diagram-block--sm
									<canvas id="canvas"></canvas>
									
									div
										mixin item(t, id)
											.diagram-block-item.diagram-block-item--js(data-tab= id)
												.diagram-block-item__title= t
										+item(`Лидерство`,'tab-1')
										+item(`Научное творчество`,'tab-2')
										+item(`Саморазвитие и профессиональный рост`,'tab-3')
										+item(`Управление в научной сфере`,'tab-10')
										+item(`Научно-технологическое предпринимательство`,'tab-9')
										+item(`Научная экспертиза`,'tab-8')
										+item(`Научное наставничество/ подготовка научных и научно- педагогических кадров`,'tab-7')
										//- //
										+item(`Взаимодействие с деловым сообществом и институтами публичной власти`,'tab-6')
										+item(`Социальная ответственность и взаимодействие с обществом`,'tab-5')
										+item(`Научная кооперация и коммуникация`,'tab-4')
										//- //
										+item(`Исследовательский опыт и профессиональные знания`,'tab-11')
										+item(`Реализация жизненного цикла научного продукта (ЖЦНП)`,'tab-12')
												//- .diagram-block-item-toltip
						.col-border.col-xl-3.col-5
							.diagram__content-right
								.toggle-content#tab-1
									.h6.strong Лидерство
									p Определение приоритетов, видение образа результата в научной сфере/ сопряженных сферах деятельности, оказание влияния на других с целью побуждения достичь запланированного результата, навыки командообразования
									p Компоненты: 
									ul 
										li  определение приоритетов
										li  инициативность и нацеленность на результат
										li  командообразование
										li  авторитет и влияние
										li  саморегуляция
									.accordion
										.accordion__head 1 уровень
											.accordion__head-plus
										.accordion__body 
											p Проявляет инициативу, умеет увлечь других людей, признает вклад других участников коллектива
									.accordion
										.accordion__head  2 уровень
											.accordion__head-plus
										.accordion__body 
											p Побуждает к ответственным действиям других людей, в том числе личным примером, с целью достижения общего научного/ научно-педагогического результата
									.accordion
										.accordion__head 3-4 уровень
											.accordion__head-plus
										.accordion__body 
											p Формирует у всех участников коллектива образ результата научной/ научно-педагогической деятельности и понимание возможных путей его достижения; берет на себя ответственность за получение коллективного результата
								.toggle-content#tab-2
									.h6.strong Научное творчество

									p Использование творческих и нестандартных подходов к достижению поставленных целей, креативность, новаторство, открытость новому опыту командообразования
									p Компоненты: 
									ul 
										li  Креативность
										li открытость новому опыту
										li гибкость мышления
										li поиск инновационных решений

									.accordion
										.accordion__head 1 уровень
											.accordion__head-plus
										.accordion__body 
											p Стремится к получению нового знания и опыта, избегает автоматического применения стандартных подходов
									.accordion
										.accordion__head  2 уровень
											.accordion__head-plus
										.accordion__body 
											p Проявляет интеллектуальную гибкость, видит многообразие свойств ситуации, выявляет новые тенденции, разрабатывает новые подходы
									.accordion
										.accordion__head 3-4 уровень
											.accordion__head-plus
										.accordion__body 
											p Генерирует новые идеи (смыслы), предлагает независимое концептуальное видение проблемы и варианты ее решения
								.toggle-content#tab-3
									.h6.strong Саморазвитие и профессиональный рост

									p Развитие личных качеств, необходимых для работы в научной сфере/ сопряженных сферах деятельности, в том числе навыков самоорганизации, умения выстраивать траекторию профессионального развития
									p Компоненты: 
									ul 
										li Самоактуализация
										li определение и достижение целей личностного и профессионального развития
										li  саморефлексия
										li обучение в течение жизни

									.accordion
										.accordion__head 1 уровень
											.accordion__head-plus
										.accordion__body 
											p Демонстрирует самоорганизацию и мотивацию к исследовательской деятельности; обладает навыками самоорганизации, определяет траектории личностного и профессионального развития в научной сфере/ сопряженных сферах деятельности (под руководством)

									.accordion
										.accordion__head  2 уровень
											.accordion__head-plus
										.accordion__body 
											p Самостоятельно определяет и реализует оптимальные траектории личностного и профессионального развития в научной сфере/ сопряженных сферах деятельности

									.accordion
										.accordion__head 3-4 уровень
											.accordion__head-plus
										.accordion__body 
											p Оказывает содействие личностному и профессиональному развитию других членов научного/научно-педагогического коллектива
								.toggle-content#tab-4
									.h6.strong Научная кооперация и коммуникация

									p Взаимодействие и сотрудничество в научном сообществе на национальном/ международном уровне для достижения научного результата
									p Компоненты: 
									ul 
										li Взаимодействие и сотрудничество в научном сообществе
										li коммуникация в цифровой среде

									.accordion
										.accordion__head 1 уровень
											.accordion__head-plus
										.accordion__body 
											p Осуществляет взаимодействие с другими исследователями для решения исследовательских задач; владеет навыками устной и письменной коммуникации в научном сообществе (включая цифровые технологии), в том числе на иностранном языке

									.accordion
										.accordion__head  2 уровень
											.accordion__head-plus
										.accordion__body 
											p Организует коммуникацию и сотрудничество специалистов из разных научных областей для решения исследовательских задач


									.accordion
										.accordion__head 3  уровень
											.accordion__head-plus
										.accordion__body 
											p Выступает организатором/координатором различных форм коммуникации в научном сообществе на национальном/международном уровне, в том числе организует научные коллективы/ коллаборации для достижения научных результатов
									.accordion
										.accordion__head 4  уровень
											.accordion__head-plus
										.accordion__body 
											p Определяет формы и направления развития научной коммуникации и кооперации на национальном/ международном уровне, содействует их развитию; инициирует, руководит или участвует в организации/координации масштабных научных мероприятий
								.toggle-content#tab-5
									.h6.strong Социальная ответственность и взаимодействие с обществом


									p Сознательное отношение к социальным задачам, нормам и ценностям, понимание возможных последствий для общества от внедрения результатов научной деятельности

									p Компоненты: 
									ul 
										li  Социальная ответственность за результаты научной деятельности
										li тветственное информирование общества о достижениях науки
										li популяризация науки
									.accordion
										.accordion__head 1 уровень
											.accordion__head-plus
										.accordion__body 
											p Осознает роль и ответственность ученого в жизни общества


									.accordion
										.accordion__head  2 уровень
											.accordion__head-plus
										.accordion__body 
											p Прогнозирует потенциальные риски от результатов научных исследований для общества, осуществляет научно-просветительскую деятельность


									.accordion
										.accordion__head 3-4  уровень
											.accordion__head-plus
										.accordion__body 
											p Руководствуется приоритетностью наиболее значимых для общества исследований, готов взять на себя репутационные риски перед обществом, ведет общественно значимую деятельность.
								.toggle-content#tab-6
									.h6.strong Взаимодействие с деловым сообществом и институтами публичной власти


									p Содействие формированию и реализации государственной научной политики, направленной на развитие научного потенциала российского общества

									p Компоненты: 
									ul 
										li Взаимодействие с деловым сообществом
										li взаимодействие с институтами публичной власти

									.accordion
										.accordion__head 1 уровень
											.accordion__head-plus
										.accordion__body 
											p Постоянно расширяет свой кругозор применительно к сфере научной деятельности, инициативно участвует в мероприятиях делового сообщества, потенциально заинтересованного в результатах научных исследований и разработок


									.accordion
										.accordion__head  2 уровень
											.accordion__head-plus
										.accordion__body 
											p Содействует установлению диалога между научным сообществом и институтами публичной власти/ деловым сообществом, потенциально заинтересованным в результатах научных исследований и разработок


									.accordion
										.accordion__head 3  уровень
											.accordion__head-plus
										.accordion__body 
											p Во взаимодействии с институтами публичной власти разного уровня и деловым сообществом участвует в обосновании принятия решений в области государственной научной политики; выступает научным консультантом по вопросам применения научных достижений в развитии определенного сектора (отрасли) экономики
									.accordion
										.accordion__head 4  уровень
											.accordion__head-plus
										.accordion__body 
											p Участвует в процессе выработки решений в области государственной научной политики; выступает в роли лидера, объединяющего различных представителей делового и научного сообщества для сотрудничества с целью разработки и применения наукоемких технологий в развитии определенного сектора (отрасли) экономики/ реализации значимых социальных проектов
								.toggle-content#tab-7
									.h6.strong Научное наставничество и преподавание



									p Участие в формировании исследовательских компетенций начинающих исследователей / осуществление педагогической деятельности по программам высшего/ дополнительного образования


									p Компоненты: 
									ul 
										li Научное руководство
										li преподавание по программам высшего/дополнительного образования
										li использование и развитие цифровых образовательных технологий

									.accordion
										.accordion__head 1 уровень
											.accordion__head-plus
										.accordion__body 
											p Участвует в организации научно-исследовательской работы в системе «школа-вуз»/ ассистирует преподавателю более высокой квалификации в осуществлении педагогической деятельности по программам высшего/ дополнительного образования

									.accordion
										.accordion__head  2 уровень
											.accordion__head-plus
										.accordion__body 
											p Сопровождает становление и развитие начинающих исследователей при выполнении исследовательских проектов, в том числе выпускных квалификационных работ/ осуществляет самостоятельную педагогическую деятельность по программам высшего/ дополнительного образования


									.accordion
										.accordion__head 3  уровень
											.accordion__head-plus
										.accordion__body 
											p Осуществляет научное руководство другими исследователями, в том числе при подготовке научно-квалификационных работ (диссертаций) на соискание ученой степени/ руководит разработкой и реализацией программ высшего образования, в том числе программ подготовки научных и научно-педагогических кадров в аспирантуре

									.accordion
										.accordion__head 4  уровень
											.accordion__head-plus
										.accordion__body 
											p Формирует научную школу (научное направление), руководит работой диссертационного совета
											
								.toggle-content#tab-8
									.h6.strong Научная экспертиза



									p Проведение научной экспертизы результатов научной деятельности и социально-значимых проектов

									p Компоненты: 
									ul 
										li Научная экспертиза исследовательских проектов и результатов научной деятельности
										li научная экспертиза социально значимых проектов


									.accordion
										.accordion__head 1 уровень
											.accordion__head-plus
										.accordion__body 
											p Приобретает знания о назначении и содержании экспертной деятельности, формирует необходимые навыки

									.accordion
										.accordion__head  2 уровень
											.accordion__head-plus
										.accordion__body 
											p Осуществляет научную экспертизу в области научной специализации, знает принципы организации экспертной деятельности

									.accordion
										.accordion__head 3  уровень
											.accordion__head-plus
										.accordion__body 
											p Осуществляет научную экспертизу в рамках отрасли наук и на стыке отраслей наук, осуществляет экспертизу социально-значимых проектов; участвует в разработке критериев экспертного анализа и экспертной оценки

									.accordion
										.accordion__head 4  уровень
											.accordion__head-plus
										.accordion__body 
											p Организует систему проведения экспертного оценивания результатов научной деятельности в рамках отрасли наук и на стыке отраслей наук, включая отбор и аттестацию (при необходимости) экспертов
								.toggle-content#tab-9
									.h6.strong Научно-технологическое предпринимательство

									p Осуществление предпринимательской деятельности, направленной на трансформацию фундаментальных научных знаний в промышленно применимые, экономически оправданные и востребованные рынком технологии

									p Компоненты: 
									ul 
										li Научно‐технологическая ориентация в отрасли
										li предпринимательское видение
										li ведение бизнеса, в т.ч. бизнес soft‐ skills



									.accordion
										.accordion__head 1 уровень
											.accordion__head-plus
										.accordion__body 
											p Знает основные элементы ведения бизнеса по продвижению научного продукта (экономические и юридические основы, принципы защиты интеллектуальной собственности и т.д.); владеет базовой отраслевой спецификой (актуальные научно-технические решения, базовые знания номенклатуры, работ, услуг и т.д.); имеет навыки разработки бизнес-планов (под руководством)

									.accordion
										.accordion__head  2 уровень
											.accordion__head-plus
										.accordion__body 
											p Видит пути продвижения научного продукта, имеет представление о его потенциальных потребителях, может сделать презентацию бизнес-проекта и сформулировать его преимущества; понимает направления развития технологий в отрасли и в смежных отраслях, знает участников отраслевого рынка; владеет навыками проектного управления; может грамотно использовать ресурсы, но не ответственен за их привлечение


									.accordion
										.accordion__head 3  уровень
											.accordion__head-plus
										.accordion__body 
											p Имеет видение развития компании/проекта на период 3-5 лет, знает конкурентов, может выстраивать стратегию на уровне 4P, управляет рисками, владеет переговорными приемами; прогнозирует актуальные тренды отрасли, имеет устойчивые связи с участниками отраслевого рынка; способен к автономному управлению проектом от идеи до внедрения; привлекает государственное и негосударственное финансирование

									.accordion
										.accordion__head 4  уровень
											.accordion__head-plus
										.accordion__body 
											p Имеет видение развития отрасли на 5-10 лет, понимает влияние макроэкономики на отрасль, обладает международным авторитетом среди экспертов отрасли; оказывает влияние на формирование трендов отрасли; организует ведение проектов в кооперации с другими организациями и структурами, привлекая материальные и нематериальные ресурсы

								.toggle-content#tab-10
									.h6.strong Управление в научной сфере

									p Управление исследовательскими структурами и проектами


									p Компоненты: 
									ul 
										li приоритезация стратегических и оперативных целей и задач
										li проектное управление
										li процессное управление
										li цифровые технологии управления




									.accordion
										.accordion__head 1 уровень
											.accordion__head-plus
										.accordion__body 
											p Приобретает знания и базовые навыки организационно-управленческой деятельности в научной сфере

									.accordion
										.accordion__head  2 уровень
											.accordion__head-plus
										.accordion__body 
											p Организует деятельность малого исследовательского коллектива для реализации проектов, не требующих значительных ресурсов


									.accordion
										.accordion__head 3  уровень
											.accordion__head-plus
										.accordion__body 
											p Управляет деятельностью исследовательского коллектива для реализации многозадачных/междисциплинарных проектов, требующих значительных ресурсов

									.accordion
										.accordion__head 4  уровень
											.accordion__head-plus
										.accordion__body 
											p Управляет автономной исследовательской структурой
								.toggle-content#tab-11
									.h6.strong Исследовательский опыт и профессиональные знания


									p Совокупность знаний и умений в профессиональной сфере, необходимых для реализации исследовательских задач разного уровня и масштаба

									p Компоненты: 
									ul 
										li Знания в профессиональной области
										li системное и критическое мышление
										li опыт проведения исследований, в том числе, навыки использования цифровой среды в исследовательской работе
										li исследовательская этика




									.accordion
										.accordion__head 1 уровень
											.accordion__head-plus
										.accordion__body 
											p Под научным руководством решает исследовательские задачи, применяя знания по научной специальности с учетом последних достижений мировой науки

									.accordion
										.accordion__head  2 уровень
											.accordion__head-plus
										.accordion__body 
											p Самостоятельно формулирует и решает исследовательские задачи с надлежащим качеством, расширяет границы научного знания и/или его применения

									.accordion
										.accordion__head 3  уровень
											.accordion__head-plus
										.accordion__body 
											p Формулирует комплекс исследовательских задач и организует их реализацию, разрабатывает новую научную концепцию/ теорию/метод, встраивает ее в сложившуюся систему знаний


									.accordion
										.accordion__head 4  уровень
											.accordion__head-plus
										.accordion__body 
											p Участвует в создании новых направлений исследований, разрабатывает стратегическое видение будущего развития отрасли науки/ междисциплинарных связей
								.toggle-content#tab-12
											.h6.strong Реализация жизненного цикла научного продукта

											p Реализация жизненного цикла научного продукта (ЖЦНП) или его отдельных этапов

											p Компоненты: 
											ul 
												li Реализация отдельных этапов или полного ЖЦНП
												li цифровые soft-skills (работа с данными, информационные технологии, программные средства)

											.accordion
												.accordion__head 1 уровень
													.accordion__head-plus
												.accordion__body 
													p Имеет представление о содержании всех этапов ЖЦНП, участвует в реализации отдельных этапов ЖЦНП под руководством (контролем, наблюдением) специалиста более высокой квалификации
											.accordion
												.accordion__head  2 уровень
													.accordion__head-plus
												.accordion__body 
													p Самостоятельно реализует/ организует реализацию отдельных этапов жизненного цикла научного продукта

											.accordion
												.accordion__head 3  уровень
													.accordion__head-plus
												.accordion__body 
													p Реализует/ организует реализацию полного жизненного цикла научного продукта, основанного на многозадачном/ междисциплинарном проекте

											.accordion
												.accordion__head 4  уровень
													.accordion__head-plus
												.accordion__body 
													p Организует реализацию полного жизненного цикла научного продукта, основанного на масштабном проекте (сетевом/ межотраслевом/ международном) или группе проектов
			+e.footer 
				+e.btns 
					+e.btn.btn.btn-darken(href="#") Ориентиры, траектории и инструменты профессионального роста
					+e.btn.btn.btn-primary(href="#") Оцени свои компетенции
				p Модель разработана Координационным советом по делам молодежи в научной и образовательной сферах Совета при Президенте Российской Федерации по науке и образованию и Ассоциацией классических университетов России при поддержке Фонда президентских грантов
				