mixin accordion-item2(t)
	+b.accordion-item--growth.bg-white&attributes(attributes)
		+e.head.h2= t
		+e.body
			block
mixin accordion-item3(t)
	+b.accordion-item&attributes(attributes)
		+e.head.h5= t
		+e.body
			block
mixin accordion2()
	.section.pt-0.pb-0.container.container--sm
		+accordion-item2('Рекомендации по реализации траекторий профессионального развития').active
			+b.base-diagrams
				+e.title Базовые &laquo;диаграммы компетенций&raquo; исследователей
				p Определение компетенций и уровни их развития можно найти в #[a(href='#') карте компетенций] <br> Ниже базовых «диаграмм компетенций» исследователя приведена шкала профессиональных позиций (должностей)  трека «Научные сотрудники», которая  примерно согласована с диаграммами компетенций  по уровню квалификации
				+e.list
					.row
						.col-md-6
							mixin item(c, t)
								+e.list-item
									+e.SPAN.list-count!= c
									+e.SPAN.list-text!= t
							+item(`1.`, `Исследовательский опыт и&nbsp;профессиональные знания`)
							+item(`2.`, `Реализация жизненного цикла научного продукта (ЖЦНП)`)
							+item(`3.`, `Лидерство`)
							+item(`4.`, `Научное творчество`)
							+item(`5.`, `Саморазвитие и&nbsp;профессиональный рост`)
							+item(`6.`, `Научно-технологическое предпринимательство`)
						.col-md-6
							+item(`7.`, `Социальная ответственность и&nbsp;взаимодействие с&nbsp;обществом`)
							+item(`8.`, `Взаимодействие с&nbsp;деловым сообществом и&nbsp;институтами публичной власти`)
							+item(`9.`, `Научное наставничество&nbsp;/ подготовка научных и&nbsp;научно- педагогических кадров`)
							+item(`10.`, `Научная экспертиза`)
							+item(`11.`, `Научно-технологическое предпринимательство`)
							+item(`12.`, `Управление в&nbsp;научной сфере`)
			+b.base-diagrams-banner
				+e.top
					.tabs.tabs--js
						.tabs__caption.row
							mixin btn(t, i) 
								.col-3.tabs__btn&attributes(attributes)
									+e.item
										+e.title.text-sm-center!= t
										+e.img-wrap
											img(src=`img/diagram-base-${i}.svg`, alt="")
							+btn(`Начинающий исследователь`, 1).active
							+btn(`Самостоятельный исследователь`, 2)
							+btn(`Исследователь высокой квалификации`, 3)
							+btn(`Исследователь высшей квалификации`, 4)
						mixin item(t, i)
							.col-3
								+e.item&attributes(attributes)
									+e.title.text-sm-center!=t
									+e.img-wrap
										img(src=`img/diagram-base-${i}.svg`, alt="")
						.tabs__wrap
							.tabs__content.active
								.row.row-20
									+item(`Ассистент Преподаватель`, 5).mb-0
									+item(`НС СНС`, 6).mb-0
							.tabs__content
								.row.row-20 
									+item(`Ассистент Преподаватель`, '2-1').mb-0
									+item(`НС СНС`, '2-2').mb-0
									+item(`&nbsp;`, '2-3').mb-0
							.tabs__content
								.row.row-20 
									+item(`Ассистент Преподаватель`, '3-1').mb-0
									+item(`НС СНС`, '3-2').mb-0
									+item(`&nbsp;`, '3-3').mb-0
							.tabs__content
								.row.row-20 
									+item(`Ассистент Преподаватель`, '3-1').mb-0
									+item(`НС СНС`, '3-2').mb-0
									+item(`&nbsp;`, '3-3').mb-0
				.row.row-35
					.col-auto
						+e.tooltip--blue Исходный уровень компетенций
					.col-auto
						+e.tooltip--red Необходимое развитие компетенций
					.col-12
						+e.tooltip--mixed.mb-0 Компетенция&nbsp;9 &laquo;Преподавание и&nbsp;научное наставничество&raquo; реализуется для трека &laquo;научные сотрудники&raquo; преимущественно в&nbsp;виде научного наставничества, а&nbsp;для трека &laquo;преподавание высшей школы&nbsp;&mdash; в&nbsp;форме преподавательской деятельности&raquo;
			+b.track
				+e.title Трек &laquo;Научные сотрудники&raquo;
				+e.list
					+e.list-item Стажер/Аспирант
					+e.list-item МНС
					+e.list-item НС
					+e.list-item СНС
					+e.list-item ВНС
					+e.list-item ГНС
					+e.list-item НРО
				p Для выстраивания &laquo;линейной&raquo; траектории профессионального роста по&nbsp;треку &laquo;Научные сотрудники&raquo; рекомендуется целенаправленно развивать те&nbsp;компетенции, которые приведены на&nbsp;базовых &laquo;диаграммах компетенций&raquo; для различных уровней квалификации исследователей.
				p Чтобы определить наборы компетенций, которые необходимо развивать для осуществления перехода с&nbsp;трека &laquo;Научные сотрудники&raquo; на&nbsp;сопряженные треки &laquo;Руководители в&nbsp;научной сфере&raquo; или &laquo;Преподаватели высшей школы&raquo;, можно воспользоваться специально разработанными экспертами для этих случаев диаграммами компетенций. Для этого необходимо выбрать интересующую базовую &laquo;диаграмму компетенций&raquo;, которая расположена ближе всего к&nbsp;профессиональной позиции (должности), которую&nbsp;Вы занимаете в&nbsp;настоящее время.
			

		+accordion-item2('Инструменты формирования компетенций')
			+e.table-wrap
				+b.TABLE.instruments
					thead
						tr.heading
							th(scope="col" rowspan="2"): +e.th-title Основные инструменты формирования <br> исследовательских компетенций
							th(scope="colgroup" colspan="12"): +e.th-title.text-left Компетенции
						tr 
							th(scope="col") 1
							th(scope="col") 2
							th(scope="col") 3
							th(scope="col") 4
							th(scope="col") 1
							th(scope="col") 2
							th(scope="col") 3
							th(scope="col") 4
							th(scope="col") 1
							th(scope="col") 2
							th(scope="col") 3
							th(scope="col") 4
					tbody 
						tr 
							th(scope="row") Работает под руководством (наблюдением) специалиста более высокой квалификации, углубляет и&nbsp;расширяет собственные знания, осваивает методы
							td +
							td
							td
							td
							td +
							td +
							td +
							td
							td
							td
							td
							td
						tr 
							th(scope="row") Освоение программы подготовки научно-педагогических кадров в&nbsp;аспирантуре
							td +
							td 
							td 
							td +
							td +
							td +
							td +
							td 
							td +
							td 
							td 
							td 
						tr 
							th(scope="row") Проведение научных исследований (под руководством&nbsp;/ самостоятельно)
							td +
							td +
							td 
							td +
							td +
							td +
							td 
							td 
							td 
							td 
							td 
							td 
						tr 
							th(scope="row") Систематическое использование национальных и&nbsp;международных реферативных баз публикаций, патентов, др.
							td +
							td +
							td 
							td +
							td +
							td +
							td 
							td 
							td 
							td 
							td 
							td 
						tr 
							th(scope="row") Участие в&nbsp;подготовке и&nbsp;выполнении исследовательских проектов в&nbsp;рамках национальных и&nbsp;международных программ поддержки научных исследований
							td +
							td +
							td 
							td 
							td +
							td +
							td +
							td 
							td +
							td +
							td +
							td 
						tr 
							th(scope="row") Выступление перед научной аудиторией с&nbsp;представлением научных результатов в&nbsp;различных форматах, включая подготовку презентационных материалов по&nbsp;теме проводимых исследований
							td +
							td 
							td +
							td 
							td +
							td +
							td 
							td +
							td 
							td 
							td 
							td 
						tr 
							th(scope="row") Подготовка и&nbsp;публикация научных результатов в&nbsp;профильных научных изданиях разного уровня
							td +
							td 
							td +
							td +
							td +
							td +
							td +
							td 
							td 
							td 
							td 
							td 
						tr 
							th(scope="row") Защита диссертации на&nbsp;соискание ученой степени
							td +
							td 
							td 
							td 
							td 
							td +
							td 
							td 
							td 
							td 
							td 
							td 
						tr 
							th(scope="row") Участие в&nbsp;научных мероприятиях национального и&nbsp;международного уровня
							td +
							td 
							td 
							td +
							td +
							td 
							td 
							td 
							td 
							td +
							td 
							td 
						tr 
							th(scope="row") Участие в&nbsp;работе научно-популярных масс-медиа, организации и&nbsp;проведении мероприятий, направленных на&nbsp;популяризацию науки и&nbsp;научных достижений
							td 
							td 
							td +
							td +
							td +
							td 
							td +
							td +
							td 
							td +
							td 
							td 
						tr 
							th(scope="row") Использование профессиональных социальных сетей и&nbsp;наличие профилей в&nbsp;научных онлайн-базах данных и&nbsp;на&nbsp;порталах программ поддержки научных исследований.
							td +
							td +
							td 
							td 
							td 
							td +
							td 
							td +
							td 
							td 
							td 
							td 
						tr 
							th(scope="row") Использование приложений и&nbsp;платформ дистанционной онлайн-коммуникации
							td +
							td +
							td 
							td +
							td 
							td +
							td +
							td +
							td 
							td 
							td 
							td 
			+b.indicative-list
				+e.title Примерный перечень дополнительных инструментов для развития компетенций в&nbsp;научной сфере и&nbsp;сопряженных сферах деятельности
				ol
					li #[span 1] Освоение программ дополнительного образования, направленных на&nbsp;развитие компетенций в&nbsp;научной сфере и&nbsp;сопряженных сферах деятельности (в&nbsp;том числе в&nbsp;Центрах компетенций при Научно-образовательных центрах мирового уровня, Центрах компетенций Национальной технологической инициативы)
					li #[span 2] Неформальное образование, в&nbsp;том числе с&nbsp;применением открытых образовательных ресурсов
					li #[span 3] Прохождение стажировок в&nbsp;российских и&nbsp;зарубежных научных центрах (в&nbsp;том числе на&nbsp;установках мега-класса, в&nbsp;Центрах коллективного пользования, на&nbsp;базе НОЦ, Центров НТИ и&nbsp;т.п.)
					li #[span 4] Участие в&nbsp;подготовке и&nbsp;выполнении исследовательских проектов в&nbsp;рамках национальных и&nbsp;международных программ поддержки научных исследований
					li #[span 5] Рецензирование публикаций в&nbsp;научных изданиях, научное редактирование
					li #[span 6] Проведение научной экспертизы результатов научной деятельности&nbsp;/ научных заявок&nbsp;/ научных программ
					li #[span 7] Проведение научной экспертизы социально-общественных проектов, программ, публикаций, участие в&nbsp;работе экспертных организаций за&nbsp;пределами сферы научных исследований
					li #[span 8] Участие в&nbsp;организации научных мероприятий различного уровня
					li #[span 9] Научное руководство коллективными исследовательскими проектами
					li #[span 10] Руководство исследовательскими лабораториями&nbsp;/ центрами&nbsp;/ организациями
					li #[span 11] Управление отдельными этапами или всем жизненным циклом научного продукта
					li #[span 12] Прохождение специализированных программ и&nbsp;тренингов, участие в&nbsp;конкурсах (в&nbsp;том числе в&nbsp;конкурсе управленцев &laquo;Лидеры России&raquo;), развивающих персональные навыки и&nbsp;лидерские качества
					li #[span 13] Руководство начинающими исследователями
					li #[span 14] Преподавание по&nbsp;программам высшего и&nbsp;дополнительного образования
					li #[span 15] Участие в&nbsp;работе структур, осуществляющих популяризацию науки и&nbsp;научных достижений
					li #[span 16] Участие в&nbsp;мероприятиях бизнес-сообщества, заинтересованного в&nbsp;результатах проводимых исследований
					li #[span 17] Коммерциализация научного продукта&nbsp;/ результатов интеллектуальной деятельности
					li #[span 18] Формирование технического задания, документальное оформление научно-прикладной разработки
					li #[span 19] Получение зарегистрированных результатов интеллектуальной деятельности.
					li #[span 20] Участие в&nbsp;формировании стратегий/программ/ дорожных карт для развития отрасли наук на&nbsp;национальном/ региональном уровне
					li #[span 21] Участие в&nbsp;работе профильных советов (комиссий, объединений и&nbsp;др.) разного уровня, созданных при государственных структурах, деятельность которых направлена на&nbsp;выработку решений в&nbsp;области государственной научной политики и&nbsp;содействию их&nbsp;реализации
				.text-center 
					a.foot-btn(class="btn btn-primary" href="#") Рекомендации по поиску инструментов формирования компетенций
		+accordion-item2('Реализация ЖЦНП')
			+e.subtitle Реализация жизненного цикла научного продукта многие инструменты работают на&nbsp;развитие нескольких компетенций
			+e.list-item
				+e.count--sm 1 этап
				div 
					.h6.text-primary Генерирование идеи, гипотезы, предложения
					ul 
						li Генерирование идеи, гипотезы, предложения	Генерирование идеи, оформление концепции исследования
						li Работа с&nbsp;информацией (поиск, критический анализ, систематизация, и&nbsp;т.п.)
						li Изучение национальных и&nbsp;глобальных стратегий и&nbsp;приоритетов
						li Проведение патентных исследований (при необходимости) и&nbsp;т.п.
			+e.list-item
				+e.count--sm 2 этап
				div 
					.h6.text-primary Определение методологии, методов и инструментов исследования. Оценка требуемых ресурсов
					ul 
						li Определение методологии, методов и&nbsp;инструментов исследования. Оценка требуемых ресурсов	Определение методологии, методов и&nbsp;инструментов исследования
						li Анализ имеющих отношения к&nbsp;исследованию и&nbsp;РИДам стандартов (нормативов) , в&nbsp;т.ч. стандартов качества
						li Оценка требуемых ресурсов, в&nbsp;том числе определение необходимого кадрового потенциала для проведения исследования. 
			+e.list-item
				+e.count--sm 3 этап
				div 
					.h6.text-primary Анализ собственных ресурсов. Поиск и&nbsp;получение подходящих поддержек. Установление отношений с&nbsp;партнерами
					ul 
						li Анализ собственных ресурсов. Поиск и&nbsp;получение подходящих поддержек. Установление отношений с&nbsp;партнерами	Работа с&nbsp;потенциальным заказчиком (потребителем) научного продукта
						li Оформление заявок и&nbsp;других документов
						li Поиск подходящих форм государственной или иной поддержки 
			+e.list-item
				+e.count--sm 4 этап
				div 
					.h6.text-primary Составление плана проведения исследований с&nbsp;учетом имеющихся ресурсов
					ul 
						li Составление плана проведения исследований с&nbsp;учетом имеющихся ресурсов	 Составление плана проведения исследований в&nbsp;соответствии с&nbsp;имеющимися ресурсами 
						li Подбор специалистов с&nbsp;требуемыми компетенциями
			+e.list-item
				+e.count--sm 5 этап
				div 
					.h6.text-primary Организация и проведение исследования в соответствии с планом
					ul 
						li Организация и&nbsp;проведение исследования в&nbsp;соответствии с&nbsp;планом	Работа с&nbsp;имеющейся научной информацией (в&nbsp;том числе с&nbsp;глобальными базами данных, специализированными открытыми ресурсами)
						li Организация необходимых взаимодействий (внутри коллектива, с&nbsp;российскими и&nbsp;зарубежными коллегами, с&nbsp;партнерами, с&nbsp;будущим потребителем)
						li Оптимальное использование ресурсов (кадровых, материально-технических, финансовых)
						li Формулирование краткосрочных и&nbsp;перспективных задач для каждого члена научного коллектива, контроль и&nbsp;проведение необходимых корректировок
			+e.list-item
				+e.count--sm 6 этап
				div 
					.h6.text-primary Апробация полученных результатов (при необходимости их&nbsp;испытание
					ul 
						li Апробация полученных результатов (при необходимости их&nbsp;испытание)	Организация добросовестной апробации полученных результатов
						li Обсуждение в&nbsp;академической и&nbsp;профессиональной среде (научные семинары и&nbsp;конференции), открытые публикации (при отсутствии ограничений)
						li Выбор формы правовой защиты полученного РИД, совершение необходимых действий по&nbsp;осуществлению правовой защиты и&nbsp;т.п. 
			+e.list-item
				+e.count--sm 7 этап
				div 
					.h6.text-primary Надлежащее оформление научных результатов, регистрация и&nbsp;защита результатов интеллектуальной деятельности (РИД)
					ul 
						li Надлежащее оформление научных результатов, регистрация и&nbsp;защита результатов интеллектуальной деятельности (РИД)	Оформление результатов в&nbsp;соответствии с&nbsp;поставленными задачами (отчеты, статьи, доклады)
						li Выбор формы правовой защиты полученного РИД, совершение необходимых действий по&nbsp;осуществлению правовой защиты и&nbsp;т.п. 
			+e.list-item
				+e.count--sm 8 этап
				div 
					.h6.text-primary Внедрение&nbsp;и (или) коммерциализации научного продукта
					ul 
						li Внедрение&nbsp;и (или) коммерциализации научного продукта	Осуществление необходимых коммуникаций и&nbsp;взаимодействий для поиска потребителей научного продукта 
						li Реализация плана продвижения научного продукта
						li Составление плана продвижения (или бизнес-проекта) по&nbsp;внедрению (коммерциализации) научного продукта
						li Выбор способа внедрения (коммерциализации) научного продукта
			+e.list-item
				+e.count--sm 9 этап
				div 
					.h6.text-primary Проведение мониторинга внедрения&nbsp;и (или) коммерциализации научного продукта, введение улучшений и&nbsp;изменений
					ul 
						li Проведение мониторинга внедрения&nbsp;и (или) коммерциализации научного продукта, введение улучшений и&nbsp;изменений	Мониторинг внедрения научного продукта
						li Осуществление корректировки плана продвижения (при необходимости)
						li Корректировки, улучшения, изменения 
						li Оценка возможных перспектив дальнейших исследований и&nbsp;получения новых РИД
			.logos.pt-60
				.row.align-items-center.text-center
					.col-4 
						img(src="img/logo-1.png", alt="")
					.col-4 
						img(src="img/logo-2.png", alt="")
					.col-4 
						img(src="img/logo-3.png", alt="")

		
mixin accordion3()
	.section.pt-0.pb-0.container.container--sm
		+accordion-item2('Образовательные программы')
			p Программы подготовки научных и&nbsp;научно-педагогических кадров в&nbsp;аспирантуре являются основными образовательными программами, формирующими компетенции, необходимые для начала карьеры в&nbsp;научной сфере и&nbsp;сопряженных сферах деятельности. 

			p Успешное освоение программы аспирантуры&nbsp;&mdash; защита научно-квалификационной работы по&nbsp;результатам самостоятельного научного исследования, выполненного под руководством опытного наставника и&nbsp;получение ученой степени&nbsp;&mdash; позволяет исследователю автоматически переместиться с&nbsp;первого уровня квалификации (начинающий исследователь) на&nbsp;второй уровень квалификации (самостоятельный исследователь и/или руководитель малого исследовательского коллектива), претендовать на&nbsp;получение целого ряда финансовых и&nbsp;иных поддержек от&nbsp;государственных или коммерческих фондов, выстраивать траекторию своего профессионального развития как в&nbsp;научной сфере, так и&nbsp;в&nbsp;других сферах деятельности, таких как научно-технологическое предпринимательство, экспертная деятельность, преподавательская деятельность. 

			p Одновременно с&nbsp;обучением в&nbsp;магистратуре/ аспирантуре или после завершения обучения начинающий исследователь может осваивать программы дополнительного профессионального образования (ДПО), направленные на&nbsp;развитие тех компетенций, которым в&nbsp;программах магистратуры/аспирантуры не&nbsp;уделено достаточно внимания (например, компетенций Научная кооперация и&nbsp;коммуникация, Управление в&nbsp;научной сфере, Научно-технологическое предпринимательство и&nbsp;других).

			p Выбирая образовательную/ научную организацию для обучения по&nbsp;программе магистратуры, программе аспирантуры, программе ДПО важно ориентироваться на&nbsp;организации, имеющие высокий научный/ научно-технический потенциал в&nbsp;интересующей вас области науки/ технологий и&nbsp;реализующие полный жизненный цикл научного продукта. 

			p Рекомендуем внимательно изучить основные и&nbsp;дополнительные программы профессионального образования, предлагаемые Центрами компетенций, созданными в&nbsp;различных отраслях науки и&nbsp;технологий в&nbsp;последние годы.
			+accordion-item3('Центры развития компетенций при Научно-образовательных центрах мирового уровня')
				ul.text-primary 
					li НОЦ мирового уровня «Инновационные решения в АПК», Белгородская область 
					li НОЦ мирового уровня «Кузбасс», Кемеровская область 
					li НОЦ мирового уровня «Техноплатформа 2035», Нижегородская область
					li Пермский НОЦ мирового уровня «Рациональное недропользование», Пермский край 
					li Западно-Сибирский межрегиональный НОЦ мирового уровня, Тюменская область, Ханты-Мансийский автономный округ – Югра и Ямало-Ненецкий автономный округ 
					li НОЦ мирового уровня «Инженерия будущего», Самарская область, Пензенская область, Тамбовская область, Ульяновская область, Республика Мордовия
					li Уральский межрегиональный НОЦ мирового уровня «Передовые производственные технологии и материалы», Свердловская область, Челябинская область, Курганская область 
					li НОЦ мирового уровня "Российская Арктика: новые материалы, технологии и методы исследования", Архангельская область, Мурманская область, Ненецкий автономный округ 
					li НОЦ мирового уровня "ТулаТЕХ", Тульская область
					li НОЦ "Евразийский научно-образовательный центр мирового уровня", Республика Башкортостан

			
			+accordion-item3('Открытые образовательные онлайн-платформы')
				ul.text-primary 
					li НОЦ мирового уровня «Инновационные решения в АПК», Белгородская область 
					li НОЦ мирового уровня «Кузбасс», Кемеровская область 
					li НОЦ мирового уровня «Техноплатформа 2035», Нижегородская область
					li Пермский НОЦ мирового уровня «Рациональное недропользование», Пермский край 
					li Западно-Сибирский межрегиональный НОЦ мирового уровня, Тюменская область, Ханты-Мансийский автономный округ – Югра и Ямало-Ненецкий автономный округ 
					li НОЦ мирового уровня «Инженерия будущего», Самарская область, Пензенская область, Тамбовская область, Ульяновская область, Республика Мордовия
					li Уральский межрегиональный НОЦ мирового уровня «Передовые производственные технологии и материалы», Свердловская область, Челябинская область, Курганская область 
					li НОЦ мирового уровня "Российская Арктика: новые материалы, технологии и методы исследования", Архангельская область, Мурманская область, Ненецкий автономный округ 
					li НОЦ мирового уровня "ТулаТЕХ", Тульская область
					li НОЦ "Евразийский научно-образовательный центр мирового уровня", Республика Башкортостан

			
			+accordion-item3('Электронные базы научной информации')
				ul.text-primary 
					li НОЦ мирового уровня «Инновационные решения в АПК», Белгородская область 
					li НОЦ мирового уровня «Кузбасс», Кемеровская область 
					li НОЦ мирового уровня «Техноплатформа 2035», Нижегородская область
					li Пермский НОЦ мирового уровня «Рациональное недропользование», Пермский край 
					li Западно-Сибирский межрегиональный НОЦ мирового уровня, Тюменская область, Ханты-Мансийский автономный округ – Югра и Ямало-Ненецкий автономный округ 
					li НОЦ мирового уровня «Инженерия будущего», Самарская область, Пензенская область, Тамбовская область, Ульяновская область, Республика Мордовия
					li Уральский межрегиональный НОЦ мирового уровня «Передовые производственные технологии и материалы», Свердловская область, Челябинская область, Курганская область 
					li НОЦ мирового уровня "Российская Арктика: новые материалы, технологии и методы исследования", Архангельская область, Мурманская область, Ненецкий автономный округ 
					li НОЦ мирового уровня "ТулаТЕХ", Тульская область
					li НОЦ "Евразийский научно-образовательный центр мирового уровня", Республика Башкортостан

			
			+accordion-item3('Сервисные электронные платформы для научной коммуникации и кооперации')
				ul.text-primary 
					li НОЦ мирового уровня «Инновационные решения в АПК», Белгородская область 
					li НОЦ мирового уровня «Кузбасс», Кемеровская область 
					li НОЦ мирового уровня «Техноплатформа 2035», Нижегородская область
					li Пермский НОЦ мирового уровня «Рациональное недропользование», Пермский край 
					li Западно-Сибирский межрегиональный НОЦ мирового уровня, Тюменская область, Ханты-Мансийский автономный округ – Югра и Ямало-Ненецкий автономный округ 
					li НОЦ мирового уровня «Инженерия будущего», Самарская область, Пензенская область, Тамбовская область, Ульяновская область, Республика Мордовия
					li Уральский межрегиональный НОЦ мирового уровня «Передовые производственные технологии и материалы», Свердловская область, Челябинская область, Курганская область 
					li НОЦ мирового уровня "Российская Арктика: новые материалы, технологии и методы исследования", Архангельская область, Мурманская область, Ненецкий автономный округ 
					li НОЦ мирового уровня "ТулаТЕХ", Тульская область
					li НОЦ "Евразийский научно-образовательный центр мирового уровня", Республика Башкортостан

			
			
			+accordion-item3('Сервисные электронные платформы для саморазвития и профессионального роста')
				ol
					li 
						.h6.strong.text-primary Science ID 
						| национальная идентификационно-коммуникационная сервисная платформа для молодых ученых, инженеров и технологических-предпринимателей, позволяет молодым российским ученым отразить свою активность как перспективных научных лидеров. Реализованы следующие функции: доступ к единой базе молодых ученых, заинтересованных в своем профессиональном развитии; отражение профессионального и карьерного роста ученых; сервис по организации научных мероприятий и регистрации участников; единый календарь научных мероприятий с возможностью быстрой регистрации. Процедура подачи заявок в научные фонды упрощена за счет интеграции информационных систем. Организован доступ на льготных условиях к сервисам коммерческих партнеров. Среди дополнительных возможностей системы – доступ к информационной инфраструктуре научных и образовательных организаций и участие в международных программах академической лояльности.
					li 
						.h6.strong.text-primary Молодежная команда страны
						| В рамках развития молодежного самоуправления Федеральное агентство по делам молодежи «Росмолодежь» реализует федеральный проект «Молодежная команда страны», направленный на создание системы поиска, отбора и подготовки молодых лидеров посредством их вовлечения в процесс управления обществом и развития  у них управленческих компетенций в общественно-политической сфере с целью качественного обновления органов власти всех уровней. На платформе Росмолодежи (http://grant.myrosmol.ru/webinars/) имеются информационно-аналитические материалы, а также вебинары и видеофайлы по вопросам наставничества, личного и профессионального роста, проектной деятельности, социальной ответственности
						
					li 
						.h6.strong.text-primary Британская кооперативная платформа Vitae 
						| стала одним из мировых лидеров в поддержке профессионального и карьерного развития исследователе. Она содействует повышению уровня научных исследований, реализации инновационных проектов и расширению взаимодействия с бизнесом и обществом.  Партнерами платформы являются правительства, финансирующие исследования, научные объединения, профессиональные организации, трасты и фонды, университеты и научно-исследовательские центры. Vitae тесно связана с центром повышения квалификации и профессионального развития исследователей всех уровней развития во всех областях науки Careers Research & Advisory Centre (CRAC). Платформа предлагает образовательные ресурсы, а также служит площадкой для обмена передовым опытом ученых Великобритании, Европы, Америки, Австралии и Японии.
			+accordion-item3('Электронные платформы для популяризации науки и научных достижений')
				ol
					li 
						.h6.strong.text-primary Science ID 
						| национальная идентификационно-коммуникационная сервисная платформа для молодых ученых, инженеров и технологических-предпринимателей, позволяет молодым российским ученым отразить свою активность как перспективных научных лидеров. Реализованы следующие функции: доступ к единой базе молодых ученых, заинтересованных в своем профессиональном развитии; отражение профессионального и карьерного роста ученых; сервис по организации научных мероприятий и регистрации участников; единый календарь научных мероприятий с возможностью быстрой регистрации. Процедура подачи заявок в научные фонды упрощена за счет интеграции информационных систем. Организован доступ на льготных условиях к сервисам коммерческих партнеров. Среди дополнительных возможностей системы – доступ к информационной инфраструктуре научных и образовательных организаций и участие в международных программах академической лояльности.
					li 
						.h6.strong.text-primary Молодежная команда страны
						| В рамках развития молодежного самоуправления Федеральное агентство по делам молодежи «Росмолодежь» реализует федеральный проект «Молодежная команда страны», направленный на создание системы поиска, отбора и подготовки молодых лидеров посредством их вовлечения в процесс управления обществом и развития  у них управленческих компетенций в общественно-политической сфере с целью качественного обновления органов власти всех уровней. На платформе Росмолодежи (http://grant.myrosmol.ru/webinars/) имеются информационно-аналитические материалы, а также вебинары и видеофайлы по вопросам наставничества, личного и профессионального роста, проектной деятельности, социальной ответственности
						
					li 
						.h6.strong.text-primary Британская кооперативная платформа Vitae 
						| стала одним из мировых лидеров в поддержке профессионального и карьерного развития исследователе. Она содействует повышению уровня научных исследований, реализации инновационных проектов и расширению взаимодействия с бизнесом и обществом.  Партнерами платформы являются правительства, финансирующие исследования, научные объединения, профессиональные организации, трасты и фонды, университеты и научно-исследовательские центры. Vitae тесно связана с центром повышения квалификации и профессионального развития исследователей всех уровней развития во всех областях науки Careers Research & Advisory Centre (CRAC). Платформа предлагает образовательные ресурсы, а также служит площадкой для обмена передовым опытом ученых Великобритании, Европы, Америки, Австралии и Японии.
			+accordion-item3('Электронные платформы для взаимодействия науки и делового сообщества ')
				ol
					li 
						.h6.strong.text-primary Science ID 
						| национальная идентификационно-коммуникационная сервисная платформа для молодых ученых, инженеров и технологических-предпринимателей, позволяет молодым российским ученым отразить свою активность как перспективных научных лидеров. Реализованы следующие функции: доступ к единой базе молодых ученых, заинтересованных в своем профессиональном развитии; отражение профессионального и карьерного роста ученых; сервис по организации научных мероприятий и регистрации участников; единый календарь научных мероприятий с возможностью быстрой регистрации. Процедура подачи заявок в научные фонды упрощена за счет интеграции информационных систем. Организован доступ на льготных условиях к сервисам коммерческих партнеров. Среди дополнительных возможностей системы – доступ к информационной инфраструктуре научных и образовательных организаций и участие в международных программах академической лояльности.
					li 
						.h6.strong.text-primary Молодежная команда страны
						| В рамках развития молодежного самоуправления Федеральное агентство по делам молодежи «Росмолодежь» реализует федеральный проект «Молодежная команда страны», направленный на создание системы поиска, отбора и подготовки молодых лидеров посредством их вовлечения в процесс управления обществом и развития  у них управленческих компетенций в общественно-политической сфере с целью качественного обновления органов власти всех уровней. На платформе Росмолодежи (http://grant.myrosmol.ru/webinars/) имеются информационно-аналитические материалы, а также вебинары и видеофайлы по вопросам наставничества, личного и профессионального роста, проектной деятельности, социальной ответственности
						
					li 
						.h6.strong.text-primary Британская кооперативная платформа Vitae 
						| стала одним из мировых лидеров в поддержке профессионального и карьерного развития исследователе. Она содействует повышению уровня научных исследований, реализации инновационных проектов и расширению взаимодействия с бизнесом и обществом.  Партнерами платформы являются правительства, финансирующие исследования, научные объединения, профессиональные организации, трасты и фонды, университеты и научно-исследовательские центры. Vitae тесно связана с центром повышения квалификации и профессионального развития исследователей всех уровней развития во всех областях науки Careers Research & Advisory Centre (CRAC). Платформа предлагает образовательные ресурсы, а также служит площадкой для обмена передовым опытом ученых Великобритании, Европы, Америки, Австралии и Японии.


		+accordion-item2('Поддержки начинающих и молодых исследователей')
			p Возможные формы поддержки начинающих и молодых ученых распределены по стипендиям, персональнам грантам, конкурсам исследовательских проектов и другим видам, и сгруппированы по критерию наличия ученой степени для получения поддержки.
			+accordion-item3('Начинающий исследователь без степени')
				.h6.strong.mb-3 Стипендии
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Стипендии Президента Российской Федерации молодым ученым и аспирантам, осуществляющим перспективные научные исследования и разработки по приоритетным направлениям модернизации российской экономики на 2021-2023 гг.
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Некоммерческий Международный благотворительный фонд "Научное партнерство". Стипендии одаренным студентам и аспирантам
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Фонд поддержки образования и науки (Алферовский фонд) Гранты и стипендии
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Благотворительный фонд В. Потанина Стипендиальная программа для студентов и преподавателей
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Благотворительный фонд культурных инициатив (Фонд Михаила Прохорова)
				.h6.strong.mb-3 Стипендии
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Фонд Президентских грантов
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Неправительственный экологический фонд имени В.И.Вернадского
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Благотворительный фонд "Вольное Дело"
				.h6.strong.mb-3 Стипендии
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Некоммерческий Международный благотворительный фонд "Научное партнерство" Стипендии одаренным студентам и аспирантам
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Благотворительный фонд "Вольное Дело"
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Российский научный фонд (РНФ). Конкурс «Проведение исследований научными лабораториями мирового уровня в рамках реализации приоритетов научно-технологического развития Российской Федерации»
				.h6.strong.mb-3 Стипендии
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Благотворительный фонд В. Потанина. Стипендиальная программа для студентов и преподавателей
			+accordion-item3('Молодой ученый - кандидат наук')
				.h6.strong.mb-3 Стипендии
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Стипендии Президента Российской Федерации молодым ученым и аспирантам, осуществляющим перспективные научные исследования и разработки по приоритетным направлениям модернизации российской экономики на 2021-2023 гг.
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Некоммерческий Международный благотворительный фонд "Научное партнерство". Стипендии одаренным студентам и аспирантам
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Фонд поддержки образования и науки (Алферовский фонд) Гранты и стипендии
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Благотворительный фонд В. Потанина Стипендиальная программа для студентов и преподавателей
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Благотворительный фонд культурных инициатив (Фонд Михаила Прохорова)
				.h6.strong.mb-3 Стипендии
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Фонд Президентских грантов
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Неправительственный экологический фонд имени В.И.Вернадского
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Благотворительный фонд "Вольное Дело"
				.h6.strong.mb-3 Стипендии
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Некоммерческий Международный благотворительный фонд "Научное партнерство" Стипендии одаренным студентам и аспирантам
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Благотворительный фонд "Вольное Дело"
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Российский научный фонд (РНФ). Конкурс «Проведение исследований научными лабораториями мирового уровня в рамках реализации приоритетов научно-технологического развития Российской Федерации»
				.h6.strong.mb-3 Стипендии
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Благотворительный фонд В. Потанина. Стипендиальная программа для студентов и преподавателей
			+accordion-item3('Молодой ученый - доктор наук')
				.h6.strong.mb-3 Стипендии
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Стипендии Президента Российской Федерации молодым ученым и аспирантам, осуществляющим перспективные научные исследования и разработки по приоритетным направлениям модернизации российской экономики на 2021-2023 гг.
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Некоммерческий Международный благотворительный фонд "Научное партнерство". Стипендии одаренным студентам и аспирантам
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Фонд поддержки образования и науки (Алферовский фонд) Гранты и стипендии
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Благотворительный фонд В. Потанина Стипендиальная программа для студентов и преподавателей
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Благотворительный фонд культурных инициатив (Фонд Михаила Прохорова)
				.h6.strong.mb-3 Стипендии
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Фонд Президентских грантов
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Неправительственный экологический фонд имени В.И.Вернадского
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Благотворительный фонд "Вольное Дело"
				.h6.strong.mb-3 Стипендии
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Некоммерческий Международный благотворительный фонд "Научное партнерство" Стипендии одаренным студентам и аспирантам
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Благотворительный фонд "Вольное Дело"
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Российский научный фонд (РНФ). Конкурс «Проведение исследований научными лабораториями мирового уровня в рамках реализации приоритетов научно-технологического развития Российской Федерации»
				.h6.strong.mb-3 Стипендии
				.py-2.px-3.text-primary.bg-white.strong.mb-3 Благотворительный фонд В. Потанина. Стипендиальная программа для студентов и преподавателей
		+accordion-item2('Видео-рекомендации начинающим исследователям «Наука молодая: траектория открытий»')
			mixin video(t)
				.col-6 
					+b.video-item(href="https://www.youtube.com/watch?v=KS2ngnRAKlg&list=PLqKQF2ojwm3llpxoP1rzoz7TE2Fpo4Zhp&index=3" data-fancybox)
						+e.DIV.img-wrap
							img(src="img/video.jpg", alt="")
							+e.btn
						+e.DIV.title= t
			.row
				+video("Как построить траекторию развития в области научных исследований")
				+video("Как идею превратить в научный результат")
				+video("Как найти свое научное призвание")
				+video("Научные траектории молодых ученых в области естественных и технических наук")
				+video("Научный путь молодых ученых в гуманитарной сфере")
				+video("Точка кипения – как вступить на путь исследований")