include ../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
mixin head()
	doctype html
	html(lang='ru-RU')
		// Mirrored from scienceid.net/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Feb 2021 09:33:21 GMT
		// Added by HTTrack
		head
			meta(http-equiv='content-type' content='text/html;charset=UTF-8')
			// /Added by HTTrack
			meta(charset='UTF-8')
			meta(http-equiv='X-UA-Compatible' content='IE=Edge')
			title
				| КОМПЕТЕНЦИИ В НАУКЕ
			// suppress HtmlUnknownTarget
			link(href='apple-touch-icon.png' rel='apple-touch-icon' sizes='180x180')
			// suppress HtmlUnknownTarget
			link(type='image/png' href='favicon-32x32.png' rel='icon' sizes='32x32')
			// suppress HtmlUnknownTarget
			link(type='image/png' href='favicon-16x16.png' rel='icon' sizes='16x16')
			// suppress HtmlUnknownTarget
			link(href='site.webmanifest' rel='manifest')
			// suppress HtmlUnknownTarget
			link(href='safari-pinned-tab.svg' rel='mask-icon' color='#0284d2')
			meta(name='apple-mobile-web-app-title' content='SCIENCE-ID')
			meta(name='application-name' content='SCIENCE-ID')
			meta(name='msapplication-TileColor' content='#0284d2')
			meta(name='theme-color' content='#ffffff')
			meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0')
			meta(name='format-detection' content='telephone=no')
			meta(name='mailru-verification' content='aa14ef43210cb631')
			meta(name='csrf-param' content='_csrf')
			meta(name='csrf-token' content='Ajpn_ruX_-oZyO9ozOmBzMmeoANPn6HE3IXv296cM1pmfgzMis3O3FP-twyAv_OkqvjPQAvI4qi6sa2xqKtQHg==')
			link(href='css/1stylefc59.css?v=1605178297' rel='stylesheet')
			link(href='css/stylec0c7.css?v=1605178298' rel='stylesheet')
			link(href='css/3evgenib9b5.css?v=1604335222' rel='stylesheet')
			link(href='css/2fgorsky22f5.css?v=1571670897' rel='stylesheet')
			link(href='css/4maer22f5.css?v=1571670897' rel='stylesheet')
			link(href='css/5anton22f5.css?v=1571670897' rel='stylesheet')
			link(href='css/roman311a.css?v=1581333435' rel='stylesheet')
			//- link(href='css/tooltipster.bundle4fe5.css?v=1571670899' rel='stylesheet')

			link(href='https://cdnjs.cloudflare.com/ajax/libs/tooltipster/4.2.8/css/tooltipster.bundle.css' rel='stylesheet')
			link(href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css' rel='stylesheet')
			link(href='css/custom.css' rel='stylesheet')
		body#body(data-public-url='index.html')
			.wrapper
				.header
					.container
						.row
							.col-12
								.header__wrapper
									a.logo(href='index.html') SCIENCE-ID
									.menu
										a.menu__btn(href='#')
										ul.menu__content
											li.menu__item
												a.menu__link(href='login.html')
													| Пользователи
											li.menu__item
												a.menu__link(href='login.html')
													| Мероприятия
											li.menu__item
												a.menu__link(href='login.html')
													| Вакансии
											li.menu__item
												a.menu__link(href='login.html')
													| Группы
											li.menu__item
												a.menu__link
												a.menu__link(href='news.html')
													| Новости
											li.menu__item
												a.menu__link(href='contacts.html')
													| Контакты
									.header__enter
										.guest.user__btn
											a.header__enter-button(href='#')
										.header__enter-content
											a.btn.btn-link.header__enter-link(href='login.html')
												| Войти
											a.btn.btn-primary.header__enter-link(href='registration.html')
												| Регистрация
				block