mixin logos()
	.logos.container.container--sm
		.row.align-items-center.text-center
			.col-4 
				img(src="img/logo-1.png", alt="")
			.col-4 
				img(src="img/logo-2.png", alt="")
			.col-4 
				img(src="img/logo-3.png", alt="")